// stylesheet :: academics section layout + content styles

    // settings
    $academics_fx : all 320ms $oquin 0ms;
    $section_color : transparentize( $nite, 0.365 );

    $billboard : '../img/billboards/billboard.30.jpg';

    // styles
    #academics {

        @include shadowbox( 2rem, 7rem, black, 0.625 );

        // menu open state
        &.site-menu-open {

            // content
            .section-content {

                opacity: 0.000;

                transition: all 40ms linear 0ms;

            }

        }

        // container
        .article-container {

            height: 100vh;
            padding: 0 0 0 0;

        }

        // image
        .section-image {

            @include fullscreen( absolute, 10, true, hidden );

            background: {

                image: url($billboard);
                repeat: no-repeat;
                size: cover;
                position: center center;

            }

        }

        // color base
        .section-base {

            width: 100vw;
            height: 100vh;

            @include fill( $section_color, 0.000 );

        }

        // title
        .section-title {

            @include hide;

            position: absolute;

            top: 12rem;

            @include color( $gold, 0.000 );

        }

        // content
        .section-content {

            @include flex-h-j-v-c( false );

            width: 100vw;
            // height: 100vh;
            height: auto;
            padding: 10rem 5rem 10rem 5rem;

            opacity: 1.000;

            transition: all 40ms linear 160ms;

            // mobile
            @include breakpoint ( small only ) {

                @include flex-v-c-h-c( false );

                padding: 6rem 2rem 6rem 2rem;

            }

        }

        // content
        .content-layer {

            //

        }

        // video
        #video-layer {

            width: 60%;

            @include shadowbox( 1rem, 3.5rem, black, 0.285 );

            // mobile
            @include breakpoint ( small only ) {

                width: 100%;

            }

        }

        // text
        #text-layer {

            @include flex-v-c-h-s( false );

            width: 40%;
            padding: 0 0 0 2rem;

            // mobile
            @include breakpoint ( small only ) {

                width: 100%;
                padding: 2.5rem 0 0 0;

            }

            // title
            .layer-title {

                @include flex-h-s-v-c( false );

                margin: 0 0 1rem 0;

                @include font( $klavislim, 2.25rem, 400 );

                @include text( $up );

                @include typo( 2rem, 0.045em );

                @include color( $gold, 0.000 );

            }

            // text
            .layer-text {

                margin: 1rem 0 1rem 0;

                @include font( $industry, 0.875rem, 600 );

                @include typo( 1.25rem, 0.035em );

                @include color( white, 0.000 );

            }

            // button
            .layer-link {

                @include flex-h-c-v-c( false );

                height: 4rem;
                margin: 1rem 0 0 0;
                padding: 0.0625rem 1.5rem 0 1.5rem;

                @include font( $klavislim, 1rem, 400 );

                @include text( $up );

                @include typo( 0.75rem, 0.045em );

                @include color( white, 0.000 );

                @include fill( white, 0.965 );

                @include shadowbox( 1rem, 3rem, black, 0.325 );

                transition: all 320ms $outex 0ms;

                // hover state
                &:hover {

                    @include fill( white, 0.915 );

                }

            }

        }

        // video container
        .video-container {

            position: relative;

            max-width: 100%;
            height: 0;
            padding-bottom: 56.25%;

            overflow: hidden;

            // video
            iframe {

                position: absolute;

                top: 0;
                left: 0;

                width: 100%;
                height: 100%;

            }

        }

    }
