// stylesheet :: facilities section layout + content styles

    // settings
    $facilities_fx : all 320ms $oquin 0ms;
    $section_color : transparentize( $roarange, 0.185 );
    $section_color :

        linear-gradient(

            0deg,
            transparentize( $roarange, 1.000 ) 0%,
            transparent 60%

        )

    ;

    // styles
    #facilities {

        // focus state
        &:focus {

            .section-base {

                // @include fill( red, 0.625 );

            }

        }

        // billboard
        .section-image {

            background: {

                position: center bottom;

            }

            // opacity: 0.215 !important;

            transition: all 720ms $ocirc 0ms;

        }

        // color
        .section-base {

            // @include fill( $section_color, 0.000 );

            background:

                $section_color

            ;

            @include fill( $roarange, 0.185 );

        }

        // title
        .section-title {

            // @include hide;

            color: white;

        }

        // content
        .section-content {

            // viewer
            #facilities-viewer {

                position: absolute;

                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                z-index: 30;

                @include flex-h-s-v-b( false );

                width: calc( 100vw + 2rem );
                height: calc( 100vh + 2rem );
                margin: 0;
                padding: 0;

                background: {

                    // image: url(../img/billboards/billboard.06.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: center bottom;

                }

                opacity: 0.000;

                transform: translate3d( -30%, 0, 0 );

                transition: background 720ms $ocirc 0ms;

                // default state
                &.empty {

                    // overlay
                    &:before {

                        opacity: 1.000;

                        transition: all 360ms linear 0ms;

                    }

                }

                // overlay
                &:before {

                    // content: '';

                    position: absolute;

                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    z-index: -1;

                    width: 100%;
                    height: 100%;

                    @include fill( $roarange, 0.615 );

                    opacity: 0.000;

                    transition: all 360ms linear 0ms;

                }

                // text
                .title {

                    position: absolute;

                    right: 4rem;
                    bottom: 14rem;

                    z-index: 20;

                    @include flex-h-s-v-c( false );

                    width: 30rem;
                    height: 6rem;
                    margin: 0;
                    padding: 0 0 0 1.75rem;

                    @include font( $klavislim, 2rem, 400 );

                    line-height: 1.75rem;

                    letter-spacing: 0.045em;

                    @include text( $up );

                    color: white;

                    @include fill( $roarange, 0.105 );

                }

            }

            // label
            #facilities-label {

                position: absolute;

                right: 2rem;
                bottom: 2rem;

                z-index: 50;

                @include flex-h-s-v-c( false );

                width: 30rem;
                height: 6rem;
                margin: 0;
                padding: 1rem 1rem 1rem 1.5rem;

                @include font( $industry, 0.75rem, 600 );

                line-height: 1.25rem;

                letter-spacing: 0.035em;

                color: white;

                // @include fill( $roarange, 0.105 );
                @include fill( $nite, 0.215 );

                background-color:

                    adjust-color(

                        $roarange,
                        $hue 	 	: 0%,
                        $saturation : -20%,
                        $lightness  : -5%,
                        $alpha 		: -0.105

                    )

                ;

            }

            // toolbar
            #facilities-toolbar {

                position: absolute;

                top: 2rem;
                bottom: 2rem;
                left: 2rem;

                z-index: 100;

                @include flex-v-j-h-s( false );

                flex-wrap: wrap;

                width: 24rem;
                height: calc( 100vh - 8rem );
                margin: 0;
                padding: 0;

            }

            // thumbnails commons
            .facilities-control {

                position: relative;

                @include flex-v-b-h-e( false );

                width: 100%;
                height: 25%;
                // height: 23.25rem;
                margin: 0;
                padding: 0;

                visibility: hidden;

                background: {

                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

                opacity: 0.765;

                -webkit-filter:

                    grayscale( 0.765 )
                    brightness( 0.565 )

                ;

                transition: all 220ms linear 0ms;

                // hover state
                &:hover {

                    opacity: 1.000;

                    -webkit-filter:

                        grayscale( 0.000 )
                        brightness( 1.000 )

                    ;

                }

                // overlay
                &:before {

                    content: '';

                    position: absolute;

                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    z-index: 10;

                    width: 100%;
                    height: 100%;

                    @include fill( $dark-nite, 0.645 );

                }

                // one
                &:nth-of-type( 1 ) {

                    //

                }

                // two
                &:nth-of-type( 2 ) {

                    //

                }

                // three
                &:nth-of-type( 3 ) {

                    //

                }

                // four
                &:nth-of-type( 4 ) {

                    //

                }

            }

            // 01
            #thumb-01 {



            }

            // 02
            #thumb-02 {



            }

            // 03
            #thumb-03 {



            }

            // 04
            #thumb-04 {



            }

        }

    }
