// stylesheet :: academics section layout + content styles

    // settings
    $research_fx : all 320ms $oquin 0ms;
    $section_color : transparentize( $cvnavy, 0.145 );

    $billboard : '../img/research/research.panel.00.jpg';

    // styles
    #research {

        height: 70vh;

        // container
        .article-container {

            height: 100%;

        }

        // color base
        .section-base {

            @include fill( $section_color, 0.000 );

        }

        // content
        .section-content {

            height: 100%;
            // padding: 1rem 1rem 1rem 1rem;

        }

        // design
        .design-layer {

            // fx.layers
            .fx-layer {

                @include fullscreen( absolute, 1, false, hidden );

            }

            // image
            .image-layer {

                background: {

                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

            }

            // pattern + artwork
            .pattern-layer {

                z-index: 10;

                @include fill( $cvnavy, 0.465 );

            }

        }

        // content container
        .content-layers {

            position: relative;

            @include flex-h-e-v-c( false );

            height: 100%;

            // mobile
            @include breakpoint ( small only ) {

                @include flex-v-b-h-st( false );

            }

        }

        // content
        .content-layer {

            position: relative;

            z-index: 100;

            @include flex-v-b-h-s( false );

            width: 50vw;
            height: 100%;
            padding: 0 5rem 5rem 5rem;

            @include fill( $cvnavy, 0.265 );

            background: {

                image:

                    linear-gradient(

                        0deg,
                        transparentize( $blue, 0.585 ) 0%,
                        transparent 80%

                    )

                ;

            }

            // mobile
            @include breakpoint ( small only ) {

                width: 100%;
                height: 50%;
                padding: 2rem 2rem 2rem 2rem;

                @include fill( $cvnavy, 1.000 );

            }

            // headline
            .headline {

                margin: 0 0 1rem 0;

                @include font( $klavislim, 2rem, 400 );

                @include text( $up );

                @include typo( 3rem, 0.085em );

                @include color( $cvellow, 0.000 );

            }

            // text
            .text {

                margin: 0 0 2rem 0;

                @include font( $industry, 0.875rem, 600 );

                @include text( none );

                @include typo( 1.5rem, 0.035em );

                @include color( $rite-lite, 0.000 );

            }

            // button
            .content-button {

                @include flex-h-c-v-c( false );

                height: 4rem;
                margin: 0;
                padding: 0.0625rem 1.5rem 0 1.5rem;

                @include font( $klavislim, 1rem, 400 );

                @include text( $up );

                @include typo( 0.75rem, 0.135em );

                @include color( white, 0.000 );

                @include fill( white, 0.985 );

                @include shadowbox( 1rem, 4rem, black, 0.385 );

                transition: all 220ms linear 0ms;

                // hover state
                &:hover {

                    @include fill( $blue, 0.000 );

                    cursor: pointer;

                }

            }

        }

    }
