// stylesheet :: alumni section layout + content styles

    // settings
    $section_color : transparentize( $orange, 0.325 );

    // slides
    $slide_view_w : 100vw;
    $slide_view_h : 100vh;

    // styles
    .section-testimonial {

        position: relative;

        // menu open state
        .site-menu-open & {

            // top level class
            .article-container {

                -webkit-filter: blur( 8px );
                        filter: blur( 8px );

                transition: all 0ms linear 0ms;

            }

        }

        // container
        .article-container {

            -webkit-filter: blur( 0px );
                    filter: blur( 0px );

            transition: all 0ms linear 0ms;

        }

        // content
        .section-content {

            @include flex-v-b-h-s( false );

            height: 100vh;
            padding: 5rem 5rem 5rem 5rem;

            // mobile
            @include breakpoint ( small only ) {

                padding: 2rem 2rem 2rem 2rem;

            }

            span {

                @include font( $industry, 0.6875rem, 600 );

                @include typo( 0.5rem, 0.085em );

                @include color( white, 0.000 );

                transition: all 220ms linear 0ms;

            }

            // image
            .image-layer {

                @include fullscreen( absolute, inherit, false, hidden );

                // common
                .layer {

                    @include fullscreen( absolute, inherit, false, hidden );

                    background: {

                        repeat: no-repeat;
                        size: cover;
                        position: center center;

                    }

                }

                // blur
                .blur {

                    padding: calc( 100vh - 23rem ) 4.5rem 4.5rem 4.5rem;

                    background: {

                        clip: content-box;

                    }

                    -webkit-filter: blur( 16px );
                            filter: blur( 16px );

                    // mobile
                    @include breakpoint ( small only ) {

                        padding: calc( 100vh - 18.5rem ) 2rem 2rem 2rem;

                    }

                }

            }

            // design
            .design-layer {

                @include fullscreen( absolute, inherit, false, hidden );

                // fx.layers
                .fx-layer {

                    @include fullscreen( absolute, inherit, false, hidden );

                    opacity: 1.000;

                }

                // color + gradient
                .color-layer {

                    background: {

                        image:

                            linear-gradient(

                                123deg,
                                transparentize( $nite, 0.215 ) 0%,
                                transparentize( $dark, 0.765 ) 60%,
                                transparentize( $orange, 0.345 ) 100%

                            )

                        ;

                    }

                    opacity: 1.000;

                }

            }

            // container
            .content-layer {

                position: relative;

                max-width: 100%;

            }

            // slider base
            .title-layer {

                position: absolute;

                top: 0;
                right: 0;

                @include flex-h-e-v-c( false );

                height: 3rem;
                margin: 0;
                padding: 0 1rem 0 1rem;

                @include font( $klavislim, 0.75rem, 500 );

                @include text( $up );

                @include typo( 0.75rem, 0.165em );

                @include color( $orange, 0.000 );


                display: none;

            }

            // slider
            .slider {

                @include flex-v-b-h-s( false );

                width: 100%;
                height: auto;
                margin: 0;
                padding: 4rem 3rem 3rem 3rem;

                @include fill( $nite, 0.425 );

                @include shadowbox( 1.5rem, 4rem, black, 0.315 );

                // mobile
                @include breakpoint ( small only ) {

                    padding: 2rem 2rem 2rem 2rem;

                }

                & > * {
                    max-width: 100%;
                }

            }

            // text
            .slide-text {

                position: relative;

                @include flex-h-s-v-t( false );

                padding: 0 3rem 0 0;

                @include font( $klavislim, 1.375rem, 500, italic );

                line-height: 1.75rem;

                @include text( none );

                @include color( white, 0.000 );

                // mobile
                @include breakpoint ( small only ) {

                    padding: 0 0 0 0;

                    @include font( $klavislim, 0.875rem, 500, italic );

                    @include typo( 1.25rem, 0.035em );

                }

                // quote
                &:before {

                    content: '\201c';

                    position: absolute;

                    top: -1.75rem;
                    left: -2rem;

                    @include flex-v-c-h-c( false );

                    width: 4rem;
                    height: 4rem;
                    margin: 0;
                    padding: 2rem 0 0 0;

                    @include font( $industry, 10rem, 700, italic );

                    @include color( $orange, 0.685 );

                    // mobile
                    @include breakpoint ( small only ) {

                        font-size: 7rem;

                    }

                }

            }

            // meta
            .slide-meta {

                @include flex-h-j-v-t( false );

                width: 100%;
                height: 4rem;
                margin: 1rem 0 0 0;
                padding: 0;

                opacity: 1.000;

                // mobile
                @include breakpoint ( small only ) {

                    height: auto;

                    @include flex-v-b-h-st( false );

                }

                // attribution
                .slide-citation {

                    @include flex-v-c-h-s( false );

                    height: 4rem;
                    margin: 0;

                    @include font( $industry, 0.875rem, normal, normal );

                    @include text( $up );

                    letter-spacing: 0.035em;

                    // mobile
                    @include breakpoint ( small only ) {

                        height: auto;
                        margin: 0 0 1rem 0;

                    }

                    // name
                    strong {

                        @include flex-h-e-v-b( false );

                        height: 2rem;

                        font: {

                            weight: 900;

                        }

                        line-height: 1rem;

                        @include color( $orange, 0.000 );

                        // mobile
                        @include breakpoint ( small only ) {

                            height: auto;

                        }

                    }

                    // title
                    em {

                        @include flex-h-s-v-c( false );

                        @include font( $industry, 0.5625rem, 700, normal );

                        line-height: 0.75rem;

                        @include color( white, 0.365 );

                    }

                }

                // button
                .slide-button {

                    @include flex-h-c-v-c( false );

                    width: auto;
                    height: 4rem;
                    margin: 0;
                    padding: 0.0625rem 1.5rem 0 1.5rem;

                    @include font( $klavislim, 1rem, 400 );

                    line-height: 1rem;

                    letter-spacing: 0.125rem;

                    @include text( $up, center );

                    color: white;

                    @include fill( darken( $orange, 7.5% ), 0.000 );

                    @include shadowbox( 1rem, 3rem, black, 0.285 );

                    transition: $all220;

                    text-decoration: none;

                    // mobile
                    @include breakpoint ( small only ) {

                        height: 3rem;

                        font-size: 0.875rem;

                    }

                    // hover state
                    &:hover,
                    &:focus,
                    &:active {

                        @include fill( $g140, 0.000 );

                    }

                }

            }

        }

    }
