// stylesheet :: academics section layout + content styles

    // settings
    $section_color : transparentize( $nite, 0.365 );
    $billboard : '../img/billboards/billboard.00.jpg';

    // styles
    .section-academics {

        position: relative;

        height: 80vh;

        @include shadowbox( 2rem, 7rem, black, 0.625 );

        // mobile
        @include breakpoint ( small only ) {

            height: auto;

        }

        // menu open state
        &.site-menu-open {

            // content
            .section-content {

                opacity: 0.000;

                transition: all 40ms linear 0ms;

            }

        }

        // container
        .article-container {

            // @include flex-v-c-h-c( false );

            height: 100%;

        }

        // common
        .section-image,
        .section-base {

            position: absolute;

            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

        }

        // image
        .section-image {

            z-index: 10;

            background: {

                image: url($billboard);
                // image: url(../img/patterns/pattern.vertical.png);
                repeat: no-repeat;
                size: cover;
                position: left center;

            }

            opacity: 0.725;

        }

        // color base
        .section-base {

            z-index: 20;

            // @include fill( $section_color, 0.000 );
            @include fill( $dark, 0.215 );

        }

        // content
        .section-content {

            position: relative;

            z-index: 100;

            // @include flex-v-j-h-st( false );
            @include flex-v-c-h-st( false );

            height: 100%;
            padding: 10rem 4rem 10rem 4rem;

            transition: all 40ms linear 160ms;

            // mobile
            @include breakpoint ( small only ) {

                @include flex-v-c-h-c( false );

                padding: 6rem 2rem 1rem 2rem;

            }

        }

        // text
        .text-layer {

            @include flex-v-c-h-c( false );

            // width: 40%;
            // margin: 0 0 3rem 0;
            // temporary
            margin: 0 0 1rem 0;
            padding: 0 0 0 2rem;

            @include text( inherit, center );

            // mobile
            @include breakpoint ( small only ) {

                width: 100%;
                padding: 2.5rem 0 0 0;

            }

            // title
            .layer-title {

                @include flex-h-s-v-c( false );

                margin: 0 0 1rem 0;

                @include font( $klavislim, 2.25rem, 400 );

                @include text( $up );

                @include typo( 2rem, 0.045em );

                @include color( $gold, 0.000 );

            }

            // text
            .layer-text {

                margin: 1rem 0 1rem 0;

                @include font( $industry, 0.875rem, 600 );

                @include typo( 1.25rem, 0.035em );

                @include color( white, 0.000 );

            }

        }

        // video
        .video-layer {

            @include flex-h-c-v-c( false );

            // temporary
            @include hide;

            // mobile
            @include breakpoint ( small only ) {

                width: 100%;

            }

            // layer(?)
            .video-content {

                width: 60%;

                @include shadowbox( 1rem, 3.5rem, black, 0.285 );

            }

            // video container
            .video-container {

                position: relative;

                max-width: 100%;
                height: 0;
                padding-bottom: 56.25%;

                overflow: hidden;

                background: {

                    image: url(../img/content/degree.programs.video.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

                // video layers
                &:before,
                &:after {

                    content: '';

                    position: absolute;

                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                }

                // before
                &:before {

                    z-index: 1;

                    @include fill( $midnite, 0.365 );

                }

                // after
                &:after {

                    z-index: 2;

                }

                // video
                iframe {

                    position: absolute;

                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;

                }

            }

        }

        // links
        .links-layer {

            @include flex-h-j-v-c( false );

            margin: 1rem 0 0 0;

            // mobile
            @include breakpoint ( small only ) {

                @include flex-v-t-h-st( false );

                width: 100%;

            }

            // button
            .layer-link {

                position: relative;

                @include flex-v-b-h-e( false );

                flex-basis: 33.3333333%;
                height: 12rem;
                margin: 0 1rem 0 1rem;
                padding: 0rem 1.5rem 1.5rem 1.5rem;

                overflow: hidden;

                text-decoration: none;

                @include color( white, 0.000 );

                @include fill( $midnite, 0.365 );

                background: {

                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

                @include shadowbox( 1rem, 3rem, black, 0.325 );

                transition: all 320ms $outex 0ms;

                // mobile
                @include breakpoint ( small only ) {

                    flex-basis: auto;

                    width: 100%;
                    margin: 1rem 0 1rem 0;

                }

                // hover state
                &:hover,
                &:focus,
                &:active {

                    @include fill( white, 0.915 );

                }

                // hover state
                &:hover {

                    // before
                    &:before {

                        -webkit-filter: opacity( 0.815 ) grayscale( 0.000 );
                                filter: opacity( 0.815 ) grayscale( 0.000 );

                        transform: scale3d( 1.25, 1.25, 1.25 );

                        transition: all 360ms $outex 0ms;

                    }

                    // after
                    &:after {

                        @include fill( $nite, 0.645 );

                    }

                }

                // common
                &:before,
                &:after {

                    content: '';

                    position: absolute;

                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                }

                // before
                &:before {

                    z-index: 1;

                    background: {

                        repeat: no-repeat;
                        size: cover;
                        position: center center;

                    }

                    -webkit-filter: opacity( 0.545 ) grayscale( 0.000 );
                            filter: opacity( 0.545 ) grayscale( 0.000 );

                    transform: scale3d( 1, 1, 1 );

                    transition: all 360ms $outex 0ms;

                }

                // after
                &:after {

                    z-index: 10;

                    @include fill( $dark, 0.565 );

                    @include gradient(

                        0deg,
                        $g140, 0.265, 0%,
                        transparent, 1.000, 100%

                    );

                    transition: all 220ms linear 0ms;

                }

                // text
                span {

                    position: relative;

                    z-index: 20;

                    @include font( $klavislim, 1rem, 400 );

                    @include text( $up );

                    @include typo( 0.75rem, 0.045em );

                }

            }

            // undergraduate
            #undergraduate-link {

                // before
                &:before {

                    background: {

                        image: url(../img/degree.programs/degree.programs.undergraduate.jpg);
                        position: center bottom;

                    }

                }

            }

            // graduate
            #graduate-link {

                // before
                &:before {

                    background: {

                        image: url(../img/degree.programs/degree.programs.graduate.jpg);

                    }

                }

            }

            // dvm
            #dvm-link {

                // before
                &:before {

                    background: {

                        image: url(../img/degree.programs/degree.programs.dvm.jpg);

                    }

                }

            }

        }

    }
