// stylesheet :: academics section layout + content styles

    // settings
    $research_fx : all 320ms $oquin 0ms;
    $section_color : transparentize( $cvnavy, 0.145 );

    $billboard : '../img/research/research.panel.00.jpg';

    // styles
    #research {

        // container
        .article-container {

            height: 100vh;

        }

        // color base
        .section-base {

            @include fill( $section_color, 0.000 );

        }

        // title
        .section-title {

            @include hide;

            padding: 1.125rem 1.5rem 1rem 1.5rem;

            @include font( $klavislim, 1.5rem, 400 );

            color: $gold;

            @include fill( $cvnavy, 0.245 );

        }

        // content
        .section-content {

            height: 100vh;
            // padding: 1rem 1rem 1rem 1rem;

        }

        // design
        .design-layer {

            // fx.layers
            .fx-layer {

                @include fullscreen( absolute, 1, false, hidden );

                @include background( $billboard, false, cover, center center );

            }

            // color + gradient
            .color-layer {



            }

            // pattern + artwork
            .pattern-layer {

                @include background( '', false, cover, center center );

            }

        }

        // content container
        .content-layers {

            position: relative;

            height: 100%;

        }

        // content
        .content-layer {

            position: absolute;

            top: 0;
            right: 0;
            bottom: 0;

            z-index: 100;

            @include flex-v-b-h-s( false );

            width: 50vw;
            height: 100%;
            padding: 0 5rem 5rem 5rem;

            @include color( $cvellow, 0.000 );

            @include fill( $cvnavy, 0.265 );

            background: {

                image:

                    linear-gradient(

                        0deg,
                        transparentize( $blue, 0.585 ) 0%,
                        transparent 80%

                    )

                ;

            }

            // headline
            .headline {

                margin: 0 0 1rem 0;

                @include font( $klavislim, 2rem, 400 );

                @include typo( 3rem, 0.085em );

                @include color( $cvellow, 0.000 );

            }

            // text
            .text {

                margin: 0 0 2rem 0;

                @include font( $industry, 0.875rem, 600 );

                @include text( none );

                @include typo( 1.5rem, 0.035em );

            }

            // button
            .content-button {

                @include flex-h-c-v-c( false );

                height: 4rem;
                margin: 0;
                padding: 0.0625rem 1.5rem 0 1.5rem;

                @include font( $klavislim, 1rem, 400 );

                @include text( $up );

                @include typo( 0.75rem, 0.135em );

                @include color( white, 0.000 );

                @include fill( white, 0.985 );

                @include shadowbox( 1rem, 4rem, black, 0.385 );

                transition: all 220ms linear 0ms;

                // hover state
                &:hover {

                    @include fill( $blue, 0.000 );

                    cursor: pointer;

                }

            }

        }

        // map
        #research-map {

            position: absolute;

            top: -3.5rem;
            right: -3.5rem;
            bottom: -3.5rem;
            left: -3.5rem;

            z-index: 20;

            width: calc( 100vw + 7rem );
            height: calc( 100vh + 7rem );

            // @include fill( red, 0.725 );

            opacity: 0.645;

            // after
            &:after {

                content: '';

                position: absolute;

                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                z-index: 10;

                @include fill( $cvnavy, 0.465 );

                mix-blend-mode: overlay;

            }

        }

        // map toolbar
        #research-map-toolbar {

            position: absolute;

            top: 5rem;
            right: 5rem;
            bottom: 0;
            left: 5rem;

            z-index: 50;

            @include flex-h-j-v-c( false );

            width: calc( 100vw - 10rem );
            height: 5rem;
            margin: 0;
            padding: 1.125rem 1rem 1rem 1.25rem;

            @include fill( $cvnavy, 0.145 );

            @include hide;

        }

        // toolbar title
        .toolbar-title {

            @include font( $klavislim, 1rem, 400 );

            line-height: 1rem;

            letter-spacing: 0.105em;

            color: $gold;

        }

    }
