html {
	width: 100% !important;
}

// Section Placeholder
.section-placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8vw;
	text-align: center;
}

.page-template-secondary-about,
.page-template-secondary-alumni,
.page-template-secondary-research,
.page-template-secondary-students {
	background: #f3f3f3;
	color: $steel;
	font-size: 1rem;
}

// Page Header
.secondary-page-header {
	display: -ms-grid;
	display: grid;
	-ms-grid-rows: auto;
	grid-template-rows: auto;
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	min-height: 100vh;
	background: transparent no-repeat center center / cover;

	&__inner {
		-ms-grid-row: 1;
		grid-row: 1;
		-ms-grid-column: 1;
		grid-column: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		font-family: $klavika;
		font-weight: 300;

		&:before {
			content: '';
			flex-grow: 1;
			display: block;
			min-height: 10rem;
			background: linear-gradient(
				to top,
				rgba($dark-nite, .7) 0,
				rgba($dark-nite, .525) 15%,
				rgba($dark-nite, .35) 30%,
				rgba($dark-nite, .175) 65%,
				rgba($dark-nite, 0) 100%
			);
		}
	}

	&__content {
		width: 100%;
		padding: 2vw 8vw 4vw;
		background: rgba($dark-nite, .7);
		color: $rite-lite;

		&-wrap {
			width: 100%;
			max-width: 35rem;
		}
	}

	.entry-title {
		color: $cvellow;
		letter-spacing: .065em;
		line-height: 1.2;
	}

	.entry-subtitle {
		margin-bottom: .75rem;
		font-family: $klavislim;
		font-size: 1.25rem;
		letter-spacing: .075em;
		line-height: 1.2;
		text-transform: uppercase;

		@include bpoint(40em) {
			font-size: 2rem;
		}
	}
}


// Call Out
.call-out {
	padding: 8vw;

	&__inner {
		display: flex;
		width: 100%;
		max-width: 65em;
		margin: 0 auto;
		text-align: center;

		@include bpoint(tablet) {
			&:before, &:after {
				content: '';
				flex-shrink: 0;
				display: block;
				width: 8%;
				border-top: .1875em solid $g135;
				border-bottom: .1875em solid $g135;
			}

			&:before {
				border-left: .1875em solid $g135;
			}

			&:after {
				border-right: .1875em solid $g135;
			}
		}
	}

	&__content {
		padding: .25em 0;

		&-wrap {
			font-size: 1.625em;
			font-weight: 200;
		}
	}

	&__title {
		margin-bottom: .375em;
		color: $g135;
		font-family: $klavislim;
		font-size: 2.25em;
		font-weight: 500;
		letter-spacing: .05em;
		line-height: 1;
		text-transform: uppercase;
	}
}

// Fast Facts
.fast-facts {
	background: transparent url('../img/menus/menu.item.research.jpg') no-repeat center center / cover;
	color: $charcoal;

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5vw;
		background: rgba(white, .82);

		@include bpoint(tablet) {
			padding: 8vw;
		}
	}

	&__grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		@include bpoint(tablet) {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-around;
		}
	}
}

.fast-fact {
	max-width: 13rem;
	margin: 3vw;
	font-family: $vitesse;
	letter-spacing: .04em;
	text-align: center;
	text-transform: uppercase;

	@include bpoint(tablet) {
		width: 30%;
		margin: 0;
	}

	&__value {
		display: block;
		color: $g135;
		font-size: 3.5em;
		letter-spacing: 0;
		line-height: 1;
	}

	&__rate {
		display: block;
		color: $g135;
		font-size: 1.5em;
		line-height: 1;
	}

	&__desc {
		display: block;
		padding-top: .2em;
		line-height: 1.2;
	}

	&__source {
		display: block;
		font-family: $klavislim;
	}
}

// Launch Pads
.launch-pads {
	$block: &;
	font-family: $klavika;
	font-weight: 400;

	&__intro {
		padding: 4.25rem 8vw;
		color: white;

		#{ $block }--blue & {
			background: $cvnavy;
		}

		#{ $block }--green & {
			background: #163d20;
		}

		&-wrap {
			width: 100%;
			max-width: 35rem;

			@include bpoint(tablet) {
				width: calc(50% - 1em);
				max-width: none;
				min-width: 35rem;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__title {
		font-family: $klavislim;
		font-size: 2.25em;
		letter-spacing: .05em;
		line-height: 1;

		#{ $block }--blue & {
			color: $blue;
		}

		#{ $block }--green & {
			color: $cvellow;
		}
	}

	&__grid {
		margin-top: -1.5rem;
		padding: 0 8vw 5em;

		@include bpoint(tablet) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		&-item {
			$block: &;
			display: flex;
			flex-direction: column;
			margin-top: 2em;
			background: transparent no-repeat center center / cover;
			color: white;
			line-height: 1.2;
			box-shadow: 0 .5em 1em 0 transparentize($dark-nite, .625);

			&:first-child {
				margin-top: 0;
			}

			@include bpoint(tablet) {
				width: calc(50% - 1em);

				&:nth-child(-n+2) { // first two items
					margin-top: 0;
				}
			}

			&:before {
				content: '';
				transition: all 360ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
				display: block;
				flex-grow: 1;
				background: rgba(white, .72);
				padding-top: 50%;
			}

			&:hover, &:focus {
				&:before {
					background: linear-gradient(
						to top,
						rgba($dark, .85) 0,
						rgba($dark, .7) 5%,
						rgba($dark, .55) 10%,
						rgba($dark, .4) 15%,
						rgba($dark, .25) 20%,
						rgba($dark, .1) 25%,
						rgba($dark, 0) 50%
					);
				}

				#{ $block }-name {
					color: white;
					background: linear-gradient(to top, rgba($dark, .95), rgba($dark, .85));
				}
			}

			&-name {
				transition: all 360ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
				width: 100%;
				max-width: 100%;
				background: rgba(white, .72);
				padding: .25em 1em .75em;
				color: $g135;
				font-family: $klavislim;
				font-size: 1.25em;
				font-weight: 500;
				letter-spacing: .1em;
				text-transform: uppercase;
			}
		}
	}
}

// Bio
.spotlight {
	background: no-repeat center center / cover;

	&__inner {
		color: white;

		@include bpoint(tablet) {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		flex: 0 0 auto;
		background: rgba(#44372e, .84);
		padding: 8vw 8vw 0;

		@include bpoint(tablet) {
			width: 60%;
			padding: 4vw 8vw 4vw 1em;
		}

		&-wrap {
			// font-size: .875em;
			text-align: center;

			@include bpoint(tablet) {
				text-align: inherit;
			}
		}
	}

	&__title {
		color: $gold;
		line-height: 1;
	}

	&__img {
		display: -ms-grid;
		display: grid;
		-ms-grid-row-align: end;
		align-items: end;
		-ms-grid-column-align: center;
		justify-items: center;
		flex: 0 0 auto;
		background: linear-gradient(
			to bottom,
			rgba(#44372e, .84) 0%,
			rgba(#44372e, .78) 10%,
			rgba(#44372e, .72) 20%,
			rgba(#44372e, .66) 30%,
			rgba(#44372e, .63) 40%,
			rgba(#44372e, .60) 50%,
			rgba(#44372e, .57) 60%,
			rgba(#44372e, .54) 70%,
			rgba(#44372e, .51) 80%,
			rgba(#44372e, .48) 100%
		);
		padding: 0 8vw;
		text-align: center;

		@include bpoint(tablet) {
			width: 40%;
			background: linear-gradient(
				to left,
				rgba(#44372e, .84) 0%,
				rgba(#44372e, .78) 10%,
				rgba(#44372e, .72) 20%,
				rgba(#44372e, .66) 30%,
				rgba(#44372e, .63) 40%,
				rgba(#44372e, .60) 50%,
				rgba(#44372e, .57) 60%,
				rgba(#44372e, .54) 70%,
				rgba(#44372e, .51) 80%,
				rgba(#44372e, .48) 100%
			);
			padding: 0;
		}
	}

	&__button {
		transition: all 220ms linear 0ms;
		display: inline-block;
		border: .0625em solid $gold;
		padding: 1.375em 1.5em;
		color: white;
		font-size: .875em;
		letter-spacing: .1em;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;

		&:hover, &:focus {
			background: rgba(white, .1);
			color: white;
		}
	}
}

// Page Quote
.page-quote {
	padding: 8vw;

	.launch-pads + & {
		padding-top: calc(8vw - 5em);
	}

	&__wrap {
		margin: 0;
		border: none;
		padding: 0 8vw;
		color: inherit;
		font-family: $klavika;
		font-weight: 300;
		line-height: 1.5;
		text-align: center;

		@include bpoint(tablet) {
			display: -ms-grid;
			display: grid;
			-ms-grid-rows: auto auto;
			grid-template-rows: auto auto;
			-ms-grid-columns: 8vw 1fr 8vw;
			grid-template-columns: 8vw 1fr 8vw;
			padding: 2vw 5vw 0;
		}

		p {
			color: inherit;
			line-height: inherit;
		}
	}

	&__icon {
		width: 100%;
		fill: $iron;

		&--open, &--closed {
			display: none;

			@include bpoint(tablet) {
				-ms-grid-row: 1;
				grid-row: 1;
				display: flex;
			}
		}

		&--open {
			@include bpoint(tablet) {
				-ms-grid-column: 1;
				grid-column: 1;
				align-items: flex-start;
				margin-top: -2vw;
			}
		}

		&--closed {
			@include bpoint(tablet) {
				-ms-grid-column: 3;
				grid-column: 3;
				align-items: flex-end;
				margin-bottom: calc(-2vw + 1rem); // account for bottom margin on final paragraph in quotation
			}
		}
	}

	&__quotation {
		font-size: 1.25em;

		@include bpoint(tablet) {
			padding: 0 2vw;
			font-size: 1.75em;
		}
	}

	&__attribution {
		@include bpoint(tablet) {
			grid-row: 2;
			grid-column: 2;
			min-height: 2vw;
			padding: 0 2vw;
		}
	}

	&__cite {
		color: inherit;
		font-size: 1em;

		@include bpoint(tablet) {
			font-size: 1.25em;
		}
	}

	&__name {
		font-weight: 500;
		font-style: italic;
	}
}

// Dual Calls-to-Action
.dual-ctas {
	$block: &;
	padding: 8vw;
	color: white;
	text-align: center;

	@include bpoint(desktop) {
		padding: 3vw 0;
	}

	&--blue {
		background: $cvnavy;
	}

	&--green {
		background: #163d20;
	}

	&__inner {
		display: -ms-grid;
		display: grid;
		grid-gap: calc(2em + 2vw);
		-ms-grid-rows: auto calc(2em + 2vw) auto;
		grid-template-rows: repeat(2, auto);
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;

		@include bpoint(desktop) {
			grid-gap: .0625em;
			-ms-grid-rows: auto;
			grid-template-rows: auto;
			-ms-grid-columns: 1fr .0625em 1fr;
			grid-template-columns: repeat(2, 1fr);

			#{ $block }--blue & {
				background: $blue;
			}

			#{ $block }--green & {
				background: $cvellow;
			}
		}
	}

	&__content {
		display: flex;
		align-items: center;

		@include bpoint(desktop) {
			padding: 3vw 6vw;

			&:nth-child(1) {
				-ms-grid-row: 1;
				grid-row: 1;
				-ms-grid-column: 1;
				grid-column: 1;
			}

			&:nth-child(2) {
				-ms-grid-row: 1;
				grid-row: 1;
				-ms-grid-column: 3;
				grid-column: 2;
			}
		}

		#{ $block }--blue & {
			background: $cvnavy;
		}

		#{ $block }--green & {
			background: #163d20;
		}
	}

	&__title {
		line-height: 1;

		#{ $block }--blue & {
			color: $blue;
		}

		#{ $block }--green & {
			color: $cvellow;
		}
	}

	&__cta {
		margin: 0;

		@include bpoint(desktop) {
			margin: 2em 0 0;
		}
	}

	&__button {
		transition: all 220ms linear 0ms;
		display: inline-block;
		border: .0625em solid;
		padding: 1.375em 1.5em;
		color: white;
		font-size: .875em;
		letter-spacing: .1em;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;

		#{ $block }--blue & {
			border-color: $blue;
		}

		#{ $block }--green & {
			border-color: $cvellow;
		}

		&:hover, &:focus {
			background: rgba(white, .1);
			color: white;
		}
	}
}

// Source Stories
.source-stories {
	$link_color: #0F718E;
	$link_visited: #137094;
	padding: 8vw;

	&__heading {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		margin: 0 .5em 0 0;
		line-height: 1;
	}

	&__cta {
		margin: 0 0 0 auto;

		a {
			color: $link_color;

			&:visited {
				color: $link_visited;
			}

			&:hover, &:focus {
				color: $link_color;
			}
		}
	}

	&__grid {
		margin-top: 1.5em;

		@include bpoint(tablet) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		transform: translateY(0);
		transition: all 360ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: 20em;
		margin: 1.5em auto 0;
		color: inherit;

		&:first-child {
			margin-top: 0;
		}

		@include bpoint(tablet) {
			width: calc(50% - 1em);
			max-width: none;
			margin: 2em 0 0;

			&:nth-child(2) {
				margin-top: 0;
			}

			&:nth-child(even) {
				margin-left: 2em;
			}
		}

		@include bpoint(desktop) {
			width: calc((100% / 3) - (2em * 2 / 3));

			&:nth-child(3) {
				margin-top: 0;
			}

			&:nth-child(even) {
				margin-left: 0;
			}

			&:not(:nth-child(3n + 1)) {
				margin-left: 2em;
			}
		}

		&:visited {
			color: inherit;
		}

		&:hover, &:focus {
			transform: translateY(-.25em);
			box-shadow: 0 .25em .75em .125em rgba(black, .2);
			color: inherit;
		}

		&-image {
			display: block;
			width: 100%;
			max-width: 100%;
			background: $dark no-repeat center center / cover;
			padding-top: 75%;
		}

		&-content {
			flex: 1 0 auto;
			width: 100%;
			max-width: 100%;
			background: white;
			padding: 1em;
		}

		&-title {
			margin-bottom: .375em;
			color: $dark;
			font-family: $vitesse;
			font-size: 1em;
			letter-spacing: .05em;
			line-height: 1.2;
		}

		&-excerpt {
			font-size: .875em;
			font-weight: 400;
			line-height: 1.4;

			*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// Group Bios
.group-bios {
	padding: 8vw;

	&__grid {
		margin-top: calc(1em + 1vw);

		@include bpoint(desktop) {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}
	}

	&__bio {
		margin-top: calc(1em + 1vw);

		@include bpoint(40em) {
			display: grid;
			grid-gap: 1em;
			grid-template-rows: auto;
			grid-template-columns: auto 1fr;
		}

		@include bpoint(desktop) {
			width: calc(50% - 1em - 1vw);

			&:nth-child(-n+2) {
				margin-top: 0;
			}
		}

		&:first-child {
			margin-top: 0;
		}
	}

	&__image {
		margin-bottom: 1em;
	}

	// &__details {}

	&__heading {
		margin-bottom: .5em;
		color: $dark;
		font-family: $vitesse;
		font-size: 1em;
		letter-spacing: 0;
		line-height: 1.2;
		text-transform: none;

		@include bpoint(40em) {
			font-size: 1.125em;
		}
	}

	&__desc {
		font-size: .875em;
		font-weight: 400;
	}
}

// Yet_to_be_named
.highlight-group {
	$max_width: 65rem;
	padding: 8vw;

	&.bg--green {
		background: #163d20;
	}

	&__inner {
		max-width: $max_width;
		margin: 0 auto;
		text-align: center;
	}

	&__title {
		font-family: $vitesse;
		line-height: 1;

		.bg--green & {
			color: $cvellow;
		}
	}

	&__grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width:100%;
		margin-top: 3.75%;

		&-item {
			max-width: 50%;
			padding: 5% .25em;
			font-size: 1.0625em;

			@include bpoint(40em) {
				font-size: 1.375em;
			}

			.grid--3-columns & {
				width: calc(#{ $max_width } / 3);
			}

			.grid--4-columns & {
				width: calc(#{ $max_width } / 4);
			}

			&-icon {
				display: flex;
				align-items: center;
				justify-content: center;
				width: calc(13em * .35);
				height: calc(12em * .35);
				margin: 0 auto 1.25em;

				img {
					max-height: 100%;
				}
			}

			&-name {
				display: block;
				color: $navy-h;
				font-family: $klavislim;
				font-weight: 400;
				letter-spacing: .1em;
				line-height: 1;
				text-transform: uppercase;

				.bg--green & {
					color: white;
				}
			}
		}

		&-link {
			background: none;

			&:hover, &:focus {
				background: rgba(white, .1);
				box-shadow: 0 .25em .75em .125em rgba(black, .1);
			}
		}
	}
}

// Content with Side Image
.content-side-image {
	$link_color: #0F718E;
	$link_visited: #137094;
	display: -ms-grid;
	display: grid;
	grid-gap: 4vw;
	-ms-grid-rows: auto 4vw auto;
	grid-template-rows: repeat(2, auto);
	-ms-grid-columns: 1fr;
	grid-template-columns: 1fr;
	background: #ededed;
	padding: 8vw;

	@include bpoint(desktop) {
		-ms-grid-rows: auto;
		grid-template-rows: auto;
		-ms-grid-columns: 1fr 4vw 1fr;
		grid-template-columns: repeat(2, 1fr);
	}

	&__img {
		-ms-grid-row: 1;
		grid-row: 1;
		-ms-grid-column: 1;
		grid-column: 1;

		@include bpoint(desktop) {
			-ms-grid-row: 1;
			grid-row: 1;
			-ms-grid-column: 3;
			grid-column: 2;
		}

		img {
			@supports (object-fit: cover) {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}

	&__content {
		-ms-grid-row: 3;
		grid-row: 2;
		-ms-grid-column: 1;
		grid-column: 1;
		align-self: center;
		font-weight: 300;

		@include bpoint(desktop) {
			-ms-grid-row: 1;
			grid-row: 1;
			-ms-grid-column: 1;
			grid-column: 1;
		}
	}

	h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 400;
		letter-spacing: .05em;
		line-height: 1;
	}

	a {
		color: $link_color;

		&:visited {
			color: $link_visited;
		}
	}

	&__button {
		transition: all 220ms linear 0ms;
		display: inline-block;
		border: .0625em solid $link_color;
		padding: 1.375em 1.5em;
		font-size: .875em;
		font-weight: 500;
		letter-spacing: .1em;
		line-height: 1.2;
		text-align: center;
		text-transform: uppercase;

		&:link {
			color: $oil;
		}

		&:visited {
			color: $oil;
		}

		&:hover, &:focus {
			background: $link_color;
			color: white;
		}
	}

	&__links {
		margin-top: 3rem;

		&-item {
			font-size: 1em;
			line-height: 1.2;

			&:not(:first-child) {
				margin-top: .5em;
			}
		}
	}
}
