.page-template-secondary-landing {
	background: $sec_temp_off_white;
	color: $steel;
	font-size: 1rem;

	.bg--none + .bg--none {
		padding-top: calc(8vw - 5em);
	}
}

// stylesheet :: secondary layout stylesheet compiler

	// content
	@import 'secondary.content';
