// stylesheet :: site menu component styles

    // settings
    $toolbar_width  : 5rem;
    $toolbar_height : calc( 100vh - 5rem );

    // styles
    #site-menu-toolbar {

        position: fixed;

        top: 5rem;
        right: 0;
        bottom: 0;

        z-index: 100;

        @include flex-v-t-h-c( false );

        width: $toolbar_width;
        height: $toolbar_height;
        margin: 0;
        padding: 0;

        @include fill( $nite, 0.615 );

        @include gradient( 0deg, $nite, 0.565, 0%, $nite, 0.325, 100% );

        transform: translate3d( 5rem, 0, 0 );

        transition: background-color 360ms linear 0ms;

        @include hide;

        // mobile
        @include breakpoint ( small only ) {

            top: 4rem;

            width: 4rem;
            height: calc( 100vh - 4rem );

            transform: translate3d( 4rem, 0, 0 );

        }

        // hover state
        &:hover {

            //

        }

        // menu open state
        &.site-menu-open {

            // @include gradient( 0deg, $blue, 1.000, 0%, $cvnavy, 0.465, 100% );

            // hover state
            &:hover {

                //

            }

        }

        // toolbar menu
        #toolbar-menu {

            @include flex-v-c-h-c( false );

            width: 5rem;
            height: auto;
            margin: 0;
            padding: 0;

            // mobile
            @include breakpoint ( small only ) {

                width: 4rem;

            }

            // list
            ul {

                width: 5rem;
                margin: 0;
                padding: 0;

                list-style: none;

                // mobile
                @include breakpoint ( small only ) {

                    width: 4rem;

                }

                // list item
                .menu-item {

                    width: 5rem;
                    height: 5rem;
                    margin: 0;
                    padding: 0;

                    // mobile
                    @include breakpoint ( small only ) {

                        width: 4rem;
                        height: 4rem;

                    }

                    // hidden state
                    &.hidden {

                        display: none;

                    }

                }

            }

            // common
            .site-menu-button {

                display: block;

                width: 5rem;
                height: 5rem;
                padding: 0.5rem 0.5rem 0.5rem 0.5rem;

                transition: all 220ms linear 0ms;

                // mobile
                @include breakpoint ( small only ) {

                    width: 4rem;
                    height: 4rem;
                    padding: 0 0 0 0;

                }

                // hover state
                &:hover {

                    @include fill( white, 0.945 );
                    // @include fill( $g135, 0.145 );

                    // svg
                    .icon {

                        // path
                        .path {

                            fill: white;

                            opacity: 1.000;

                            transition: all 220ms linear 0ms;

                        }

                    }

                }

                // focus state
                &:focus {

                    // outline: none;

                    @include fill( white, 0.925 );

                }

                // svg
                .icon {

                    width: 4rem;
                    height: 4rem;

                    // hidden class
                    &.hidden {

                        display: none;

                    }

                    // path
                    .path {

                        fill: white;
                        // fill: $g135;

                        // opacity: 0.565;
                        opacity: 0.765;

                        transition: all 220ms linear 0ms;

                    }

                }

            }

        }

    }
