// stylesheet :: site menu component styles

    // settings
    $toolbar_width  : 4rem;
    $toolbar_height : calc( 100vh - 4rem );

    // styles
    #site-menu-toolbar {

        position: absolute;

        top: 0;
        right: -4rem;
        bottom: 0;
        // left: 0;

        z-index: 20;

        @include flex-v-c-h-c( false );

        width: $toolbar_width;
        height: $toolbar_height;
        margin: 0;
        padding: 0;

        // @include fill( white, 0.845 );

        transition: all 320ms $outex 0ms;

        // hover state
        &:hover {

            // @include fill( $dark, 0.515 );
            // @include fill( white, 0.915 );

        }

        // menu open state
        .is-open & {

            // @include fill( $nite, 0.325 );
            // @include fill( $beige, 0.000 );
            @include fill( white, 0.000 );

            @include gradient( 90deg, $beige, 0.195, 0%, $beige, 0.195, 100% );

            // hover state
            &:hover {

                //

            }

        }

        // toolbar menu
        #toolbar-menu {

            @include flex-v-c-h-c( false );

            width: 4rem;
            height: 100%;
            margin: 0;
            padding: 0 0 2rem 0;

            // list
            ul {

                width: 4rem;
                height: 24rem;
                margin: 0;
                padding: 0;

                list-style: none;

                // list item
                .menu-item {

                    width: 4rem;
                    height: 4rem;
                    margin: 0;
                    padding: 0;

                    // hidden state
                    &.hidden {

                        display: none;

                    }

                }

            }

            // common
            .site-menu-button {

                display: block;

                width: 4rem;
                height: 4rem;

                transition: all 220ms linear 0ms;

                // hover state
                &:hover {

                    // @include fill( white, 0.875 );
                    @include fill( $g135, 0.145 );

                    // svg
                    .icon {

                        // path
                        .path {

                            fill: white;

                            opacity: 1.000;

                            transition: all 220ms linear 0ms;

                        }

                    }

                }

                // focus state
                &:focus {

                    outline: none;

                    @include fill( white, 0.925 );

                }

                // svg
                .icon {

                    width: 4rem;
                    height: 4rem;

                    // hidden class
                    &.hidden {

                        display: none;

                    }

                    // path
                    .path {

                        // fill: white;
                        fill: $g135;

                        // opacity: 0.565;
                        opacity: 0.765;

                        transition: all 220ms linear 0ms;

                    }

                }

            }

        }

    }
