// stylesheet :: elementor post gallery styles

    // settings
    $posts : 0.875rem;

    // styles :: top-level hook
    #secondary-content {

        // module
        .elementor-widget-posts {

            // container
            .elementor-posts-container {

                margin: 0 -1rem 0 -1rem;

            }

            // item
            .elementor-grid-item {

                padding: 0 1rem 1rem 1rem;

            }

            // heading
            h1, h2, h3, h4, h5, h6 {

                margin: 0 0 1rem 0;

                // link
                a {

                    @include font( $klavislim, 1.25rem, 400 );

                    line-height: 1.5rem;

                    letter-spacing: 0.085em;

                    @include color( $blue, 0.000 );

                    transition: all 220ms linear 0ms;

                    // hover state
                    &:hover {

                        @include color( $roarange, 0.000 );

                    }

                }

            }

            // date
            .elementor-post-date {

                @include font( $klavika, 0.75rem, 700 );

                line-height: 0.5rem;

                letter-spacing: 0.025em;

                @include text( $up );

                @include color( $app05, 0.215 );

            }

            // text
            p {

                @include color( $app05, 0.215 );

            }

            // card view
            .elementor-post__card {

                // text-content
                .elementor-post__text {

                    margin: 1rem 0 0 0;
                    padding: 0 1rem 0 1rem;

                }

                // metadata
                .elementor-post__meta-data {

                    @include flex-h-s-v-c( false );

                    min-height: 2.5625rem;
                    padding: 0.8125rem 1rem 0.6875rem 1rem;

                    @include font( $klavika, 0.6875rem, 700 );

                    line-height: 0.5rem;

                }

            }

            // excerpt
            .elementor-post__excerpt {

                margin: 0 0 1rem 0;

                // text
                p {

                    margin: 0 0 0 0;

                    @include font( $industry, 0.75rem, 600 );

                    line-height: 1.125rem;

                }

            }

            // button
            .elementor-post__read-more {

                margin: 0 0 1rem 0;

                @include font( $klavislim, 0.875rem, 500 );

                line-height: 1rem;

                letter-spacing: 0.085em;

                @include text( $up );

                @include color( $app05, 0.465 );

                transition: all 220ms linear 0ms;

                // hover state
                &:hover {

                    @include color( $roarange, 0.000 );

                }

            }



        }

    }
