// stylesheet :: elementor alerts styles

    // settings
    $alert : 1rem;
    $alert-info    : darken( $blue, 5% );
    $alert-success : darken( $g140, 5% );
    $alert-warning : darken( $cvellow, 10% );
    $alert-danger  : darken( $roarange, 5% );

    // styles
    #secondary-content {

        // alert
        .elementor-alert {

            // title
            .elementor-alert-title {

                @include font( $industry, 0.875rem, 700 );

            }

            // description
            .elementor-alert-description {

                @include font( $industry, 0.75rem, 600 );

            }

            // info
            &.elementor-alert-info {

                border-color: $blue;

                @include color( $alert-info, 0.000 );

                @include fill( $blue, 0.765 );

                // title
                .elementor-alert-title {

                    @include color( $alert-info, 0.000 );

                }

                // description
                .elementor-alert-description {

                    @include color( $alert-info, 0.000 );

                }

            }

            // success
            &.elementor-alert-success {

                border-color: $g140;

                @include color( $alert-success, 0.000 );

                @include fill( $g140, 0.765 );

                // title
                .elementor-alert-title {

                    @include color( $alert-success, 0.000 );

                }

                // description
                .elementor-alert-description {

                    @include color( $alert-success, 0.000 );

                }

            }

            // warning
            &.elementor-alert-warning {

                border-color: $cvellow;

                @include color( $alert-warning, 0.000 );

                @include fill( $cvellow, 0.825 );

                // title
                .elementor-alert-title {

                    @include color( $alert-warning, 0.000 );

                }

                // description
                .elementor-alert-description {

                    @include color( $alert-warning, 0.000 );

                }

            }

            // danger
            &.elementor-alert-danger {

                border-color: $roarange;

                @include color( $alert-danger, 0.000 );

                @include fill( $roarange, 0.675 );

                // title
                .elementor-alert-title {

                    @include color( $roarange, 0.000 );

                }

                // description
                .elementor-alert-description {

                    @include color( $roarange, 0.000 );

                }

            }

        }

    }
