// stylesheet :: elementor toggle styles

    // settings
    $toggle : 1rem;

    // styles :: top-level hook
    #secondary-content {

        // toggles
        .elementor-toggle {

            // title
            .elementor-tab-title {

                @include flex-h-s-v-c( false );

                padding: 1.125rem 1rem 0.875rem 1rem;

                @include font( $klavislim, 1rem, 500 );

                line-height: 0.875rem;

                letter-spacing: 0.045em;

                @include text( $up );

                @include color( $g140, 0.000 );

                // active state
                &.elementor-active {

                    @include color( $blue, 0.000 );

                    // icon
                    .elementor-toggle-icon {

                        // closed state
                        .elementor-toggle-icon-closed {

                            @include hide;

                        }

                        // opened state
                        .elementor-toggle-icon-opened {

                            @include flex-v-c-h-c( true );

                        }

                    }

                }

                // icon
                .elementor-toggle-icon {

                    // opened state
                    .elementor-toggle-icon-closed {

                        @include flex-v-c-h-c( true );

                    }

                    // opened state
                    .elementor-toggle-icon-opened {

                        @include hide;

                    }

                    // element
                    i {

                        width: 0.875rem;
                        height: 0.875rem;
                        margin: 0 0.125rem 0 0;
                        padding: 0 0 0.125rem 0;

                        @include color( $dark-nite, 0.765 );

                    }

                }

            }

        }

    }
