// stylesheet :: base global elements common styles

    // html + body
    html,
    body {

        margin: 0;
        padding: 0;

        ::selection {

            color: $brite;

            background-color: transparentize( $app20, 0.585 );

        }

    }
