// stylesheet :: html element styles

    // settings
        $html-height : 100%;

    // styles
        html {

            width: 100vw;
            // height: $html-height;
            margin: 0;
            padding: 0;

            font-size: 16px;

            @include fill( $g140, 1.000 );

        }
