// stylesheet :: laboratory staff styles

    // settings
    $backdrop : adjust-color(

        $beige,
        $hue          : 0%,
        $saturation : -5%,
        $lightness  : 5%,
        $alpha         : -0.000

    );

    // styles
    #staff {

        position: relative;

        // @include flex-h-j-v-s( false );

        margin: 0 0 0 0;
        padding: 5rem 5rem 5rem 5rem;

        @include color( white, 0.165 );

        // @include fill( $g135, 0.000 );

        // mobile
        @include breakpoint ( small only ) {

            padding: 3rem 3rem 3rem 3rem;

        }

        // heading
        h2 {

            margin: 0 0 2rem 0;

            @include typo( 1.75rem, auto );

        }

        // class hook
        .group-bios {

            // item
            &__grid-item {

                margin: 0 0 0 0;

                // mobile
                @include breakpoint ( small only ) {

                    margin: 0 0 2rem 0;

                    // last child
                    &:last-child {

                        margin: 0 0 0 0;

                    }

                }

            }

            // image
            &__image {

                @include shadowbox( 1.5rem, 3rem, black, 0.465 );

            }

        }

        // title
        .group-bios__name {

            display: inline-block;

            // margin: 0 0 0.5rem 0;

            text-decoration: none;

            @include color( white, 0.000 );

        }

        // description
        .group-bios__desc {

            margin: 0 0 1rem 0;

        }

        // text
        p {

            @include color( white, 0.375 );

        }

        // email
        a {

            text-decoration: none;

            @include color( white, 0.375 );

        }

    }
