// stylesheet :: laboratory page layout styles

    // settings
    $billboard : 1rem;

    // styles
    #site-layout.laboratory {

        position: relative;

        background: {

            repeat: no-repeat;
            size: cover;
            position: top center;

        }

        // menu open
        &.site-menu-open {

            -webkit-filter: blur( 16px );
                    filter: blur( 16px );

            transition: all 0ms linear 0ms;

        }

        // common
        .laboratory-content {

            position: relative;

            // padding: 5rem 5rem 5rem 5rem;

            // mobile
            @include breakpoint ( small only ) {

                // padding: 3rem 3rem 3rem 3rem;

            }

            // headings
            h2 {

                // mobile
                @include breakpoint ( small only ) {

                    @include font( $klavislim, 2rem, 400);

                }

            }

        }
        // slides
        .ui-slide {

            // position: relative;

        }

    }
