// stylesheet :: laboratory billboard styles

    // settings
    $billboard : 1rem;

    // styles
    .laboratory-billboard {

        position: relative;

        @include flex-v-b-h-s( false );

        width: 100vw;
        padding: 35vw 0 0 0;

        background: no-repeat center center / cover;

        // mobile
        @include breakpoint ( small only ) {

            padding: 30vh 0 0 0;

        }

        // overlay
        &:before {

            content: '';

            position: absolute;

            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            // @include gradient( 180deg, transparent, 1.000, 0%, $nite, 0.000, 100% );

            @include fill( $white, 0.105 );
            @include fill( $dark, 0.465 );

        }

        // gradient
        &:after {

            content: '';

            position: absolute;

            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            z-index: 20;

            @include gradient( 200deg, transparent, 1.000, 20%, $cvnavy, 0.105, 100% );

        }

        // title
        #homepage-title {

            position: relative;

            z-index: 100;

            @include flex-h-s-v-b( false );

            max-width: 28rem;
            padding: 0 0 2rem 5rem;

            @include font( $klavislim, 2rem, 400 );

            // @include text( $up );

            @include typo( 2.5rem, 0.035em );

            @include color( white, 0.000 );

            // mobile
            @include breakpoint ( small only ) {

                width: 100%;
                max-width: none;
                padding: 0 2rem 2rem 2rem;

            }

            // title
            .site-title {

                // standalone
                &.standalone {

                    position: relative;

                    margin: 0 0 0 0;
                    padding: 1rem 0 1rem 0;

                    @include font( $klavislim, 2rem, 400 );

                    @include typo( 2.5rem, 0.085em );

                    @include text( $up, left );

                    // before
                    &:before {

                        content: '';

                        position: absolute;

                        top: 0;
                        left: 0;

                        z-index: 10;

                        width: 4rem;
                        height: 0.125rem;

                        @include fill( $cvellow, 0.000 );

                    }

                }

                // w/ description
                &.description {

                    margin: 0 0 0 0;
                    padding: 1rem 0 1rem 0;

                    @include font( $klavislim, 2rem, 400 );

                    @include typo( 2.5rem, 0.085em );

                    @include text( $up, right );

                }

            }

            // text
            .site-description {

                @include flex-h-s-v-b( true );

                width: 22rem;
                height: 7rem;
                margin: 0 0 0 2rem;
                padding: 0 0 1.25rem 2rem;

                border-left: 2px solid $cvellow;

                @include font( $industry, 0.875rem, 600 );

                @include typo( 1.25rem, 0.065em );

            }

        }

    }
