// stylesheet :: laboratory news styles

    // settings
    $news : adjust-color(

        $beige,
        $hue          : 0%,
        $saturation : 0%,
        $lightness  : 0%,
        $alpha         : -0.000

    );

    // styles
    #laboratory-news {

        position: relative;

        padding: 5rem 4rem 4rem 4rem;

        @include color( $app05, 0.165 );

        @include fill( $news, 0.000 );

        // mobile
        @include breakpoint ( small only ) {

            padding: 3rem 2rem 2rem 2rem;

        }

        // links
        .title-link {

            text-decoration: none;

        }

        // title
        .section-title {

            position: relative;

            @include flex-h-j-v-b( false );

            height: 3rem;
            margin: 0 0 1rem 1rem;
            // padding: 0 0 1rem 1rem;

            @include typo( 1.25rem, inherit );

            text-decoration: none;

            @include color( $g135, 0.000 );

            // hover state
            &:hover,
            &:focus,
            &:active {

                cursor: pointer;

                // link
                .link-label {

                    @include color( $dark, 0.000 );

                    transform: translate3d( -1.5rem, 0, 0 );

                    transition: all 360ms $outex 0ms;

                    // after
                    &:after {

                        opacity: 1.000;

                        transform: translate3d( 0, 0, 0 );

                        transition: all 360ms $outex 0ms;

                    }

                }

            }

            // link
            .link-label {

                @include flex-h-e-v-b( true );

                height: 2rem;
                margin: 0 1rem 0 0;

                @include font( $industry, 0.6875rem, 700 );

                @include typo( 0.5rem, 0.075em );

                @include color( $dark, 0.000 );

                transform: translate3d( 0, 0, 0 );

                transition: all 360ms $outex 0ms;

            }

        }

        // articles
        .articles {

            @include flex-h-j-v-s( false );

            // mobile
            @include breakpoint ( small only ) {

                @include flex-v-t-h-st( false );

            }

        }

        // article
        .article {

            @include flex-v-t-h-st( true );

            width: 33.3333333%;
            min-height: 16rem;
            margin: 1rem 1rem 1rem 1rem;
            // padding: 2rem 2rem 2rem 2rem;

            @include font( $klavislim, auto, 400 );

            text-decoration: none;

            @include fill( white, 0.000 );

            @include shadowbox( 1.5rem, 3rem, black, 0.465 );

            transform: translate3d( 0, 0, 0 );

            transition: all 320ms $outex 0ms;

            // mobile
            @include breakpoint ( small only ) {

                width: auto;

            }

            // hover state
            &:hover {

                @include shadowbox( 1.5rem, 4rem, black, 0.265 );

                transform: translate3d( 0, -1rem, 0 );

            }

            // header
            .header {

                background: no-repeat center center / cover;

                padding-top: 60%;

                // image
                .image {

                    position: relative;

                    z-index: 10;

                    @include flex-v-b-h-c( false );

                    width: 100%;
                    height: 100%;
                    margin: 0;
                    padding: 0;

                    background: {

                        repeat: no-repeat;
                        size: cover;
                        position: center center;

                    }

                    -webkit-filter: grayscale( 0.000 ) opacity( 1.000 );

                    transition: all 220ms linear 0ms;

                }

            }

            // content
            .content {

                flex-grow: 1;

                padding: 1rem 2rem 2rem 2rem;

            }

        }

        // date
        .date {

            display: block;

            margin: 0 0 0.25rem 0;

            @include font( $industry, 0.6875rem, 700 );

            @include text( $up );

            @include color( $app05, 0.465 );

        }

        // title
        .title {

            display: block;

            margin: 0 0 0.75rem 0;

            @include font( $klavislim, 1.25rem, 400 );

            // @include text( $up );

            @include typo( 1.5rem, 0.015em );

            @include color( $g140, 0.000 );

            // mobile
            @include breakpoint ( small only ) {

                @include font( $klavislim, 1.25rem, 400 );

            }

        }

        // text
        .excerpt {

            p {

                margin: 0 0 0 0;

                @include font( $industry, 0.875rem, 600 );

                @include color( $app05, 0.265 );

            }

        }

    }
