// stylesheet :: laboratory site archive page styles

    // settings
    $archive : 1rem;
    $archive : adjust-color(

        $app05,
        $hue          : 0%,
        $saturation : -30%,
        $lightness  : 35%,
        $alpha         : -0.000

    );

    // styles
    #site-layout.labs-archive {

        // pattern
        .pattern-overlay {

            position: absolute;

            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            z-index: 10;

            background: {

                image: url(../img/patterns/pattern.horizontal.png);
                repeat: no-repeat;
                position: top left;

            }

            // opacity: 0.385;

        }

        // container
        .content-container {

            position: relative;

            min-height: 50vh;
            padding: 10rem 4.5rem 4rem 4.5rem;

            // @include fill( $archive, 0.000 );
            @include fill( $cvnavy, 0.000 );

        }

        // index
        #laboratory-index {

            @include flex-h-s-v-t( false );

            flex-wrap: wrap;

        }

        // heading
        .index-title {

            position: relative;

            z-index: 20;

            margin: 0 0 1rem 0.5rem;

            @include color( $cvellow, 0.000 );

        }

        // links
        .lab-link {

            position: relative;

            z-index: 20;

            @include flex-h-c-v-c( true );

            // width: calc( 25% - 2rem );
            height: 2rem;
            margin: 0 0.5rem 1rem 0.5rem;
            padding: 0.0625rem 1rem 0 1rem;

            @include font( $industry, 0.75rem, 700 );

            @include text( $up, right );

            text-decoration: none;

            @include typo( 1rem, 0.045em );

            @include color( white, 0.000 );

            @include fill( $cvnavy, 0.365 );
            @include fill( white, 0.925 );

            @include shadowbox( 1rem, 3.5rem, black, 0.465 );

            transition: $all220;

            // hover state
            &:hover {

                @include fill( $roarange, 0.000 );

            }

        }

    }
