// stylesheet :: accordions UI

	.cvmbs-accordions {

		margin-top: 1.5em;

	}

	.cvmbs-accordion {

		@include shadowbox( 0.125rem, 0.75rem, black, 0.885 );

		transform: translate3d( 0, 0, 0 );

		transition: all 360ms $outex 0ms;

		// hover state
		&:hover {

			@include shadowbox( 0.5rem, 2rem, black, 0.685 );

		}

		&.has-loaded {

			margin-bottom: 1.25rem;

		}

		&__title {

			@include font( $klavislim, 1.5rem, 400 );

			.has-loaded & {

				margin: 0;

			}

		}

		&__toggle {

			position: relative;

			@include flex-h-j-v-c( false );

			width: 100%;
			padding: 1.25rem 1rem 1.25rem 1.25rem;

			@include text( $up, left );

			@include color( $g140, 0.000 );

			@include fill( white, 0.000 );

			transition: all 220ms linear 0ms;

			// hover state
			&:hover {

				// @include fill( $app05, 0.825 );
				@include color( $app05, 0.000 );

			}

			// opened state
			&[aria-expanded='true'] {

				// before
				&:before {

					opacity: 0.000;

				}

				// after
				&:after {

					opacity: 1.000;

				}

			}

			// closed state
			&[aria-expanded='false'] {

				// before
				&:before {

					opacity: 1.000;

				}

				// after
				&:after {

					opacity: 0.000;

				}

			}

			// icons
			&:before,
			&:after {

				position: absolute;

				top: 1.5rem;
				right: 1.5rem;
				bottom: 1.5rem;

				z-index: 10;

				transition: all 80ms linear 0ms;

			}

			// before
			&:before {

				@include codicon( 1rem, 1rem, 0, 1rem, transparentize( $app05, 0.325 ), '\ED5D' );

			}

			// after
			&:after {

				@include codicon( 1rem, 1rem, 0, 1rem, transparentize( $app05, 0.325 ), '\ED5E' );

			}

		}

		&__content {

			transition: all 360ms cubic-bezier(0.19, 1, 0.22, 1);

			@include fill( white, 0.000 );

			.has-loaded & {

				width: 100%;
				height: 100%;
				max-height: 1000vh;
				padding: 1rem 2rem 1rem 2rem;

				opacity: 1.000;

				// background: #EEEEEE;

				&[aria-hidden="true"] {

					display: none;

					height: 0;
					max-height: 0;

					overflow: hidden;

					visibility: hidden;

					opacity: 0.000;

				}

				& > *:last-child {

					margin-bottom: 0;

				}

			}

		}

	}
