.group-bios {
	padding: 8vw;

	&__grid {
		&:not(:first-child) {
			margin-top: 1.5em;

			@include bpoint(desktop) {
				margin-top:	2em;
			}
		}

		@include bpoint(desktop) {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}

		&-item {
			margin: 1.5em 0 1em;

			@include bpoint(40em) {
				display: grid;
				grid-gap: 1em;
				grid-template-rows: auto;
				grid-template-columns: auto 1fr;
			}

			@include bpoint(desktop) {
				width: calc(50% - 1em);
				margin-top: 2em;

				&:nth-child(-n+2) {
					margin-top: 0;
				}
			}

			&:first-child {
				margin-top: 0;
			}
		}
	}

	&__image {
		max-width: 150px;
		margin-bottom: 1em;
	}

	&__name {
		margin-bottom: .5em;
		color: $dark;
		font-family: $vitesse;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.2;
		text-transform: none;

		@include bpoint(40em) {
			font-size: 1.125em;
		}
	}

	&__desc {
		font-size: .875em;
		font-weight: 400;

		.group-bios & {
			display: none;
		}
	}

	&__contact {
		font-family: $vitesse;
		font-size: .9375em;
		font-weight: 400;

		&-detail {
			font-weight: 700;
		}

		p {
			line-height: 1.2;
			margin-bottom: .25em;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
