.group-bios {
	padding: 8vw;

	&__heading {
		margin-bottom: 1rem;
		color: inherit;
		line-height: 1;
	}

	&__grid {
		@include bpoint(desktop) {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}

		&-item {
			margin-top: 1rem;

			@include bpoint(40em) {
				display: grid;
				grid-gap: 1em;
				grid-template-rows: auto;
				grid-template-columns: auto 1fr;
			}

			@include bpoint(desktop) {
				width: calc(50% - 1em);
				margin-top: 2em;

				&:nth-child(-n+2) {
					margin-top: 0;
				}
			}
		}
	}

	&__image {
		max-width: 150px;
		margin-bottom: .5rem;

		@include bpoint(40em) {
			margin-bottom: 0;
		}
	}

	&__details p {
		margin-bottom: .375rem;
		line-height: 1.2;
	}

	&__name {
		color: $dark;
		font-family: $vitesse;
		font-size: 1em;
		font-weight: 400;
		text-transform: none;

		@include bpoint(40em) {
			font-size: 1.125em;
		}
	}

	&__desc {
		font-size: .875em;
		font-weight: 400;
	}

	&__contact {
		font-family: $vitesse;
		font-size: .9375em;
		font-weight: 400;

		&-detail {
			font-weight: 700;
		}
	}
}
