.notification-box {
	margin: 1.5em auto;
	box-shadow: 0 .125em .5em .125em rgba(black,.1);
	background: white;
	padding: 1.5em;

	&.box {
		&--date {
			border-left: .3125em solid $campaign;
		}

		&--info {
			border-left: .3125em solid $blue;
		}

		&--notice {
			border-left: .3125em solid $yellow-h;
		}

		&--warn {
			border-left: .3125em solid $roarange;
		}
	}

	&__image {
		display: none;
	}

	&__icon {
		display: none;
	}

	&__title {
		font-size: 1.75rem;
		line-height: 1;

		@include bpoint(40em) {
			font-size: 2em;
		}
	}

	&__content {
		> *:last-child {
			margin-bottom: 0;
		}
	}
}
