$cta_bg: #dadac8;
$btn_bg: #236670;

.ctas__grid {

	// margin: 2.5em 0;

	// tablet
	@include bpoint( tablet ) {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include flex-h-c-v-st( false );

	}

	&-item {

		display: flex;
		flex-direction: column;

		max-width: 25rem;
		// margin: 0 auto 2rem 0;
		margin: 1rem 1rem 1rem 1rem;

		@include shadowbox( 1rem, 3.5rem, black, 0.586 );

		// last child
		&:last-child {

			margin-bottom: 0;

		}

		@include bpoint(tablet) {

			width: calc(50% - 1rem);
			max-width: none;
			margin: 1rem 1rem 1rem 1rem;

			&:nth-child(odd) {

				// margin-left: 0;

			}

		}

		@include bpoint(desktop) {

			.grid--3-columns & {

				// width: calc( ( 100% / 3 ) - ( 2rem * 2 / 3 ) - 1px ); // remove 1px to fix IE not calculating percentages the same as real browsers
				width: calc( 33.3333333% - 2rem );
				margin: 1rem 1rem 1rem 1rem;

				&:nth-child( 1 ) {

					// margin-left: 0;

				}

				&:nth-child( odd ) {
					// margin-left: 1rem;
				}

				&:nth-child( 3n+1 ) {
					// margin-left: 0;
				}

			}

			.grid--2-columns & {

				width: calc((100% / 2) - (2rem * 2 / 2) - 1px); // remove 1px to fix IE not calculating percentages the same as real browsers
				margin: 1rem 1rem 1rem 1rem;

				&:nth-child( 1 ) {

					// margin-left: 0;

				}

				&:nth-child( odd ) {
					// margin-left: 1rem;
				}

			}

		}

		&-image {
			background: no-repeat center center / cover;
			padding-top: 50%;
		}

		&-content {
			flex-grow: 1;
			background: $cta_bg;
			padding: 10% 7.5%;
			text-align: center;
		}

		&-heading {
			margin-bottom: .5rem;
			font-family: $industry;
			font-size: 1.25em;
			font-weight: 700;
			letter-spacing: .025em;
			line-height: 1;
		}

		&-desc {
			margin-bottom: .75rem;
			line-height: 1.2;
		}

		&-link {
			margin-bottom: 0;
		}

		&-btn {
			display: inline-block;
			background: $btn_bg;
			padding: .75em 1.25em;
			color: $sec_temp_off_white;
			line-height: 1.2;
			text-align: center;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				background: darken($btn_bg, 2.5%);
				color: $sec_temp_off_white;
			}
		}
	}
}
