.group-bios {

	padding: 8vw;

	&__heading {
		margin-bottom: 1rem;
		color: inherit;
		line-height: 1;
	}

	&__grid {
		@include bpoint(desktop) {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-between;
		}

		&-item {
			margin-top: 1rem;

			@include bpoint(40em) {
				display: -ms-grid;
				display: grid;
				grid-gap: 1em;
				-ms-grid-rows: auto;
				grid-template-rows: auto;
				-ms-grid-columns: auto 1em 1fr;
				grid-template-columns: auto 1fr;
			}

			@include bpoint(desktop) {
				width: calc(50% - 1em);
				margin-top: 2em;

				&:nth-child(-n+2) {
					margin-top: 0;
				}
			}
		}
	}

	&__image {

		max-width: 150px;
		margin-bottom: .5rem;

		img {

			@include shadowbox( 1.5rem, 3rem, black, 0.465 );

		}

		@include bpoint(40em) {
			-ms-grid-row: 1;
			grid-row: 1;
			-ms-grid-column: 1;
			grid-column: 1;
			margin-bottom: 0;
		}
	}

	&__details {
		@include bpoint(40em) {
			-ms-grid-row: 1;
			grid-row: 1;
			-ms-grid-column: 3;
			grid-column: 2;
		}

		p {
			margin-bottom: .375rem;
			line-height: 1.2;
		}
	}

	&__name {

		display: inline-block;

		color: $g140;
		font-family: $vitesse;
		font-size: 1em;
		font-weight: 400;
		text-transform: none;

		text-decoration: none;

		transition: all 220ms linear 0ms;

		// hover state
		&:hover {

			color: $dark;

		}

		@include bpoint(40em) {
			font-size: 1.125em;
		}
	}

	&__desc {

		margin: 0 0 1rem 0;

		font-size: .875em;
		font-weight: 400;
	}

	&__contact {
		font-family: $vitesse;
		font-size: .9375em;
		font-weight: 400;

		a {

			text-decoration: none;

			@include color( $g140, 0.000 );

		}

		&-detail {
			font-weight: 700;
		}
	}
}
