// stylesheet :: styled list content block

    // settings
    $lists : 1rem;

    // styles
    .template-block {

        // class hook
        &.styled-list {

            // padding: 2rem 0 2rem 0;

            // content
            .styled-list-content {

                // container
                .styled-list-item {

                    position: relative;

                    @include flex-v-t-h-s( false );

                    margin: 0 0 2rem 0;
                    padding: 0 0 0 4rem;

                    // last child
                    &:last-child {

                        margin-bottom: 0;

                    }

                    // before
                    &:before {

                        position: absolute;

                        top: 0;
                        left: 0;

                        // @include codicon( 3rem, 3rem, 1rem, 1rem, $app05, '\EEB7' );
                        @include codicon( 3rem, 3rem, 1rem, 1rem, white, '\EEB7' );

                        @include fill( $cvnavy, 0.585 );

                    }

                    // h5
                    h5 {

                        margin: 0 0 0 0;

                        @include font( $industry, 1rem, 700 );

                        @include typo( 1.5rem, 0.035em );

                        @include color( $g140, 0.000 );

                    }

                    // text
                    .styled-list-item-content {

                        // margin: 0 0 0 0;

                        // last child
                        &:last-child {

                            margin-bottom: 0;

                        }

                    }

                }

                // unordered list
                ul {

                    margin: 0;

                    list-style: none;

                }

                // list item
                li {

                    // @include font( $industry, 1rem, 500 );

                }

            }

        }

    }
