// stylesheet :: directory demo styles

    // settings
    $directory : 1rem;

    // styles
    #directory {

        position: relative;

        min-height: calc( 100vh - 27rem );
        padding: 10rem 5rem 5rem 5rem;

        @include font( $industry, 0.875rem, 600 );

        @include color( $app05, 0.265 );

        @include fill( white, 0.000 );

        // mobile
        @include breakpoint ( small only ) {

            padding: 6rem 2rem 2rem 2rem;

        }

        // header
        header {

            @include flex-h-s-v-c( false );

            height: 5rem;

            // mobile
            @include breakpoint ( small only ) {

                height: 3rem;

            }

            // page title
            h1 {

                margin: 0 0 0 0;

                @include typo( 3rem, 0.025em );

                @include color( $cvnavy, 0.235 );

                // mobile
                @include breakpoint ( small only ) {

                    font-size: 2rem;

                }

            }

        }

        // output
        pre {

            // @include hide;

            // debug state
            &.hide {

                @include hide;

            }

        }

        // common toolbar
        .toolbar {

            height: 5rem;

        }

        // toolbar
        #directory-toolbar {

            height: 10rem;

            @include font( $industry, 0.875rem, 600 );

            // mobile
            @include breakpoint ( small only ) {

                height: auto;

            }

            // alphabet
            .alphabet {

                @include flex-h-j-v-c( false );

                width: 100%;
                height: 5rem;

                border-top: 1px solid transparentize( $app05, 0.825 );
                border-bottom: 1px solid transparentize( $app05, 0.825 );

                // mobile
                @include breakpoint ( small only ) {

                    display: block;

                    padding: 1rem 0 1rem 0;

                    height: auto;

                    @include font( $industry, 0.75rem, 700 );

                    text-align: center;

                }

                // label
                .alphabet-label {

                    @include color( $app05, 0.625 );

                    // mobile
                    @include breakpoint ( small only ) {

                        margin: 0 0.25rem 0 0;

                    }

                }

                // letters
                .alphabet-control {

                    @include flex-h-c-v-c( true );

                    min-width: 2rem;
                    height: 2rem;
                    padding: 0 0.5rem 0 0.5rem;

                    @include fill( white, 1.000 );

                    transition: all 220ms linear 0ms;

                    // mobile
                    @include breakpoint ( small only ) {

                        // height: 1.5rem;
                        padding: 0.0625rem 0.5rem 0 0.5rem;

                    }

                    // hover state
                    &:hover {

                        @include color( $campaign, 0.000 );

                        @include fill( $g135, 0.000 );

                        cursor: pointer;

                    }

                    // active state
                    &.active {

                        @include color( white, 0.000 );

                        @include fill( $g140, 0.000 );

                    }

                }

            }

        }

        // table
        #directory-records {

            width: 100% !important;

            @include font( $industry, 0.875rem, 600 );

            // header
            thead {

                // mobile
                @include breakpoint ( small only ) {

                    @include fill( $dark, 0.085 );

                }

            }

            // row
            .record {

                // height: 2rem;

                @include font( $industry, 0.875rem, 600 );

                @include typo( inherit, -0.005em );

                transition: all 320ms $outex 0ms;

                // mobile
                @include breakpoint ( small only ) {

                    position: relative;

                    // icons
                    &:before,
                    &:after {

                        position: absolute;

                        top: 0;
                        bottom: 0;
                        left: 0;

                        @include flex-v-c-h-c( false );

                        @include codicon( 1.5rem, 2.3125rem, 0.6875rem 0 0.4375rem 0.5rem, 0.5rem, $blue, inherit );

                        transition: all 220ms linear 0ms;

                    }

                    // before
                    &:before {

                        // content: '\ED5B';

                        opacity: 1.000;

                    }

                    // after
                    &:after {

                        // content: '\ED5C';

                        opacity: 0.000;

                    }

                }

                // hover state
                &:hover {

                    @include color( $cvellow, 0.000 );

                    @include fill( $cvnavy, 0.165 );

                    cursor: pointer;

                    // mobile
                    @include breakpoint ( small only ) {

                        @include fill( $g140, 0.000 );

                    }

                    // toggle controls
                    .mobile-toggle {

                        // before->open
                        &:before {

                            @include color( $campaign, 0.000 );

                        }

                        // after->close
                        &:after {

                            //

                        }

                    }

                    // email
                    .email-link,
                    .member-link {

                        @include color( $cvellow, 0.000 );

                        transition: all 320ms $outex 0ms;

                        // mobile
                        @include breakpoint ( small only ) {

                            @include color( white, 0.000 );

                        }

                    }

                }

                // expanded state
                &.parent {

                    @include fill( $g135, 0.000 );

                    // hover state
                    &:hover {

                        @include color( white, 0.000 );

                        // @include fill( $roarange, 0.000 );

                        // toggle controls
                        .mobile-toggle {

                            // before->open
                            &:before {

                                //

                            }

                            // after->close
                            &:after {

                                @include color( $roarange, 0.000 );

                            }

                        }

                        // member
                        .member-link {

                            @include color( white, 0.000 );

                            transition: all 320ms $outex 0ms;

                        }

                    }

                    // toggle controls
                    .mobile-toggle {

                        // icons
                        &:before,
                        &:after {

                            // @include color( red, 0.000 );

                        }

                        // before->open
                        &:before {

                            opacity: 0.000;

                        }

                        // after->close
                        &:after {

                            opacity: 1.000;

                        }

                    }

                    // link
                    .member-link {

                        @include color( white, 0.000 );

                    }

                }

                // toggle controls
                .mobile-toggle {

                    @include hide;

                    position: relative;

                    // mobile
                    @include breakpoint ( small only ) {

                        @include flex-h-c-v-c( true );

                        width: 2rem;
                        height: 1.5rem;

                    }

                    // icons
                    &:before,
                    &:after {

                        position: absolute;

                        top: 0;
                        left: 0;

                        @include flex-v-c-h-c( false );

                        @include codicon( 2rem, 2.3125rem, 0.6875rem 0 0.4375rem 0.75rem, 0.5rem, transparentize( $app05, 0.685 ), inherit );

                        transition: all 220ms linear 0ms;

                    }

                    // before->open
                    &:before {

                        content: '\ED5B';

                        @include color( $app05, 0.685 );

                        opacity: 1.000;

                    }

                    // after->close
                    &:after {

                        content: '\ED5C';

                        @include color( white, 0.000 );

                        opacity: 0.000;

                    }

                }

                // common
                .email-link,
                .member-link {

                    display: block;

                    padding: 0.5625rem 0.75rem 0.4375rem 0.75rem;

                    text-decoration: none;

                }

                // member
                .member-link {

                    @include color( $g140, 0.000 );

                    transition: all 320ms $outex 0ms;

                    // mobile
                    @include breakpoint ( small only ) {

                        position: relative;

                        display: inline-block;

                        padding: 0.5625rem 0.75rem 0.4375rem 0rem;

                    }

                }

                // email
                .email-link {

                    @include color( $app05, 0.265 );

                    transition: all 320ms $outex 0ms;

                }

            }

            // column
            .link-column {

                padding: 0;

                // mobile
                @include breakpoint ( small only ) {

                    // padding: 0 0 0 1.75rem;

                }

            }

            // child row (mobile)
            tr.child {

                @include fill( $g140, 0.000 );

                // list
                .dtr-details {

                    @include font( $industry, 0.75rem, 600 );

                    @include color( white, 0.000 );

                    // link
                    a {

                        @include color( $campaign, 0.000 );

                    }

                }

            }

        }

        // control group
        #directory-fields {

            @include flex-h-j-v-c( false );

            height: 5rem;

            // common
            .dataTables_length,
            .dataTables_filter {

                // mobile
                @include breakpoint ( small only ) {

                    @include font( $industry, 0.75rem, 700 );

                }

            }

        }

        // control group
        #directory-info {

            height: 3rem;

            // mobile
            @include breakpoint ( small only ) {

                @include font( $industry, 0.6875rem, 700 );

            }

        }

        // control directory view(s)
        #directory-records_length {

            @include flex-h-j-v-c( true );

            height: 5rem;

            // label
            label {

                @include flex-h-j-v-c( true );

            }

            // select
            select {

                @include flex-h-e-v-c( true );

                width: 3rem;
                height: 2rem;
                margin: 0 0.5rem 0 0.5rem;
                padding: 0 1.25rem 0 0.5rem;

                border: none;
                border-radius: 0px;

                @include font( $industry, 0.875rem, 700 );

                @include text( none, center );

                @include color( white, 0.000 );

                @include fill( $cvnavy, 0.165 );

                background: {

                    // image: url(../img/icons/admin/icon_billboard.svg);
                    repeat: no-repeat;
                    size: 1.25rem 1.25rem;
                    position: center right;

                }

                // appearance: none;

                // after
                &:before {

                    @include codicon( 1rem, 2rem, 0.5rem 0 0.5rem 0, 1rem, white, '\EDC9' );

                }

            }

        }

        // control directory view(s)
        #directory-records_filter {

            // label
            label {

                @include flex-h-j-v-c( true );

            }

            // input
            input {

                @include flex-h-s-v-c( true );

                height: 2rem;
                margin: 0 0 0 0.5rem;
                padding: 0 0.5rem 0 0.5rem;

                border: none;

                @include color( white, 0.000 );

                @include fill( $cvnavy, 0.165 );

            }

        }

        // directory info
        #directory-records_info {

            @include flex-h-c-v-c( false );

            height: 3rem;

        }

        // pagination
        #directory-controls {

            @include flex-h-c-v-c( false );

            height: 5rem;

            border-top: 1px solid transparentize( $app05, 0.825 );
            border-bottom: 1px solid transparentize( $app05, 0.825 );

            @include font( $industry, 0.875rem, 600 );

            // mobile
            @include breakpoint ( small only ) {

                height: 3rem;

            }

            // pagination controls
            #directory-records_paginate {

                @include flex-h-c-v-c( false );

                width: 50%;

                // mobile
                @include breakpoint ( small only ) {

                    width: 100%;

                }

                // directions
                #directory-records_previous,
                #directory-records_next {

                    // disabled
                    &.disabled {

                        // hover state
                        &:hover {

                            @include fill( white, 0.000 );

                        }

                    }

                }

                // ellipsis
                .ellipsis {

                    @include flex-v-c-h-c( true );

                    padding: 0 0.5rem 0 0.5rem;

                }

                // button
                .paginate_button {

                    @include flex-v-c-h-c( true );

                    min-width: 2rem;
                    height: 2rem;
                    padding: 0 0.5rem 0 0.5rem;

                    @include color( $app05, 0.265 );

                    text-decoration: none;

                    transition: all 320ms $outex 0ms;

                    // hover state
                    &:hover {

                        @include color( $campaign, 0.000 );

                        @include fill( $g135, 0.000 );

                    }

                    // disabled state
                    &.disabled {

                        @include color( $app05, 0.625 );

                    }

                    // current state
                    &.current {

                        @include color( white, 0.000 );

                        @include fill( $g140, 0.000 );

                        transition: all 320ms $outex 0ms;

                    }

                    // mobile
                    @include breakpoint ( small only ) {

                        min-width: 1.5rem;
                        height: 1.5rem;
                        padding: 0.0625rem 0.5rem 0 0.5rem;

                        @include font( $industry, 0.75rem, 700 );

                    }

                }

            }

        }

        // record
        .directory-listing {

            // @include flex-h-s-v-t( false );

            overflow: hidden;

            // profile
            .listing-profile {

                @include flex-v-t-h-c( false );

                float: left;

                width: 16rem;

                @include text( none, center );

                // common
                span {

                    @include flex-v-c-h-c( false );

                }

                // photo
                .profile-photo {

                    width: 16rem;
                    height: 16rem;
                    margin: 0 0 2rem 0;

                    border-radius: 32rem !important;

                    @include fill( $cvnavy, 0.685 );

                    background: {

                        repeat: no-repeat;
                        size: cover;
                        position: center center;

                    }

                }

                // name
                .profile-name {

                    @include flex-v-t-h-c( false );

                    margin: 0 0 1rem 0;

                    // name
                    .name {

                        margin: 0 0 1rem 0;

                        @include font( $klavislim, 1.75rem, 400 );

                        @include text( none );

                        @include typo( 1rem, 0.045em );

                    }

                    // title
                    .title {



                    }

                    // department
                    .department {



                    }

                }

                // website
                .website {

                    @include flex-h-c-v-c( false );

                    height: 3rem;
                    margin: 1rem 0 0 0;
                    padding: 0.0625rem 0 0 0;

                    @include font( $klavislim, 1rem, 400 );

                    @include text( $up );

                    text-decoration: none;

                    @include typo( 0.75rem, 0.035em );

                    @include color( white, 0.000 );

                    @include fill( $cvnavy, 0.000 );

                    transition: all 220ms linear 0ms;

                    // hover state
                    &:hover {

                        @include fill( $roarange, 0.000 );

                    }

                }

            }

            // info
            .listing-info {

                // @include flex-v-t-h-s( false );

                float: right;

                width: calc( 100% - 16rem );
                padding: 0 0 0 2rem;

                // about
                .listing-heading {

                    display: block;

                    margin: 0 0 2rem 0;

                    @include font( $klavislim, 2rem, 400 );

                    @include typo( 1.25rem, 0.045em );

                    @include color( $g140, 0.000 );

                }

                // groups
                .listing-group {

                    margin: 0 0 1rem 0;

                }

                // entry
                .entry {

                    display: block;

                    margin: 0 0 1rem 0;

                    @include font( $industry, 0.875rem, 600 );

                }

            }

        }

        // developer
        .developer {

            // hide
            &.hide {

                @include hide;

            }

            // show
            &.show {



            }

        }

    }
