// stylesheet :: homepage layout + content styles

    // styles
    .content-homepage {

        background: {

            color:

                adjust-color(

                    $app05,
                    $hue          : 0%,
                    $saturation : -20%,
                    $lightness  : -1%,
                    $alpha         : -0.000

                )

            ;

        }

    }
