// stylesheet :: homepage layout + content styles

    // homepage alert
    #homepage_alert {

        position: fixed;

        top: 5rem;
        right: 0;
        left: 0;

        z-index: 200;

        // @include hide;

        width: 100vw;
        padding: 2rem 2rem 2rem 2rem;

        @include color( white );

        @include fill( $midnite, 0.165 );

        @include shadowbox( 1rem, 3.5rem, black, 0.585 );

        // mobile
        @include breakpoint ( small only ) {

            top: 4rem;

        }

        // info
        &.info {

            @include fill( $blue, 0.165 );

        }

        // alert
        &.alert {

            @include fill( $roarange, 0.165 );

        }

        // warning
        &.warning {

            @include fill( $cvellow, 0.265 );

        }

        // good
        &.good {

            @include fill( $px-green, 0.315 );

        }

        // dismiss
        #dismiss_alert {

            position: absolute;

            top: 1rem;
            right: 1rem;

            z-index: 100;

            width: 1rem;
            height: 1rem;

            // dismiss button
            &:after {

                @include codicon( 1rem, 1rem, 0, 1rem, white, '\ED6D' );

                position: absolute;

                top: 0;
                right: 0;

                z-index: 200;

            }

            // label
            span {

                display: block;

                width: 1px;
                height: 1px;

                overflow: hidden;

                text-indent: -9999rem;

            }

        }

        // common
        span {

            // common
            &.alert_title,
            &.alert_message {



            }

            // title
            &.alert_title {

                display: block;

                margin: 0 0 0.5rem 0;

                @include font( $klavislim, 1.125rem, 400 );

                @include text( $up );

                @include typo( 1.25rem, 0.045em );

            }

            // text
            &.alert_message {

                @include font( $industry, 0.75rem, 600 );

            }

        }

        // link
        .alert_link {

            @include color( white );

        }

    }

    // test
    #cookie_controls {

        position: absolute;

        top: 16rem;
        right: 2rem;

        z-index: 300;

        @include flex-h-j-v-c( false );

        height: 3rem;

        // buttons
        .cookie_control {

            @include flex-h-c-v-c( true );

            height: 3rem;
            margin-left: 1rem;
            padding: 0 1.25rem 0 1.25rem;

            @include fill( white, 0.965 );

            @include shadowbox( 1rem, 3rem, black, 0.615 );

            transition: $all220;

            // hover state
            &:hover {

                cursor: pointer;

            }

        }

        // set
        #set_cookie {

            // hover state
            &:hover {

                @include fill( $campaign, 0.145 );

            }

        }

        // delete
        #delete_cookie {

            // hover state
            &:hover {

                @include fill( $roarange, 0.145 );

            }

        }

        // show
        #show_cookies {

            // hover state
            &:hover {

                @include fill( $blue, 0.145 );

            }

        }

    }
