// stylesheet :: flexible page template styles

	// settings
	$pagebase : #E5E7E7;

	// styles
	.page-template-flexible-page {

		display: flex;
		flex-direction: column;
		// background: $sec_temp_off_white;
		color: $steel;

		.content-area {

			flex-grow: 1;

			@include fill( $pagebase, 0.000 );

		}

		// container
		.flexible-page-content {

			// padding: 2rem 0 2rem 0;
			padding: 0 0 2rem 0;

			font-size: 1rem;

		}

		.template-block {

			padding: 2rem 8vw 2rem 8vw;

			// mobile
			@include breakpoint ( small only ) {

				padding: 1rem 2rem 1rem 2rem;

			}

			&:last-child {

				// padding-bottom: 1.25em;
				margin-bottom: 0;

			}

			&__inner {

				max-width: 75rem;
				margin: 0 auto;

			}

		}

		.template-title {

			margin-bottom: 1.6rem;
			line-height: 1;

		}

		.flexible-quote {

			box-shadow: inset 0 0 1.5em .25em rgba(black, .2);
			// margin: 2.5em 0;
			background: $sec_temp_grey;
			padding: 6vw 8vw;

			&:last-child() {

				margin-bottom: 0;

			}

		}

		.contact-group {

			&:not(:first-child) {

				margin-top: 2em;

			}

			&:not(:last-child) {

				margin-bottom: 2em;

			}

		}

		// ctas
		.ctas-with-image {

			padding: 2rem 8vw 2rem 8vw;

			// mobile
			@include breakpoint ( small only ) {

				padding: 0 2rem 1rem 2rem;

			}

		}

	}
