.page-template-flexible-page {
	display: flex;
	flex-direction: column;
	background: $sec_temp_off_white;
	color: $steel;
	font-size: 1rem;

	.content-area {
		flex-grow: 1;
	}

	.template-block {
		padding: 0 8vw;

		&:last-child() {
			padding-bottom: 1.25em;
		}

		&__inner {
			max-width: 75rem;
			margin: 0 auto;
		}
	}

	.template-title {
		margin-bottom: 1.6rem;
		line-height: 1;
	}

	.flexible-quote {
		box-shadow: inset 0 0 1.5em .25em rgba(black, .2);
		margin: 2.5em 0;
		background: $sec_temp_grey;
		padding: 6vw 8vw;

		&:last-child() {
			margin-bottom: 0;
		}
	}
}
