.page-template-dvm-flexible {

	display: flex;
	flex-direction: column;
	background: $sec_temp_off_white;
	color: $steel;
	font-size: 1rem;

	.content-area {
		flex-grow: 1;
	}

	.template-block {
		padding: 0 8vw;

		&:last-child() {
			padding-bottom: 1.25em;
		}

		&__inner {
			max-width: 75rem;
			margin: 0 auto;
		}
	}

	.template-title {
		margin-bottom: 1.6rem;
		line-height: 1;
	}

	.flexible-quote {
		box-shadow: inset 0 0 1.5em .25em rgba(black, .2);
		margin: 2.5em 0;
		background: $sec_temp_grey;
		padding: 6vw 8vw;

		&:last-child() {
			margin-bottom: 0;
		}
	}

	.contact-group {
		&:not(:first-child) {
			margin-top: 2em;
		}

		&:not(:last-child) {
			margin-bottom: 2em;
		}
	}

	// step-by-step
    .steps {

        // padding: 1rem 0 2rem 0;

    }

    // steps
    .step-container {

        @include flex-h-s-v-st( false );

        // first
        &:first-child {

            // step number
            .step-number {

                // before
                &:before {

                    @include hide;

                }

            }

        }

        // last child
        &:last-child {

            // step number
            .step-number {

                // before
                &:before {

                    // height: 1.3125rem;

                }

            }

            // step content
            .step-content {

                // before
                &:before {

                    // @include hide;

                }

            }

        }

        // step number
        .step-number {

            position: relative;

            @include flex-v-t-h-e( false )

            // flex-grow: 0;

            width: 5rem;
            min-width: 5rem;
            margin: 0 0 2rem 0;
            padding: 1rem 2rem 0 0;

            // before
            &:before {

                content: '';

                position: absolute;

                top: 0;
                right: -0.0625rem;

                width: 0.0625rem;
                height: 1.25rem;

                @include fill( $app05, 0.785 );

            }

            // after
            &:after {

                content: '';

                position: absolute;

                top: 1.25rem;
                right: 0;

                width: 1.5rem;
                height: 0.0625rem;

                @include fill( $app05, 0.785 );

            }

            // label
            .step-label {

                @include flex-h-e-v-b( false );

                margin: 0 0 1rem 0;

                @include font( $industry, 0.75rem, 700 );

                @include text( $up );

                @include typo( 0.6875rem, 0.025em );

                @include color( $app05, 0.465 );

            }

            // number
            .step-numeral {

                @include font( $klavislim, 3rem, 700 );
                // @include font( $decima, 3rem, 500 );

                @include typo( 2rem, 0.035em );

                @include color( $g140, 0.000 );

            }

        }

        // step content
        .step-content {

            position: relative;

            // flex-grow: 0;

            // margin: 0 0 2rem 0;
            padding: 0.5rem 0 2rem 1rem;

            // before
            &:before {

                content: '';

                position: absolute;

                top: 1.25rem;
                left: 0;

                width: 0.0625rem;
                height: calc( 100% - 1.25rem );

                @include fill( $app05, 0.785 );

            }

        }

    }

    // styled list
    .styled-list {

        // padding: 2rem 0 2rem 0;

        // container
        .styled-list-item {

            position: relative;

            padding: 0 0 1rem 4rem;

            // before
            &:before {

                position: absolute;

                top: 0.25rem;
                left: 0;

                // @include codicon( 3rem, 3rem, 1rem, 1rem, $app05, '\EEB7' );
                @include codicon( 3rem, 3rem, 1rem, 1rem, white, '\EEB7' );

                @include fill( $cvnavy, 0.585 );

            }

            // h5
            h5 {

                margin: 0 0 0 0;

                @include font( $klavislim, 1.25rem, 500 );

                @include color( $g140, 0.000 );

            }

        }

        // unordered list
        ul {

            margin: 0;

            list-style: none;

        }

        // list item
        li {

            // @include font( $industry, 1rem, 500 );

        }

    }

    // timeline
    .timeline {

        // padding: 2rem 10vw 2rem 10vw;

        // title
        .timeline-title {

            //

        }

        // entry
        .timeline-entry {

            // even
            &:nth-child( even ) {

                padding: 2rem 0 2rem 4rem;

                border-top: 1px solid transparentize( $app05, 0.785 );
                border-left: 1px solid transparentize( $app05, 0.785 );

            }

            // odd
            &:nth-child( odd ) {

                padding: 2rem 4rem 2rem 0;

                border-top: 1px solid transparentize( $app05, 0.785 );
                border-right: 1px solid transparentize( $app05, 0.785 );

            }

            // first child
            &:first-child {

                border-top: none;

            }

            // last child
            &:last-child {

                // padding-bottom: 0;

            }

            // content
            span {

                display: block;

                // text
                p {

                    // last child
                    &:last-child {

                        margin-bottom: 0;

                    }

                }

            }

            // date
            .timeline-entry-date {

                margin: 0 0 0.5rem 0;

                @include font( $industry, 0.75rem, 700 );

                @include text( $up );

                @include typo( 0.5rem, 0.045em );

                @include color( $g140, 0.000 );

            }

            // title
            .timeline-entry-title {

                margin: 0 0 0.5rem 0;

                @include font( $industry, inherit, 700 );

                @include color( $app05, 0.165 );

            }

        }

    }

	// notification
	.notification {

		margin: 0 0 2rem 0;
		padding: 2rem 2rem 2rem 2.375rem;

		border-left: 0.375rem solid;

		@include shadowbox( 0.5rem, 3rem, black, 0.565 );

		// warning
		&.warning {

			border-color:

				adjust-color(

					$cvellow,
					$hue 	 	: 0%,
					$saturation : 5%,
					$lightness  : -5%,
					$alpha 		: -0.000

				)

			;

			// title
			h3 {

				color:

					adjust-color(

					$cvellow,
					$hue 	 	: 0%,
					$saturation : 5%,
					$lightness  : -5%,
					$alpha 		: -0.000

					)

				;

			}

		}

		// alert
		&.alert {

			border-color:

				adjust-color(

					$roarange,
					$hue 	 	: 0%,
					$saturation : 0%,
					$lightness  : 0%,
					$alpha 		: -0.000

				)

			;

			// title
			h3 {

				color:

					adjust-color(

						$roarange,
						$hue 	 	: 0%,
						$saturation : 0%,
						$lightness  : 0%,
						$alpha 		: -0.000

					)

				;

			}

		}

		// info
		&.info {

			border-color:

				adjust-color(

					$blue,
					$hue 	 	: 0%,
					$saturation : 0%,
					$lightness  : 0%,
					$alpha 		: -0.000

				)

			;

			// title
			h3 {

				color:

					adjust-color(

						$blue,
						$hue 	 	: 0%,
						$saturation : 0%,
						$lightness  : 0%,
						$alpha 		: -0.000

					)

				;

			}

		}

		// success
		&.success {

			border-color:

				adjust-color(

					$g140,
					$hue 	 	: 0%,
					$saturation : 5%,
					$lightness  : 10%,
					$alpha 		: -0.000

				)

			;

			// title
			h3 {

				color:

					adjust-color(

						$g140,
						$hue 	 	: 0%,
						$saturation : 5%,
						$lightness  : 10%,
						$alpha 		: -0.000

					)

				;

			}

		}

		// title
		h3 {

			margin: 0 0 0.25rem 0;

			@include font( $industry, 1.25rem, 700 );

			@include text( none );

			@include typo( 1.75rem, 0.015em );

			// @include color( $app05, 0.165 );

		}

		// text
		p {

			// last child
			&:last-child {

				margin: 0 0 0 0;

			}

		}

	}

}
