// stylesheet :: flexible layout page styles

    // settings
    $flexible : 1rem;

    // styles
    #site-layout {

        // class hook
        &.flexible {

            @include color( $app05, 0.265 );

            .entry-title {

                margin: 0 0 0 0;

            }

            // header
            .page-header {

                // styled
                &.styled {

                    position: absolute;

                    top: 0;
                    right: 0;
                    left: 0;

                    z-index: 10;

                    @include flex-v-b-h-s( false );

                    height: 50vh;
                    padding: 0 12vh 3rem 12vh;

                    @include fill( $cvnavy, 0.000 );

                    background: {

                        repeat: no-repeat;
                        size: cover;
                        position: center center;

                    }

                    // before
                    &:before {

                        content: '';

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        z-index: 0;

                        background: {

                            image:

                                linear-gradient(

                                    95deg,
                                    transparentize( $blue, 0.585 ) 0%,
                                    transparentize( $cvellow, 0.615 ) 100%

                                )

                            ;

                        }

                        background: {

                            image:

                                linear-gradient(

                                    10deg,
                                    transparentize( $cvnavy, 0.235 ) 0%,
                                    transparentize( red, 1.000 ) 70%

                                )

                            ;

                        }

                    }

                    // after
                    &:after {

                        content: '';

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        z-index: 1;

                    }

                    // common
                    .page-title,
                    .page-subtitle,
                    .page-intro {

                        position: relative;

                        z-index: 10;

                    }

                    // title
                    .page-title {

                        @include flex-h-s-v-c( true );

                        width: auto;
                        margin: 0 0 1.5rem 0;

                        border: none;

                        @include font( $klavislim, 3rem, 400 );

                        @include text( $up );

                        @include typo( 2rem, 0.045em );

                        @include color( $cvellow, 0.000 );

                    }

                    // subtitle
                    .page-subtitle {

                        @include flex-h-s-v-c( true );

                        margin: 0 0 1rem 0;

                        @include font( $klavislim, 1.5rem, 400 );

                        @include text( $up );

                        @include typo( 1.25rem, 0.045em );

                        @include color( white, 0.000 );

                    }

                    // intro
                    .page-intro {

                        margin: 0;

                        @include font( $industry, 0.75rem, 600 );

                        @include typo( 1.5rem, 0.045em );

                        // @include color( $rite-lite, 0.000 );
                        @include color( white, 0.125 );

                    }

                }

                // default
                &.default {

                    padding: 6.25em 8vw 0;

                }

            }

            // content container
            #content-container {

                padding: 0 0 0 0;

                background-color: #F3F3F3;

            }

            // content area
            .content-area {

                // styled
                &.styled {

                    padding: 50vh 0 0 0;

                }

                // default
                &.default {

                    padding: 0 0 0 0;

                }

            }

            // notification
            .notification {

                padding: 4vw 8vw 4vw 8vw;

                // title
                h3 {

                    @include color( white, 0.000 );

                }

                // text
                p {

                    @include color( white, 0.000 );

                    margin: 0 0 0 0;

                }

                // alert
                &.alert {

                    @include fill( red, 0.465 );

                    // title
                    h3 {

                        @include color( white, 0.000 );

                    }

                    // text
                    p {

                        @include color( white, 0.000 );

                    }

                }

                // warning
                &.warning {

                    @include fill( $cvellow, 0.265 );

                }

                // info
                &.info {

                    @include fill( $blue, 0.315 );

                }

                // success
                &.success {

                    @include fill( $g140, 0.365 );

                }

            }

            // quotation
            .page-quote {
            	padding: 8vw;

            	&__wrap {
            		margin: 0;
            		border: none;
            		padding: 0 8vw;
            		color: inherit;
            		font-family: $klavika;
            		font-weight: 300;
            		line-height: 1.5;
            		text-align: center;

            		@include bpoint(tablet) {
            			display: -ms-grid;
            			display: grid;
            			-ms-grid-rows: auto auto;
            			grid-template-rows: auto auto;
            			-ms-grid-columns: 8vw 1fr 8vw;
            			grid-template-columns: 8vw 1fr 8vw;
            			padding: 2vw 5vw 0;
            		}

            		p {
            			color: inherit;
            			line-height: inherit;
            		}
            	}

            	&__icon {
            		width: 100%;
            		fill: $iron;

            		&--open, &--closed {
            			display: none;

            			@include bpoint(tablet) {
            				-ms-grid-row: 1;
            				grid-row: 1;
            				display: flex;
            			}
            		}

            		&--open {
            			@include bpoint(tablet) {
            				-ms-grid-column: 1;
            				grid-column: 1;
            				align-items: flex-start;
            				margin-top: -2vw;
            			}
            		}

            		&--closed {
            			@include bpoint(tablet) {
            				-ms-grid-column: 3;
            				grid-column: 3;
            				align-items: flex-end;
            				margin-bottom: calc(-2vw + 1rem); // account for bottom margin on final paragraph in quotation
            			}
            		}
            	}

            	&__quotation {
            		font-size: 1.25em;

            		@include bpoint(tablet) {
            			padding: 0 2vw;
            			font-size: 1.75em;
            		}
            	}

            	&__attribution {
            		@include bpoint(tablet) {
            			grid-row: 2;
            			grid-column: 2;
            			min-height: 2vw;
            			padding: 0 2vw;
            		}
            	}

            	&__cite {
            		color: inherit;
            		font-size: 1em;

            		@include bpoint(tablet) {
            			font-size: 1.25em;
            		}
            	}

            	&__name {
            		font-weight: 500;
            		font-style: italic;
            	}
            }

            // step-by-step
            .steps {

                padding: 1rem 0 2rem 0;

            }

            // steps
            .step-container {

                @include flex-h-s-v-st( false );

                // first
                &:first-child {

                    // step number
                    .step-number {

                        // before
                        &:before {

                            @include hide;

                        }

                    }

                }

                // last child
                &:last-child {

                    // step number
                    .step-number {

                        // before
                        &:before {

                            // height: 1.3125rem;

                        }

                    }

                    // step content
                    .step-content {

                        // before
                        &:before {

                            // @include hide;

                        }

                    }

                }

                // step number
                .step-number {

                    position: relative;

                    @include flex-v-t-h-e( false )

                    // flex-grow: 0;

                    width: 5rem;
                    min-width: 5rem;
                    margin: 0 0 2rem 0;
                    padding: 1rem 2rem 0 0;

                    // before
                    &:before {

                        content: '';

                        position: absolute;

                        top: 0;
                        right: -0.0625rem;

                        width: 0.0625rem;
                        height: 1.25rem;

                        @include fill( $app05, 0.785 );

                    }

                    // after
                    &:after {

                        content: '';

                        position: absolute;

                        top: 1.25rem;
                        right: 0;

                        width: 1.5rem;
                        height: 0.0625rem;

                        @include fill( $app05, 0.785 );

                    }

                    // label
                    .step-label {

                        @include flex-h-e-v-b( false );

                        margin: 0 0 1rem 0;

                        @include font( $industry, 0.75rem, 700 );

                        @include text( $up );

                        @include typo( 0.6875rem, 0.025em );

                        @include color( $app05, 0.465 );

                    }

                    // number
                    .step-numeral {

                        @include font( $klavislim, 3rem, 700 );
                        // @include font( $decima, 3rem, 500 );

                        @include typo( 2rem, 0.035em );

                        @include color( $g140, 0.000 );

                    }

                }

                // step content
                .step-content {

                    position: relative;

                    // flex-grow: 0;

                    // margin: 0 0 2rem 0;
                    padding: 0.5rem 0 2rem 1rem;

                    // before
                    &:before {

                        content: '';

                        position: absolute;

                        top: 1.25rem;
                        left: 0;

                        width: 0.0625rem;
                        height: calc( 100% - 1.25rem );

                        @include fill( $app05, 0.785 );

                    }

                }

            }

            // styled list
            .styled-list {

                padding: 2rem 0 2rem 0;

                // container
                .styled-list-item {

                    position: relative;

                    padding: 0 0 1rem 4rem;

                    // before
                    &:before {

                        position: absolute;

                        top: 0.25rem;
                        left: 0;

                        // @include codicon( 3rem, 3rem, 1rem, 1rem, $app05, '\EEB7' );
                        @include codicon( 3rem, 3rem, 1rem, 1rem, white, '\EEB7' );

                        @include fill( $cvnavy, 0.585 );

                    }

                    // h5
                    h5 {

                        margin: 0 0 0 0;

                        @include font( $klavislim, 1.25rem, 500 );

                        @include color( $g140, 0.000 );

                    }

                }

                // unordered list
                ul {

                    margin: 0;

                    list-style: none;

                }

                // list item
                li {

                    // @include font( $industry, 1rem, 500 );

                }

            }

            // timeline
            .timeline {

                padding: 2rem 10vw 2rem 10vw;

                // title
                .timeline-title {

                    //

                }

                // entry
                .timeline-entry {

                    // even
                    &:nth-child( even ) {

                        padding: 2rem 0 2rem 4rem;

                        border-top: 1px solid transparentize( $app05, 0.785 );
                        border-left: 1px solid transparentize( $app05, 0.785 );

                    }

                    // odd
                    &:nth-child( odd ) {

                        padding: 2rem 4rem 2rem 0;

                        border-top: 1px solid transparentize( $app05, 0.785 );
                        border-right: 1px solid transparentize( $app05, 0.785 );

                    }

                    // first child
                    &:first-child {

                        border-top: none;

                    }

                    // last child
                    &:last-child {

                        // padding-bottom: 0;

                    }

                    // content
                    span {

                        display: block;

                        // text
                        p {

                            // last child
                            &:last-child {

                                margin-bottom: 0;

                            }

                        }

                    }

                    // date
                    .timeline-entry-date {

                        margin: 0 0 0.5rem 0;

                        @include font( $industry, 0.75rem, 700 );

                        @include text( $up );

                        @include typo( 0.5rem, 0.045em );

                        @include color( $g140, 0.000 );

                    }

                    // title
                    .timeline-entry-title {

                        margin: 0 0 0.5rem 0;

                        @include font( $industry, inherit, 700 );

                        @include color( $app05, 0.165 );

                    }

                }

            }

            // video
            .layered-video {
            	background: url(../img/content/content.background.00.jpg) no-repeat center center / cover;
            	padding: 8vw;

            	&__wrap {
            		max-width: 50rem;
            		margin: 0 auto;
            	}

            	&__inner {
            		position: relative;
            		padding-top: 56.25%;

            		iframe {
            			position: absolute;
            			top: 0;
            			left: 0;
            			width: 100%;
            			height: 100%;
            			box-shadow: 0 0 1.5em .5em rgba(black, .2);
            		}
            	}
            }

            // single CTA
            .single-cta {
            	background: no-repeat center center / cover;

            	&__inner {
            		padding: 8vw;
            		// background: rgba($sec_temp_black, .68);
            		// color: $sec_temp_white;
            	}

            	&__content {
            		width: 100%;
            		max-width: 50em;
            		margin: 0 auto;
            		text-align: center;
            	}

            	&__title {
            		color: $cvellow;
            		line-height: 1;
            	}

            	&__button {
            		transition: all 220ms linear 0ms;
            		display: inline-block;
            		border: .0625em solid $cvellow;
            		padding: 1.375em 1.5em;
            		// color: $sec_temp_white;
            		font-size: .875em;
            		letter-spacing: .1em;
            		line-height: 1.2;
            		text-align: center;
            		text-transform: uppercase;

            		&:hover, &:focus {
            			// background: rgba($sec_temp_white, .1);
            			// color: $sec_temp_white;
            		}
            	}
            }

            // content w/ image
            %floated-image {
            	max-width: 100%;
            	margin-bottom: 1em;

            	@include bpoint(desktop) {
            		max-width: calc(50% - 1em);
            	}
            }

            .floated-image {
            	&:before,
            	&:after {
            		content: '';
            		display: table;
            	}

            	&:after {
            		clear: both;
            	}

            	&--left {
            		@extend %floated-image;

            		@include bpoint(desktop) {
            			float: left;
            			margin-right: 1em;
            		}
            	}

            	&--right {
            		@extend %floated-image;

            		@include bpoint(desktop) {
            			float: right;
            			margin-left: 1em;
            		}
            	}

            	&__caption {
            		padding: .5rem .5rem 0;
            		font-size: .875em;
            		font-style: italic;
            		line-height: 1.2;
            		text-align: center;
            	}
            }

            // contact group
            .group-bios {
            	padding: 8vw;

            	&__heading {
            		margin-bottom: 1rem;
            		color: inherit;
            		line-height: 1;
            	}

            	&__grid {
            		@include bpoint(desktop) {
            			display: flex;
            			flex-wrap: wrap;
            			align-items: flex-start;
            			justify-content: space-between;
            		}

            		&-item {
            			margin-top: 1rem;

            			@include bpoint(40em) {
            				display: grid;
            				grid-gap: 1em;
            				grid-template-rows: auto;
            				grid-template-columns: auto 1fr;
            			}

            			@include bpoint(desktop) {
            				width: calc(50% - 1em);
            				margin-top: 2em;

            				&:nth-child(-n+2) {
            					margin-top: 0;
            				}
            			}
            		}
            	}

            	&__image {
            		max-width: 150px;
            		margin-bottom: .5rem;

            		@include bpoint(40em) {
            			margin-bottom: 0;
            		}
            	}

            	&__details p {
            		margin-bottom: .375rem;
            		line-height: 1.2;
            	}

            	&__name {
            		color: $dark;
            		font-family: $vitesse;
            		font-size: 1em;
            		font-weight: 400;
            		text-transform: none;

            		@include bpoint(40em) {
            			font-size: 1.125em;
            		}
            	}

            	&__desc {
            		font-size: .875em;
            		font-weight: 400;

            		.group-bios & {
            			display: none;
            		}
            	}

            	&__contact {
            		font-family: $vitesse;
            		font-size: .9375em;
            		font-weight: 400;

            		&-detail {
            			font-weight: 700;
            		}
            	}
            }

            // ctas
            $cta_bg: #dadac8;
            $btn_bg: #236670;

            .ctas__grid {
            	margin: 2.5em 0;

            	@include bpoint(tablet) {
            		display: flex;
            		flex-wrap: wrap;
            		justify-content: center;
            	}

            	&-item {
            		display: flex;
            		flex-direction: column;
            		max-width: 25rem;
            		margin: 0 auto 1rem;

            		@include bpoint(tablet) {
            			width: calc(50% - .5rem);
            			max-width: none;
            			margin: 0 0 1rem 1rem;

            			&:nth-child(odd) {
            				margin-left: 0;
            			}
            		}

            		@include bpoint(desktop) {
            			.grid--3-columns & {
            				width: calc((100% / 3) - (1rem * 2 / 3));

            				&:nth-child(odd) {
            					margin-left: 1rem;
            				}

            				&:nth-child(3n+1) {
            					margin-left: 0;
            				}
            			}
            		}

            		&-image {
            			background: no-repeat center center / cover;
            			padding-top: 50%;
            		}

            		&-content {
            			flex-grow: 1;
            			background: $cta_bg;
            			padding: 10% 7.5%;
            			text-align: center;
            		}

            		&-heading {
            			margin-bottom: .5rem;
            			font-family: $industry;
            			font-size: 1.25em;
            			font-weight: 700;
            			letter-spacing: .025em;
            			line-height: 1;
            		}

            		&-desc {
            			margin-bottom: .75rem;
            			line-height: 1.2;
            		}

            		&-link {
            			margin-bottom: 0;
            		}

            		&-btn {
            			display: inline-block;
            			background: $btn_bg;
            			padding: .75em 1.25em;
            			// color: $sec_temp_off_white;
            			line-height: 1.2;
            			text-align: center;
                        color: white;

            			&:hover {
            				background: darken($btn_bg, 2.5%);
            				// color: $sec_temp_off_white;
            			}
            		}
            	}
            }

        }

    }

    // top-level hook
    .page-template-dvm-flexible {

        color: $steel;
    	font-size: 1rem;

    	.content-area {
    		flex-grow: 1;
    	}

    	.template-block {
    		padding: 0 8vw;

    		&:last-child() {
    			padding-bottom: 1.25em;
    		}

    		&__inner {
    			max-width: 75rem;
    			margin: 0 auto;
    		}
    	}

    	.flexible-page-header {
    		padding: 6.25em 8vw 0;

    		.entry-title {
    			max-width: 75rem;
    		}
    	}

    	.template-title {
    		margin-bottom: 1.6rem;
    		line-height: 1;
    	}

    	.flexible-quote {
    		box-shadow: inset 0 0 1.5em .25em rgba(black, .2);
    		margin: 2.5em 0;
    		// background: $sec_temp_grey;
    		padding: 6vw 8vw;

    		&:last-child() {
    			margin-bottom: 0;
    		}
    	}
    }

    // accordions
    .cvmbs-accordions {
        margin-top: 1.5em;
    }

    .cvmbs-accordion {

        &.has-loaded {
            margin-bottom: 1.25rem;
        }

        &__title {
            .has-loaded & {
                margin: 0;
            }
        }

        &__toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            background: #d3d3d3;
            padding: 1rem;
            text-align: left;
        }

        &__content {
            transition: all 360ms cubic-bezier(0.19, 1, 0.22, 1);

            .has-loaded & {
                opacity: 1;
                width: 100%;
                height: 100%;
                max-height: 1000vh;
                background: #eee;
                padding: 1rem;

                &[aria-hidden="true"] {
                    display: none;
                    overflow: hidden;
                    visibility: hidden;
                    opacity: 0;
                    height: 0;
                    max-height: 0;
                }

                & > *:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }
