.program-contact {
	background: $app05;
	padding: 8vw;
	color: white;

	// (only if supported by browser)
	@supports (mix-blend-mode: overlay) {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0.175;
			mix-blend-mode: overlay;
			background: {
				image: url(../img/patterns/pattern.horizontal.svg);
				repeat: no-repeat;
				size: 120%;
				position: 0 -8rem;
			}
		}
	}

	&__inner {
		position: relative;

		@include bpoint(desktop) {
			display: flex;
			justify-content: center;
		}
	}

	&__title {
		margin-bottom: 2rem;
		color: white;

		@include bpoint(desktop) {
			max-width: 40%;
			margin: 0;
			border-right: 1px solid transparentize(white, 0.465);
			padding-right: 4vw;
		}
	}

	&__content {
		margin: 0;

		@include bpoint(desktop) {
			flex-grow: 1;
			width: 60%;
			max-width: 75em;
			margin-left: 4vw;
		}

		.gform_wrapper {
			margin: 0;

			.gform_body {
				ul {
					li {
						&.gfield {
							&:first-child {
								margin-top: 0;
							}
						}
					}
				}

				.gfield_required {
					color: $gold;
				}
			}

			.gform_footer {
				input {
					&.button {
						font-weight: 600;
						letter-spacing: .135em;
						text-transform: uppercase;
					}
				}
			}
		}

		.gform_confirmation_wrapper {
			font-size: 1rem;

			@include bpoint(desktop) {
				padding: 4vw 0;
				text-align: center;
			}
		}

		li {
			color: white;
		}
	}
}
