.degree-program-intro {
	background: $sec_temp_white;
	padding: 8vw;
	@include color( $cvnavy, 0.165 );

	&__inner {
		@include bpoint(tablet) {
			display: flex;
			justify-content: space-between;
		}
	}

	&__sidebar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 2em;

		@include bpoint(tablet) {
			margin-top: 0;
			margin-left: 2em;
		}
	}

	&__button {
		transition: $all220;
		min-width: 16rem;
		margin: 0 0 .5rem 0;
		background: rgba( $cvnavy, .9 );
		padding: 1rem 1.25rem;
		color: white;
		@include font( $klavislim, 1rem, 500 );
		letter-spacing: 0.265em;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;

		&:visited {
			color: white;
		}

		&:hover, &:focus, &:active {
			background: $blue;
			color: $cvnavy;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__desc {
		max-width: 75em;
		@include font( $klavika, 1.25rem, 400 );
		letter-spacing: 0.065em;

		& > :last-child {
			margin-bottom: 0;
		}
	}

	&__grid {
		margin-top: 2em;
		width: 100%;

		@include bpoint(tablet) {
			margin-top: 4vw;
		}
	}
}
