.organizations {
	color: white;
	background: $app05;
	padding: 8vw;

	&__title {
		margin: 0;
		color: $gold;
		text-align: center;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	&__button {
		transition: $all220;
		margin: 1rem .5rem 0;
		border: .0125em solid white;
		padding: 1rem 1.25rem;
		color: white;
		@include font( $klavislim, 0.875rem, 400 );
		letter-spacing: 0.135em;
		line-height: 1;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&:visited {
			color: white;
		}

		&:hover, &:focus, &:active {
			background: rgba(white, .1);
			color: white;
		}
	}
}
