.program-facts {
	position: relative;
	padding: 8vw;
	background: $cvnavy;
	color: $sec_temp_white;

	// after (only if supported by browser)
	@supports (mix-blend-mode: overlay) {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			opacity: 0.175;
			mix-blend-mode: overlay;
			background: {
				image: url(../img/patterns/pattern.horizontal.svg);
				repeat: no-repeat;
				size: 120%;
				position: 0 -8rem;
			}
		}
	}

	&__inner {
		position: relative;

		@include bpoint(desktop) {
			display: flex;
		}
	}

	&__title {
		@include flex-h-e-v-t( true );
		margin-bottom: 2rem;
		color: $blue;
		@include font( $klavislim, 3rem, 400 );
		letter-spacing: 0.075em;
		line-height: .875;

		@include bpoint(desktop) {
			max-width: 40%;
			margin: 0;
			border-right: 1px solid transparentize(white, 0.465);
			padding-right: 4vw;
		}
	}

	&__content {
		@include flex-h-s-v-t( true );
		margin: 0;

		@include bpoint(desktop) {
			flex-grow: 1;
			width: 60%;
			padding-left: 4vw;
		}
	}

	&__list {
		margin: 0;
		list-style: none;
	}

	&__item {
		@include font( $industry, 0.875rem, 500 );
		letter-spacing: 0.035em;
		@include color( white, 0.000 );

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__name {
		@include flex-h-s-v-c( false );
		margin-bottom: .5rem;
		@include font( $klavislim, 1.25rem, 400 );
		line-height: 1;
		letter-spacing: 0.075em;
		@include text( $up );
		@include color( $cvellow, 0.000 );
	}
}
