// stylesheet :: degree program post content styles

    .program-block {
        &__title {
            @include font( $klavislim, 2rem, 400 );
            letter-spacing: .075em;
            line-height: 1;
            @include text( $up );

            @include bpoint(desktop) {
                font-size: 2.5rem;
            }
        }
    }

    // settings
    $degree : 1rem;

    // styles
    #site-layout {

        // content container
        .content-container {

            // class hook
            &.programs {

                @include flex-v-t-h-s( false );

                margin: 32rem 0 0 0;

                // overlay
                .programs-overlay {

                    position: absolute;

                    top: 0;
                    right: 0;
                    left: 0;

                    z-index: 10;

                    width: 100%;
                    height: 32rem;
                    margin: 0;
                    padding: 0;

                    @include fill( $dark-nite, 0.245 );

                    @include gradient(
                        90deg,
                        red, 1.000, 0%,
                        $dark, 0.000, 100%
                    );

                }

                // content
                .programs-content {

                    position: relative;

                    z-index: 20;

                    width: 100%;
                    padding: 2.5rem 5rem 5rem 5rem;

                    // min-height: calc( 100vh + 2rem );

                    @include color( $oil, 0.000);

                    @include fill( white, 0.000 );

                    // title
                    .page-title {

                        position: absolute;

                        top: -5rem;

                        z-index: 10;

                        @include flex-h-s-v-b( false );

                        height: 5rem;
                        margin: 0 0 0 0;
                        padding: 0 0 2.5rem 0;

                        border: none;

                        @include font( $klavislim, 3rem, 400 );

                        @include typo( 1.75rem, 0.085em );

                        @include color( $gold, 0.000 );

                    }

                    // text
                    p {

                        // last child
                        &:last-child {

                            margin-bottom: 0;

                        }

                    }

                }

            }

        }

    }

    .degree-program-container {

        position: relative;

        top: 0;
        right: 0;
        left: 0;

        width: 100%;

        -webkit-filter: blur( 0px );
                filter: blur( 0px );

        transition: all 0ms linear 0ms;

        // menu open class
        .site-menu-open & {

            -webkit-filter: blur( 8px );
                    filter: blur( 8px );

            transition: all 0ms linear 0ms;

        }

        // content
        .program-content {

            width: 100%;
            padding: 8vw;

            // lite
            &.lite {

                @include color( $cvnavy, 0.165 );

                @include fill( white, 0.000 );

            }

            // dark
            &.dark {

                @include color( white, 0.000 );

                @include fill( $app05, 0.000 );

            }



            // documents
            &.documents {

                @include flex-h-s-v-c( false );
                @include flex-v-t-h-s( true );

                // button
                .document-button {

                    position: relative;

                    @include flex-h-s-v-c( true );

                    min-width: 16rem;
                    height: 3rem;
                    margin: 0 1rem 1rem 0;
                    padding: 0.1875rem 3rem 0 1.25rem;

                    @include font( $klavislim, 1rem, 400 );

                    line-height: 0.75rem;

                    letter-spacing: 0.265em;

                    @include text( $up );

                    @include fill( $roarange, 0.000 );

                    @include color( white, 0.000 );

                    transition: $all220;

                    // last child
                    &:last-child {

                        margin: 0 0 0 0;

                    }

                    // hover state
                    &:hover {

                        @include fill( $gold, 0.000 );

                    }

                    // after
                    &:after {

                        @include codicon( 3rem, 3rem, 1rem, 1rem, white, '\EF3E' );

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;

                        z-index: 10;

                        // margin: 0 0.5rem 0.125rem 0;

                    }

                }

            }

            // concentrations
            &.concentrations {

                @include flex-v-c-h-st( false );

                // title
                .title {

                    @include flex-h-c-v-c( false );

                    margin: 0 0 4rem 0;

                    @include font( $klavislim, 2.5rem, 400 );

                    letter-spacing: 0.075em;

                    @include color( $blue, 0.000 );

                }

                // content
                .concentrations-content {

                    @include flex-h-j-v-s( false );

                    // button
                    .concentration-button {

                        position: relative;

                        @include flex-v-c-h-st( false );

                        // flex-grow: -1;
                        flex-basis: calc( 50% - 2rem );

                        min-height: 18rem;
                        margin: 0 0 0 0;
                        padding: 6rem 2rem 4rem 2rem;

                        border-bottom: 2px solid $cvellow;

                        @include color( $g140, 0.000 );

                        @include fill( $neutral, 0.665 );
                        // @include fill( $cvellow, 0.865 );

                        // common
                        .button-title,
                        .button-text {

                            position: relative;

                            z-index: 10;

                        }

                        // title
                        .button-title {

                            @include flex-h-s-v-b( false );

                            margin: 0 0 1rem 0;

                            @include font( $klavislim, 1.25rem, 400 );

                            line-height: 1rem;

                            letter-spacing: 0.075em;

                            @include text( $up, left );

                            @include color( $g140, 0.000 );

                        }

                        // text
                        .button-text {

                            @include flex-h-s-v-b( false );

                            @include font( $industry, 0.75rem, 600 );

                            line-height: 1rem;

                            @include text( inherit, left);

                            @include color( $app05, 0.185 );

                        }

                        // button
                        .button-button {

                            position: absolute;

                            right: 0;
                            bottom: 0;

                            z-index: 10;

                            @include flex-h-e-v-c( false );

                            height: 3rem;
                            margin: 1.5rem 0 0 0;
                            padding: 0.125rem 2.5rem 0 1.25rem;

                            @include font( $klavislim, 0.75rem, 500 );

                            line-height: 0.875rem;

                            letter-spacing: 0.265em;

                            @include text( $up );

                            @include color( $g140, 0.000 );

                            transition: $all220;

                            // hover state
                            // &:hover {

                            //     // @include fill( $g140, 0.000 );

                            // }

                            // after
                            &:after {

                                @include codicon( 2.75rem, 3rem, 1rem 0.75rem 1rem 1rem, 0.75rem, $cvellow, '\EDD6' );

                                position: absolute;

                                top: 0;
                                right: 0;
                                bottom: 0;

                                z-index: 10;

                            }

                        }

                    }

                }

            }

            // minors
            &.minors {

                @include flex-h-j-v-s( false );

                padding: 0 0 0 0;

                @include color( $app05, 0.185 );

                @include fill( $neutral, 0.000 );

                // content
                .content {

                    @include flex-v-c-h-s( true );

                    flex-basis: 50%;

                    margin: 8rem 0 8rem 0;
                    padding: 8rem 10vw 8rem 6rem;

                    // text
                    .minor-description {

                        @include font( $industry, 0.875rem, 600 );

                        line-height: 1.5rem;

                        letter-spacing: 0.035em;

                        @include color( $app05, 0.215 );

                    }

                    // button
                    .minor-link-button {

                        @include flex-h-c-v-c( false );

                        height: 4rem;
                        margin: 2rem 0 0 0;
                        padding: 0.125rem 1.5rem 0 1.5rem;

                        // border: 1px solid transparentize( $app05, 0.125 );

                        @include font( $klavislim, 1rem, 400 );

                        line-height: 0.75rem;

                        letter-spacing: 0.265em;

                        @include text( $up );

                        // @include color( $app05, 0.125 );
                        @include color( white, 0.000 );

                        @include fill( $roarange, 0.000 );

                        transition: $all220;

                    }

                }

                // design
                .design-block {

                    @include flex-h-c-v-c( true );

                    flex-basis: 50%;

                    @include fill( $blue, 0.000 );

                    // image
                    .artwork {

                        width: 100%;
                        height: 100%;

                        background: {

                            repeat: no-repeat;
                            size: cover;
                            position: center center;

                        }

                        opacity: 0.365;

                    }

                }

            }

            // similar majors
            &.similar {

                @include flex-h-j-v-s( false );

                padding: 0 0 0 10vw;

                @include color( white, 0.000 );

                @include fill( $cvnavy, 0.000 );

                // title
                .title {

                    @include flex-v-c-h-e( true );

                    flex-basis: 30%;

                    margin: 12rem 0 12rem 0;
                    padding: 0 4rem 0 0;

                    @include color( $cvellow, 0.000 );

                }

                // button
                .buttons {

                    @include flex-h-j-v-s( true );

                    flex-basis: 70%;

                    // button
                    .similar-major-link {

                        @include flex-v-c-h-c( true );

                        flex-basis: 33.333333%;
                        flex-grow: 0;

                        padding: 2rem 2rem 2rem 2rem;

                        @include font( $klavislim, 1rem, 400 );

                        letter-spacing: 0.235em;

                        @include text( $up, center );

                        @include color( white, 0.000 );

                        @include fill( white, 0.965 );

                        transition: $all220;

                        // 01
                        &:nth-of-type( 1 ) {

                            @include fill( white, 0.985 );

                        }

                        // 02
                        &:nth-of-type( 2 ) {

                            @include fill( white, 0.955 );

                        }

                        // 03
                        &:nth-of-type( 3 ) {

                            @include fill( white, 0.925 );

                        }

                        // hover state
                        &:hover {

                            @include fill( $roarange, 0.000 );

                        }

                    }

                }

            }

            // contacts
            &.contacts {

                // @include fill( $blue, 0.000 );

                // title
                .title {

                    @include color( white, 0.000 );

                }

                // list
                .contact-list {

                    @include flex-h-s-v-st( false );

                    margin: 0;

                    list-style: none;

                    // card
                    .contact-card {

                        width: 20rem;
                        padding: 2rem;

                        color: white;

                        @include fill( white, 0.965 );

                        img {

                            width: 16rem;
                            margin: 0 0 1rem 0;

                        }

                    }

                }

            }

            // location
            &.location {

                position: relative;

                background: {

                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

                // after
                &:after {

                    content: '';

                    position: absolute;

                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    z-index: 10;

                    @include fill( $app05, 0.565 );

                }

                // wrapper
                .content-wrapper {

                    position: relative;

                    z-index: 20;

                    @include flex-v-j-h-s( false );

                    width: 50%;

                }

                // title
                .title {

                    position: relative;

                    z-index: 20;

                    // @include flex-h-c-v-c( false );

                    width: 100%;

                    @include color( $gold, 0.000 );

                }

                // content
                .content {

                    position: relative;

                    z-index: 20;

                    @include typo( 1.5rem, 0.045em );

                }

                // button
                .content-button {

                    @include flex-h-c-v-c( false );

                    height: 3rem;
                    margin: 2rem 0 0 0;
                    padding: 0.0625rem 1rem 0 1rem;

                    border: 1px solid $gold;

                    @include font( $industry, 0.75rem, 600 );

                    @include typo( 0.5rem, 0.065em );

                    @include text( $up );

                    color: white;

                }

            }

            // last child
            &:last-child {

                // output
                .content-output {

                    margin-bottom: 0;

                }

            }

        }

    }
