// stylesheet :: degree programs archive layout

    // settings
    $archive : 1rem;

    // styles
    #site-layout {

        // class hook
        &.programs {

            // class hook
            &.archive {

                background: {

                    image: url(../img/billboards/billboard.09.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

                // container
                .content-container {

                    margin: 32rem 0 0 0;

                    // overlay
                    .programs-overlay {

                        height: 32rem;

                        @include fill( $dark-nite, 0.345 );

                        @include gradient(

                            90deg,
                            red, 1.000, 0%,
                            $dark, 0.165, 100%

                        );

                    }

                }

                // content
                .programs-content {

                    @include flex-h-j-v-s( false );

                    flex-wrap: wrap;

                    padding: 1.5rem 4rem 4rem 4rem;

                    // title
                    .page-title {

                        width: auto;
                        padding: 0 0 2.5rem 1rem;

                        @include color( $gold, 0.000 );

                    }

                }

                // place card
                .place-card {

                    position: relative;

                    @include flex-v-t-h-c( true );

                    flex-basis: calc( 33.3333333% - 2rem );

                    height: 16rem;
                    margin: 1rem 1rem 1rem 1rem;
                    padding: 2rem;

                    overflow: hidden;

                    @include color( white, 0.000 );

                    @include shadowbox( 1.5rem, 4rem, black, 0.615 );

                    transform: translate3d( 0, 0, 0 );

                    transition: all 240ms $outex 0ms;

                    // hover state
                    &:hover {

                        cursor: pointer;

                        // artwork
                        .thumb-artwork {

                            -webkit-filter:

                                opacity( 0.565 )
                                // grayscale( 0.765 )
                                blur( 0px )

                            ;

                            filter:

                                opacity( 0.865 )
                                // grayscale( 0.365 )
                                blur( 0px )

                            ;

                            transform: scale3d( 1.15, 1.15, 1.15 );

                            transition: all 360ms $ocirc 0ms;

                        }

                        // overlay
                        .thumb-overlay {

                            transition: all 360ms $outex 0ms;

                            // before
                            &:before {

                                opacity: 0.000;

                                transition: all 360ms $outex 0ms;

                            }

                            // after
                            &:after {

                                opacity: 0.925;

                            }

                        }

                        // title
                        header {

                            position: absolute;

                            right: 0;
                            bottom: 0;
                            left: 0;

                            z-index: 30;

                            @include flex-v-b-h-e( false );

                            width: 100%;
                            // height: 3rem;
                            padding: 0 2rem 2rem 0;

                            // common
                            .place-title,
                            .place-link {

                                transition: all 360ms $ocirc 0ms;

                            }

                            // title
                            .place-title {

                                transform: translate3d( 0, -1rem, 0 );

                            }

                            // link
                            .place-link {

                                display: block;

                                visibility: visible;

                                opacity: 1.000;

                                transform: translate3d( 0, -1rem, 0 );

                            }

                        }

                    }

                    // common
                    .thumb-artwork,
                    .thumb-overlay {

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                    }

                    // artwork
                    .thumb-artwork {

                        z-index: 10;

                        background: {

                            repeat: no-repeat;
                            size: cover;
                            position: center center;

                        }

                        -webkit-filter:

                            opacity( 1.000 )
                            grayscale( 0.000 )
                            // blur( 8px )

                        ;

                        filter:

                            opacity( 1.000 )
                            grayscale( 0.000 )
                            // blur( 8px )

                        ;

                        transform: scale3d( 1, 1, 1 );

                        transition: all 360ms $outex 0ms;

                    }

                    // overlay
                    .thumb-overlay {

                        z-index: 20;

                        transition: all 360ms $outex 0ms;

                        // common
                        &:before,
                        &:after {

                            position: absolute;

                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;

                            transition: all 360ms $outex 0ms;

                        }

                        // before
                        &:before {

                            content: '';

                            z-index: 10;

                            @include fill( $roarange, 0.345 );

                            opacity: 1.000;

                        }

                        // after
                        &:after {

                            content: '';

                            z-index: 20;

                            @include gradient(

                                180deg,
                                red, 1.000, 0%,
                                // $cvnavy, 0.365, 100%
                                $cvnavy, 0.000, 100%

                            );

                            opacity: 0.785;

                        }

                    }

                    // title
                    header {

                        position: absolute;

                        right: 0;
                        bottom: 0;
                        left: 0;

                        z-index: 30;

                        @include flex-v-b-h-e( false );

                        width: 100%;
                        padding: 0 2rem 2rem 0;

                        // common
                        .place-title,
                        .place-link {

                            transform: translate3d( 0, 0, 0 );

                            transition: all 360ms $ocirc 0ms;

                        }

                        // title
                        .place-title {

                            @include font( $klavislim, 1.25rem, 400 );

                            @include text( $up );

                            @include typo( 0.875rem, 0.085em );

                        }

                        // link
                        .place-link {

                            position: absolute;

                            right: 2rem;
                            bottom: 1rem;

                            z-index: 10;

                            @include font( $industry, 0.6875rem, 700 );

                            @include text( $up );

                            @include typo( 0.75rem, 0.045em );

                            @include color( $roarange, 0.000 );

                            opacity: 0.000;

                            transform: translate3d( 0, 2rem, 0 );

                        }

                    }

                }

            }

        }

    }
