// stylesheet :: degree program post content styles

    // settings
    $degree : 1rem;

    // styles
    .degree-program-container {

        // header
        .degree-program-header {

            position: relative;

            @include flex-v-b-h-s( false );

            width: 100vw;
            height: 28rem;
            margin: 0;
            padding: 4rem 10vw 2rem 10vw;

            @include fill( white, 0.965 );

            background: {

                size: cover;
                position: center center;
                repeat: no-repeat;

            }

            // overlay
            &:after {

                content: '';

                position: absolute;

                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                z-index: 10;

                @include fill( $cvnavy, 0.565 );

            }

            // title
            .program-title {

                position: relative;

                z-index: 20;

                margin: 0 0 0 0;
                padding: 0 0 0 0;

                @include font( $klavislim, 3rem, 400 );

                line-height: 4rem;

                letter-spacing: 0.285em;

                @include color( $cvellow, 0.000 );

                // @include shadowtext( 0.75rem, 1.5rem, black, 0.465 );

            }

            // navigation
            .program-navigation {

                position: relative;

                z-index: 20;

                @include font( $klavislim, 1rem, 400 );

                line-height: 1rem;

                letter-spacing: 0.285em;

                @include text( $up );

                @include color( white, 0.000 );

            }

        }

        // content
        .degree-program-content {

            width: 100vw;
            height: auto;
            min-height: calc( 100vh - 28rem );

            @include color( $app10, 0.000 );

        }

        // content
        .program-content {

            width: 100vw;
            padding: 8rem 10vw 8rem 10vw;

            // row
            &.program-row {

                // padding: 8rem 0 8rem 0;

            }

            // lite
            &.lite {

                @include color( $cvnavy, 0.165 );

                @include fill( white, 0.000 );

            }

            // dark
            &.dark {

                @include color( white, 0.000 );

                @include fill( $app05, 0.000 );

            }

            // description
            &.description {

                @include flex-h-j-v-s( false );

                // text
                .description-text {

                    @include flex-h-s-v-c( true );

                    width: calc( 100% - 16rem );
                    padding: 0 2rem 0 0;

                    @include font( $klavika, 1.25rem, 400 );

                    line-height: 2rem;

                    letter-spacing: 0.065em;

                }

                // sidebar
                .program-sidebar {

                    @include flex-v-t-h-s( true );

                    width: 16rem;
                    padding: 2rem 2rem 2rem 2rem;

                    @include fill( $cvnavy, 0.125 );

                    // title
                    .degree-type-label {

                        @include flex-h-s-v-c( true );

                        height: 0.75rem;
                        margin: 0 0 0.5rem 0;

                        @include font( $klavislim, 0.875rem, 500 );

                        line-height: 0.75rem;

                        letter-spacing: 0.065em;

                        @include text( $up );

                        @include color( $cvellow, 0.000 );

                    }

                    // title
                    .degree-type-text {

                        @include flex-h-s-v-c( true );

                        height: 0.75rem;
                        margin: 0 0 1rem 0;

                        @include font( $klavika, 0.875rem, 500 );

                        line-height: 0.75rem;

                        letter-spacing: 0.065em;

                        @include color( white, 0.000 );

                    }

                    // button
                    .degree-document-button {

                        @include flex-h-c-v-c( true );

                        width: 100%;
                        height: 3rem;
                        margin: 0 0 1rem 0;
                        padding: 0 1.25rem 0 1.25rem;

                        @include font( $klavislim, 0.875rem, 400 );

                        line-height: 0.75rem;

                        letter-spacing: 0.165em;

                        @include text( $up );

                        @include fill( white, 0.905 );

                        @include color( white, 0.000 );

                        transition: $all220;

                        // hover state
                        &:hover {

                            @include fill( $blue, 0.000 );

                        }

                        // last button
                        &:last-child {

                            margin: 0 0 0 0;

                        }

                    }

                }

            }

            // video
            &.video {

                @include flex-h-j-v-s( false );

                background: {

                    image: url(../img/content/content.background.00.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: top right;

                }

            }

            // facts
            &.facts {

                @include flex-h-j-v-s( false );

                padding: 10rem 10vw 10rem 10vw;

                @include fill( $cvnavy, 0.00 );

                background: {

                    image: url(../img/content/content.background.01.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: bottom right;

                }

                // title
                .facts-title {

                    @include flex-h-e-v-t( true );

                    width: 40%;
                    margin: 0 0 0 0;
                    padding: 0 3rem 0 0;

                    border-right: 1px solid transparentize( white, 0.465 );

                    // title
                    .title {

                        @include font( $klavislim, 3rem, 400 );

                        line-height: 3rem;

                        letter-spacing: 0.075em;

                        @include color( $blue, 0.000 );

                    }

                }

                // title
                .facts-content {

                    @include flex-h-s-v-t( true );

                    width: 60%;
                    margin: 0 0 0 0;
                    padding: 0 0 0 3rem;

                    // list
                    .list {

                        margin: 1.5rem 0 0 0;

                        list-style: none;

                        // item
                        li {

                            margin: 0 0 1.5rem 0;

                            @include font( $industry, 0.875rem, 600 );

                            line-height: 1rem;

                            @include color( white, 0.000 );

                        }

                    }

                }

            }

            // documents
            &.documents {

                // button
                .document-button {

                    @include flex-h-c-v-c( true );

                    height: 3rem;
                    margin: 0 0 0 0;
                    padding: 0 1.25rem 0 1.25rem;

                    @include font( $klavislim, 1rem, 400 );

                    line-height: 0.75rem;

                    letter-spacing: 0.265em;

                    @include text( $up );

                    @include fill( $roarange, 0.000 );

                    @include color( white, 0.000 );

                }

            }

            // last child
            &:last-child {

                // output
                .content-output {

                    margin-bottom: 0;

                }

            }

            // video container
            .video-container {

                width: 60%;

                // @include shadowbox( 1rem, 4rem, black, 0.465 );

                // video
                .program-video {

                    position: relative;

                    padding: 56.25% 0 0 0;

                    // iframe
                    iframe {

                        position: absolute;

                        top: 0;
                        left: 0;

                        width: 100%;
                        height: 100%;

                    }

                }

            }

            // text
            .video-text {

                @include flex-v-b-h-s( true );

                width: 40%;
                padding: 0 0 0 3rem;

                letter-spacing: 0.035em;

                @include text( $up );

                @include color( $app90, 0.000 );

                // type
                .program-type {

                    @include font( $klavislim, 1rem, 400 );

                    line-height: 2rem;

                    letter-spacing: 0.265em;

                }

                // name
                .program-name {

                    margin: 0 0 0 -0.125rem;

                    @include font( $klavislim, 3rem, 400 );

                    line-height: 3rem;

                }

                // subtext
                .program-subtext {

                    @include font( $vitesse, 0.75rem, 600 );

                    line-height: 1rem;

                }

            }

            // lists
            ul {

                margin: 0 0 0 1rem;

            }

        }

        // label
        .content-label {

            display: block;

            margin: 0 0 0.5rem 0;

            @include font( $klavislim, 1.25rem, 400 );

            @include text( none );

            @include color( $blue, 0.000 );

        }

        // output
        .content-output {

            display: block;

            margin: 0 0 1.5rem 0;

            // p
            p {

                margin: 0 0 0 0;

            }

        }

    }
