.post-type-archive-student_organization,
.single-student_organization {
	display: flex;
	flex-direction: column;
	background: $sec_temp_off_white;
	color: $steel;
	font-size: 1rem;

	.content-area {
		flex-grow: 1;
	}
}

@import 'header';

// archive
@import 'grid';

// single
@import 'content';
