// stylesheet :: department homepage intro/quick links

    // settings
    $intro : 1rem;

    // styles
    .dept-deg-progs {

        position: relative;

        padding: 4rem;

        @include color( white, 0.000 );

        @include fill( $dark, 0.000 );

        @include gradient(

            0deg,
            $g140, 0.000, 0%,
            $g140, 1.000, 40%

        );

        // mobile
        @include breakpoint ( small only ) {

            padding: 2rem 2rem 2rem 2rem;

        }

        // design
        .design-layer {

            position: absolute;

            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            width: 100%;
            height: 100%;

            // common
            .layer {

                position: absolute;

                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 100%;

            }

            // image
            .image {

                background: {

                    image: url(../img/patterns/pattern.vertical.svg);
                    repeat: no-repeat;
                    size: cover;

                }

                mix-blend-mode: overlay;

                opacity: 0.165;

            }

            // color
            .color {

                @include fill( $dark, 0.365 );

            }

        }

        // degrees
        &__content {

            position: relative;

            // title
            .section-heading {

                margin: 0 0 2rem 1rem;

                @include font( $klavislim, 2rem, 400 );

                @include typo( 1, 0.085em );

                @include color( #F3F1E0, 0.000 );

                @include bpoint(40em) {

                    font-size: 2.5rem;

                }

            }

        }

        // list
        &__type {

            &:not(:last-child) {
                margin-bottom: 2rem;
            }

            &-heading {
                margin: 0 0 0 1rem;
                color: white;
            }

            .programs-container {

                @include flex-h-s-v-st( false );

                flex-wrap: wrap;

            }

            // link
            .program-link {

                @include flex-v-c-h-s( true );

                flex: 0 0 auto;

				width: calc(100% - 2rem);

                margin: 1rem 1rem 1rem 1rem;
                padding: 2rem 2rem 2rem 2rem;

                @include font( $klavislim, 1.125rem, 400 );

                text-decoration: none;

                @include text( $up );

                @include typo( 1.2, 0.035em );

                @include color( $cvellow, 0.000 );

                @include fill( white, 0.965 );

                @include shadowbox( 1rem, 3rem, black, 0.365 );

                transition: all 220ms linear 0ms;

				@include bpoint(tablet) {
					width: calc(50% - 2rem);
				}

				@include bpoint(desktop) {
					width: calc((100% / 3) - 2rem);
				}

				@include bpoint(widescreen) {
					width: calc(25% - 2rem);
				}

                &__parent {

                    @include font( $klavislim, 0.875rem, 400 );

                    @include color( white, 0.000 );

                }

                // hover state
                &:hover,
                &:focus,
                &:active {

                    @include color( white, 0.000 );

                    @include fill( white, 0.905 );

                }

            }

        }

    }
