// stylesheet :: department billboard styles

    // settings
    $billboard : 1rem;

    // styles
    #site-layout.department {

        position: relative;

        background: {

            repeat: no-repeat;
            size: cover;
            position: top center;

        }

        // menu open
        &.site-menu-open {

            -webkit-filter: blur( 16px );
                    filter: blur( 16px );

            transition: all 0ms linear 0ms;

        }

    }
