// stylesheet :: department billboard styles

    // settings
    $content : 1rem;

    // styles
    #department-content {

        position: relative;

        left: 0;
        right: 0;

        z-index: 20;

        width: 100%;
        margin: 80vh 0 0 0;

        @include color( $app05, 0.000 );

        // menu open
        .site-menu-open & {

            -webkit-filter: blur( 16px );
                    filter: blur( 16px );

            transition: all 0ms linear 0ms;

        }

        // common
        .homepage-section {

            @include flex-h-s-v-c( false );

            padding: 6rem 8rem 6rem 8rem;

        }

        // title
        #homepage-title {

            position: absolute;

            top: -16rem;

            @include flex-h-s-v-b( false );

            height: 16rem;
            padding: 0 8rem 2rem 8rem;

            color: white;

            // title
            .site-title {

                margin: 0 2rem 0 0;
                padding: 1rem 2rem 1rem 0;

                border-right: 2px solid $cvellow;

                @include font( $klavislim, 2rem, 400 );

                @include typo( 2.5rem, 0.085em );

                @include text( $up, right );

            }

            // text
            .site-description {

                @include flex-h-s-v-b( true );

                width: 28rem;
                height: 7rem;
                margin: 0 0 0 0;
                padding: 0 0 1.25rem 0;

                @include font( $industry, 0.875rem, 600 );

                @include typo( 1.25rem, 0.065em );

            }

        }

        // intro
        #homepage-intro-text {

            padding: 6rem 28rem 6rem 8rem;

            @include font( $industry, 0.875rem, 600 );

            @include typo( 1.5rem, 0.055em );

            @include fill( white, 0.000 );

        }

        // degree programs
        #degree-programs {

            @include flex-h-j-v-s( false );

            @include color( white, 0.000 );

            @include fill( $dark, 0.000 );

            // content
            .degree-program-content {

                @include flex-v-t-h-s( false );

            }

            // description
            #department-degree-programs-description {

                flex-basis: 40%;

                // title
                h3 {

                    margin: 0 0 2rem 0;

                    @include font( $klavislim, 3rem, 400 );

                    @include typo( 1.5rem, 0.085em );

                    @include color( #F3F1E0, 0.000 );

                }

                // text
                p {

                    @include font( $industry, 0.875rem, 500 );

                    @include typo( 1.5rem, 0.035em );

                }

                // button
                .link-button {

                    @include flex-h-c-v-c( false );

                    height: 3rem;
                    margin: 1rem 0 0 0;
                    padding: 0.125rem 3rem 0 3rem;

                    @include font( $klavislim, 1rem, 400 );

                    @include text( $up );

                    @include typo( 0.875rem, 0.085em );

                    @include color( white, 0.000 );

                    @include fill( $px-orange, 0.000 );

                }

            }

            // degrees
            #department-degree-programs {

                flex-basis: 60%;

                padding: 0 0 0 5rem;

            }

        }

        // alumni spotlight
        #alumni-spotlight {

            height: 100vh;

            @include color( white, 0.000 );

            @include fill( $orange, 0.000 );

        }

        // research-map
        #global-research-map {

            height: 100vh;

            @include color( white, 0.000 );

            @include fill( $cvnavy, 0.075 );

        }

        // news
        #department-news {

            height: 32rem;

            @include fill( $beige, 0.000 );

        }

    }
