// stylesheet :: department billboard styles

    // settings
    $content : 1rem;

    // styles
    #department-content {

        // menu open
        .site-menu-open & {

            -webkit-filter: blur( 16px );
                    filter: blur( 16px );

            transition: all 0ms linear 0ms;

        }

        // common
        .homepage-section {

            // @include flex-h-s-v-c( false );

            // padding: 6rem 8rem 6rem 8rem;

        }

        // common
        .ui-article {

            height: auto;

            // container
            .article-container {

                height: 100%;

            }

        }

    }
