// stylesheet :: snapshot panel styles

    // settings
    $snapshot : 1rem;

    // styles
    #panel-snapshot {

        z-index: 60;

        height: auto;

        background: {

            image: url(../img/billboards/dvm/dvm.billboard.12.jpg);

        }

        // overlay
        .panel-overlay {

            @include fill( $dark, 0.215 );

        }

        // content
        .panel-content {

            @include flex-v-c-h-c( false );

            padding: 10rem 5rem 10rem 5rem;

            @include text( none, center );

            @include color( white, 0.000 );

            // mobile
            @include breakpoint ( small only ) {

                padding: 10rem 2rem 10rem 2rem;

            }

            // common
            .content {

                width: 50vw;
                height: 100%;

            }

            // text
            .text {

                @include flex-v-c-h-s( false );

                padding: 0 5rem 0 5rem;

                @include fill( $blue, 0.065 );

                // heading
                h4 {

                    @include font( $klavislim, 2.5rem, 400 );

                    @include typo( 2rem, 0.045em );

                    @include color( $cvellow, 0.000 );

                }

                // text
                p {

                    margin: 1rem 0 0 0;

                    @include font( $industry, 1rem, 600 );

                    @include typo( 1.25rem, 0.035em );

                    // last child
                    &:last-child {

                        margin-bottom: 0;

                    }

                    // small
                    &.smaller {

                        @include font( $industry, 0.875rem, 500 );

                    }

                }

                // button
                .question-link {

                    @include flex-h-c-v-c( false );

                    height: 4rem;
                    margin: 2rem 0 0 0;
                    padding: 0.0625rem 1.5rem 0 1.5rem;

                    border: 1px solid white;

                    @include font( $klavislim, 1rem, 400 );

                    @include text( $up );

                    @include typo( 0.875rem, 0.045em );

                    @include color( white, 0.000 );

                }

            }

            // heading
            h2 {

                @include color( $cvellow, 0.000 );

            }

            // text
            p {

                margin: 0 0 0 0;

                @include font( $industry, 1rem, 600 );

            }

            // link
            .document-link {

                @include flex-h-c-v-c( false );

                height: 4rem;
                margin: 2rem 0 0 0;
                padding: 0.0625rem 1.5rem 0 1.5rem;

                // border: 1px solid white;

                @include font( $klavislim, 1rem, 400 );

                @include text( $up );

                @include typo( 0.875rem, 0.065em );

                @include color( $g140, 0.000 );

                @include color( white, 0.000 );

                @include fill( $g135, 0.000 );

                @include shadowbox( 1rem, 4rem, black, 0.385 );

                transition: all 220ms linear 0ms;

                // hover state
                &:hover {

                    // border-color: $roarange;

                    @include color( white, 0.000 );

                    @include fill( $g140, 0.000 );

                }

            }

        }

    }
