// stylesheet :: panel.site.menu component styles

    // settings
    $panel_size : calc( 100% - 5rem );

    // colors
    $submenu_fill:

        adjust-color(

            $beige,
            $hue          : 0%,
            $saturation : -10%,
            $lightness  : -5%,
            $alpha         : -0.000

        )

    ;

    // styles
    #site-menu-panels {

        position: absolute;

        top: 0;
        // right: 0;
        bottom: 0;
        left: 0;

        z-index: 10;

        width: 100%;
        height: calc( 100vh - 5rem );
        margin: 0;
        padding: 0;

        @include fill( white, 1.000 );

        // mobile
        @include breakpoint ( small only ) {

            height: calc( 100vh - 4rem );

        }

        // menu open state
        .is-open & {

            // the emptiness

        }

        // main menu
        #menu-panel-main {

            position: relative;

            padding: 5rem 0 8rem 0;

            // @include fill( $nite, 0.785 );

            @include gradient( 0deg, $g140, 0.325, 0%, red, 1.000, 50% );

            // mobile
            @include breakpoint ( small only ) {

                padding: 4rem 0 0 0;

            }

            // header
            .panel-header {

                @include fill( $g140, 0.465 );

                color: $gold;
                // color: $g140;

            }

            // menu container
            #menu-panel-main-menu {

                @include flex-v-t-h-s( false );

                width: 100%;
                height: 100%;

                // @include hide;

                // menu
                > .menu {

                    display: block;

                    width: 100%;
                    min-height: 100%;

                }

                // menu item
                .menu-item {

                    @include flex-h-s-v-c( false );

                    flex-wrap: wrap;

                    width: 100%;
                    min-height: 3rem;
                    margin: 0 0 0 0;
                    padding: 0 0 0 0;

                    // parent item
                    &.menu-item-has-children {

                        position: relative;

                        // expanded class
                        &[aria-expanded='true'] {

                            > a {

                                // color: $g140;
                                color: $gold;

                                @include fill( $g135, 0.465 );

                                // arrow
                                &:after {

                                    transform: rotate( -180deg );

                                    transition: all 360ms $outex 0ms;

                                }

                            }

                            // arrow
                            &:after {

                                transform: rotate( -180deg );

                                transition: all 360ms $outex 0ms;

                            }

                        }

                        // arrow
                        &:after {

                            @include codicon( 1rem, 1rem, 0, 1rem, $gold, '\edc9' );

                            position: absolute;

                            top: 1rem;
                            right: 1rem;
                            bottom: 1rem;

                            z-index: 0;

                            transform: rotate( 0deg );
                            transform-origin: center center;

                            transition: all 360ms $outex 0ms;

                            cursor: pointer;

                        }

                        // link
                        > a {

                            // arrow
                            &:after {

                                @include codicon( 1rem, 1rem, 0, 1rem, $gold, '\edc9' );

                                position: absolute;

                                top: 1rem;
                                right: 1rem;
                                bottom: 1rem;

                                z-index: 0;

                                border: none !important;

                                transform: rotate( 0deg );
                                transform-origin: center center;

                                transition: all 360ms $outex 0ms;

                                cursor: pointer;

                            }

                        }

                        // submenu
                        .submenu {

                            @include fill( white, 0.000 );

                            background: {

                                color:

                                    adjust-color(

                                        $midnite,
                                        $hue          : 0%,
                                        $saturation : -10%,
                                        $lightness  : 0%,
                                        $alpha         : -0.215

                                    )

                                ;

                            }

                            @include fill( $dark, 0.465 );

                            a {

                                padding: 0.0625rem 1rem 0 2rem;

                                color: white;

                                // hover state
                                &:hover {

                                    @include color( $gold, 0.000 );

                                    @include fill( white, 0.965 );

                                }

                            }

                        }

                    }

                    // link
                    a {

                        position: relative;

                        z-index: 1;

                        @include flex-h-s-v-c( false );

                        width: 100%;
                        height: 3.0625rem;
                        margin: 0 0 0 0;
                        padding: 0.0625rem 1rem 0 1rem;

                        border-bottom: 1px solid transparentize( white, 0.895 );

                        @include font( $industry, 0.875rem, 500 );

                        line-height: 0.75rem;

                        letter-spacing: 0.095em;

                        @include text( none );

                        @include color( white, 0.000 );

                        @include fill( white, 1.000 );

                        transition: all 220ms linear 0ms;

                        // hover state
                        &:hover {

                            color: $gold;

                            @include fill( white, 0.965 );

                        }

                    }

                    // submenu
                    .submenu {

                        @include flex-v-t-h-s( false );

                        width: 100%;

                    }

                }

                // global link
                #global-menu-link {

                    // link
                    button {

                        position: relative;

                        z-index: 1;

                        @include flex-h-s-v-c( false );

                        width: 100%;
                        height: 3.0625rem;
                        margin: 0 0 0 0;
                        padding: 0 1rem 0 1rem;

                        border-bottom: 1px solid transparentize( white, 0.895 );

                        @include font( $industry, 0.875rem, 500 );

                        line-height: 0.75rem;

                        letter-spacing: 0.065em;

                        @include text( none );

                        @include color( white, 0.000 );

                        @include fill( white, 0.965 );

                        transition: all 220ms linear 0ms;

                        cursor: pointer;

                        // hover state
                        &:hover {

                            // color: $gold;

                            @include fill( white, 0.865 );

                        }

                        // icon
                        &:before {

                            @include codicon( 1rem, 1rem, 0, 1rem, $gold, '\E904' );

                            margin: 0 0.5rem 0 0;

                        }

                        // arrow
                        &:after {

                            @include codicon( 1rem, 1rem, 0, 1rem, $gold, '\EDC8' );

                            position: absolute;

                            top: 1rem;
                            right: 1rem;
                            bottom: 1rem;

                            z-index: 0;

                            cursor: pointer;

                        }

                    }

                }

            }

            // menu list
            #global-menu-list {

                width: 100%;
                margin: 0;
                padding: 0;

                list-style: none;

                // item
                li {

                    width: 100%;
                    height: 5rem;
                    margin: 0;
                    padding: 0;

                }

                // home
                #home {

                    @include fill( $g140, 0.785 );

                    // artwork
                    .link-artwork {

                        background: {

                            image: url(../img/menus/menu.item.home.jpg);

                        }

                    }

                    // overlay
                    .link-overlay {

                        // before
                        &:before {

                            @include gradient(

                                90deg,
                                $midnite, 0.465, 0%,
                                $g135, 1.000, 100%

                            );

                        }

                    }

                }

                // about
                #about {

                    @include fill( $cvellow, 0.785 );

                    // artwork
                    .link-artwork {

                        background: {

                            image: url(../img/menus/menu.item.about.jpg);

                        }

                    }

                    // overlay
                    .link-overlay {

                        // before
                        &:before {

                            @include gradient(

                                90deg,
                                $nite, 0.165, 0%,
                                $g135, 1.000, 100%

                            );

                        }

                        // after
                        &:after {

                            @include fill( $cvellow, 0.865 );

                            mix-blend-mode: multiply;

                        }

                    }

                }

                // students
                #students {

                    @include fill( $blue, 0.785 );

                    // artwork
                    .link-artwork {

                        background: {

                            image: url(../img/menus/menu.item.students.jpg);

                        }

                    }

                    // overlay
                    .link-overlay {

                        // before
                        &:before {

                            @include gradient(

                                90deg,
                                $midnite, 0.465, 0%,
                                $g135, 1.000, 100%

                            );

                        }

                        // after
                        &:after {

                            @include fill( $blue, 0.785 );

                            mix-blend-mode: multiply;

                        }

                    }

                }

                // research
                #research {

                    @include fill( $cvnavy, 0.785 );

                    // artwork
                    .link-artwork {

                        background: {

                            image: url(../img/menus/menu.item.research.jpg);

                        }

                    }

                    // overlay
                    .link-overlay {

                        // before
                        &:before {

                            @include gradient(

                                90deg,
                                $midnite, 0.465, 0%,
                                $g135, 1.000, 100%

                            );

                        }

                        // after
                        &:after {

                            @include fill( $cvnavy, 0.685 );

                            mix-blend-mode: overlay;

                        }

                    }

                }

                // outreach
                #outreach {

                    @include fill( $roarange, 0.785 );

                    // artwork
                    .link-artwork {

                        background: {

                            image: url(../img/menus/menu.item.service.jpg);

                        }

                    }

                    // overlay
                    .link-overlay {

                        // before
                        &:before {

                            @include gradient(

                                90deg,
                                $midnite, 0.465, 0%,
                                $g135, 1.000, 100%

                            );

                        }

                        // after
                        &:after {

                            @include fill( $roarange, 0.765 );

                            mix-blend-mode: multiply;

                        }

                    }

                }

                // alumni
                #alumni {

                    @include fill( $orange, 0.785 );

                    // artwork
                    .link-artwork {

                        background: {

                            image: url(../img/menus/menu.item.alumni.jpg);

                        }

                    }

                    // overlay
                    .link-overlay {

                        // before
                        &:before {

                            @include gradient(

                                90deg,
                                $midnite, 0.465, 0%,
                                $g135, 1.000, 100%

                            );

                        }

                        // after
                        &:after {

                            @include fill( $orange, 0.725 );

                            // mix-blend-mode: multiply;

                        }

                    }

                }

                // link
                .menu-link {

                    position: relative;

                    @include flex-h-s-v-b( false );

                    width: 100%;
                    height: 5rem;
                    margin: 0;
                    padding: 0 1rem 1rem 2rem;

                    transition: all 720ms $ocirc 0ms;

                    // hover state
                    &:hover {

                        // @include fill( white, 0.965 );

                        // text
                        .link-text {

                            @include color( white, 0.000 );

                            transform: translate3d( 1rem, 0, 0 );

                            transition: all 360ms $ocirc 0ms;

                        }

                    }

                    // artwork
                    .link-artwork,
                    .link-overlay {

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        width: 100%;
                        height: 100%;

                        background: {

                            repeat: no-repeat;
                            size: cover;
                            position: center center;

                        }

                        // layers
                        &:before,
                        &:after {

                            content: '';

                            position: absolute;

                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;

                            width: 100%;
                            height: 5rem;

                        }

                        // before
                        &:before {

                            z-index: 50;

                        }

                        // after
                        &:after {

                            z-index: 40;

                        }

                    }

                    // artwork
                    .link-artwork {

                        z-index: 10;

                        opacity: 0.215;

                    }

                    // overlay
                    .link-overlay {

                        z-index: 20;

                    }

                    // text
                    .link-text {

                        position: relative;

                        z-index: 100;

                        @include flex-h-s-v-c( false );

                        @include font( $industry, 0.875rem, 500 );

                        @include typo( 0.75rem, 0.065em );

                        @include text( $up );

                        @include color( white, 0.285 );

                        transform: translate3d( 0, 0, 0 );

                        transition: all 360ms $ocirc 0ms;

                    }

                }

            }

            // brand
            #brand-state-required {

                position: absolute;

                right: 0;
                bottom: 2rem;
                left: 0;

                z-index: 20;

                @include flex-h-c-v-c( false );

                width: 100%;
                height: 4rem;
                // margin: 0 4rem 0 4rem;

                // svg
                svg {

                    .path {

                        fill: white;
                        // fill: $g140;

                    }

                    // hollowed
                    .hollow {

                        fill-rule: evenodd;
                        clip-rule: evenodd;

                    }

                }

            }

            // copyright
            #copyright-text {

                position: absolute;

                right: 0;
                bottom: 0;
                left: 0;

                z-index: 30;

                @include flex-h-c-v-c( false );

                width: 100%;
                height: 3rem;
                margin: 0;
                padding: 0 1rem 1rem 1rem;

                @include font( $industry, 0.5625rem, 600 );

                @include text( none, center );

                @include typo( 1rem, 0.035em );

                // @include color( $midnite, 0.325 );
                @include color( white, 0.325 );

            }

        }

    }
