// stylesheet :: menu panel globals

    // settings
    $header_width  : 100%;
    $header_height : 4rem;

// styles

    // panel
    .menu-panel {

        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        z-index: 10;

        @include flex-v-t-h-s( false );

        width: 100%;
        height: calc( 100vh - 4rem );
        margin: 0;
        padding: 6rem 2rem 2rem 2rem;

        // inactive state
        &.inactive {

            z-index: 0;

            visibility: hidden;

            opacity: 0.000;

            transform: translate3d( 100%, 0, 0 );

            transition: 240ms $oquin 0ms;

        }

        // active state
        &.active {

            z-index: 10;

            visibility: visible;

            opacity: 1.000;

            transform: translate3d( 0, 0, 0 );

            transition: 240ms $oquin 180ms;

        }

    }

    // header
    .panel-header {

        position: absolute;

        top: 0;
        right: 0;
        left: 0;

        z-index: 20;

        @include flex-h-s-v-c( false );

        width: 100%;
        height: $header_height;
        margin: 0;
        padding: 0.1875rem 1rem 0 1rem;

        @include font( $klavislim, 1rem, 400 );

        line-height: 0.75rem;

        letter-spacing: 0.075em;

        @include text( $up );

        @include fill( white, 0.945 );

        // border
        &:after {

            // @include border( true, auto, 0, -1px, 0 );

        }

    }

    // panel content
    .panel-content {

        // text panel
        &.text {



        }

    }
