// stylesheet :: panel.contact component styles

    // settings
    $panel_size : calc( 100% - 4rem );

    // styles
    #menu-panel-contact {

        // padding: 4rem 0 1rem 0;

        @include gradient( 0deg, $gold, 0.325, 0%, red, 1.000, 50% );

        // header
        .panel-header {

            @include fill( $gold, 0.585 );

        }

        .contact-entry {

				padding: 24px;
				margin-bottom: 0;

				line-height: auto;

				border-top: 1px solid transparentize(white, 0.945);

				&:first-child {

					border-top: none;

				}

				&:last-child {

					border-bottom: 1px solid transparentize(white, 0.945);

				}

				.contact-entry-container {

					overflow: hidden;

					line-height: 20px;

					.contact-entry-title {

						margin: 0 0 2px 0;

						font: {

							family: $klavislim;
							size: 14px;
							weight: normal;

						}

						line-height: 16px;

						letter-spacing: 0.045em;

						color: $gold;

					}

					.contact-entry-text {

						display: inline-block;

						width: 100%;
						height: auto;

					}

					span {

						display: block;

						margin: 0;

						font: {

							family: $industry;
							size: 12px;
							weight: normal;

						}

						line-height: 20px;

						letter-spacing: 0.045em;

						text: {

							rendering: $pixper;

						}

						color: white;

						&.icon-entry {

							position: relative;

							display: inline-flex;

							flex-direction: row;
							justify-content: flex-start;
							align-items: center;

							float: left;

							width: 50%;
							height: 32px;
							margin: 0 0 0 0;
							padding: 0 6px 0 0;

							&:nth-of-type(2),
							&:nth-of-type(3) {

								margin-top: 8px;

							}

							&.link-entry {

								a {

									display: inline-flex;

									flex-direction: row;
									justify-content: flex-start;
									align-items: center;

									height: 32px;
									margin: 0;
									padding: 0;

									color: white;

								}

							}

							&.contact-entry-email {

								flex-grow: 1;

								width: auto;

							}

						}

						.icon {

							display: inline-block;

							width: 32px;
							height: 32px;
							margin: 0 6px 0 0;
							padding: 0;

						}

					}

				}

			}

    }
