// stylesheet :: brand.rams styles

    // styles
    .brand-rams {

        width: 5rem;
        height: 5rem;
        margin: 0;
        padding: 0.25rem 0.25rem 0.25rem 0.25rem;

        transition: all 320ms $outex 0ms;

        // mobile
        @include breakpoint ( small only ) {

            width: 4rem;
            height: 4rem;
            padding: 0;

        }

        // hover state
        &:hover {

            .brand-icon {

                .path {

                    fill-opacity: 1.000;

                    transition: all 220ms linear 0ms;

                }

                .brand-fill {

                    fill: $g135;

                }

            }

        }

        // svg
        .brand-icon {

            width: 4.5rem;
            height: 4.5rem;

            // mobile
            @include breakpoint ( small only ) {

                width: 4rem;
                height: 4rem;

            }

            .path {

                transition: all 220ms linear 0ms;

            }

            .brand-fill {

                fill: $g140;
                fill-opacity: 0.945;

            }

            .brand-stroke {

                fill: $gold;

            }

            .brand-shapes {

                fill: white;
                fill-opacity: 0.925;

            }

        }

    }
