// stylesheet :: header styles

    // styles
    .site-header {

        position: fixed;

        top: 0;
        right: 0;
        left: 0;

        z-index: 100;

        display: flex;
        align-items: stretch;
        justify-content: flex-start;

        width: 100%;
        max-width: 100%;
        height: 5rem;
        margin: 0;

        font-size: .75rem;

        @include fill( $dark, 0.095 );

        background: {

            image:

                linear-gradient(

                    90deg,
                    transparentize( $g140, 0.385 ) 0%,
                    // transparent 40%,
                    // transparentize( $dark, 0.485 ) 70%,
                    transparentize( $nite, 0.525 ) 100%

                )

            ;

            repeat: no-repeat;
            position: 0 0;

        }

        transition: all 480ms $outex 0ms;

        -webkit-app-region: drag;

        // mobile
        @include breakpoint ( small only ) {

            height: 4rem;

        }

        // secondary
        .page-template-secondary &,
        .single-degree-program &,
        .page-template-directory &,
        .archive & {

            @include fill( $g135, 0.000 );

        }

        // places archive
        .post-type-archive-place & {

            @include fill( $dark, 0.085 );

        }

        // degree programs
        .single-degree-program & {

            @include fill( $dark, 0.365 );

        }

        // contrast state
        &.ui-contrast {

            // contrast layer
            &:after {

                background: {

                    color: transparentize( $nite, 0.585 );

                    image:

                        linear-gradient(

                            270deg,
                            transparentize( $g140, 0.685 ) 0%,
                            transparent 40%,
                            transparentize( $dark, 0.485 ) 60%,
                            transparentize( $nite, 0.325 ) 100%

                        ),

                        linear-gradient(

                            90deg,
                            transparent 0%,
                            transparentize( $dark, 0.315 ) 100%

                        )

                    ;

                }

                opacity: 1.000;

                transform: translate3d( 0, 0, 0 );

                transition: transform 360ms $oquin 240ms;

            }

            // menu open state
            &.site-menu-open {

                // contrast layer
                &:after {

                    transition: transform 240ms $oquin 120ms;

                }

            }

        }

        // contrast layer
        &:after {

            position: absolute;

            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            z-index: 0;

            width: 100%;
            height: 4rem;

            background: {

                image:

                    linear-gradient(

                        90deg,
                        transparent 30%,
                        transparentize( $dark, 0.485 ) 60%,
                        transparentize( $nite, 0.325 ) 100%

                    )

                ;

            }

            opacity: 0.000;

            transform: translate3d( 0, -4rem, 0 );

            transition: transform 360ms $oquin 240ms;

        }

        // menu open state
        &.site-menu-open {

            @include fill( white, 0.000 );
            @include fill( $g135, 0.515 );

        }

        // invisible link
        #secondary-page-link {

            position: relative;

            z-index: 10;

            @include flex-h-c-v-c( true );

            width: 32rem;
            height: 4rem;

        }

        // scroller
        #scroller {

            position: absolute;

            top: 0;
            right: 0;
            bottom: 0;

            z-index: 10;

            @include flex-h-e-v-c( false );

            width: 8rem;
            height: 4rem;
            margin: 0;
            padding: 0 1rem 0 0;

            @include font( $decima, 0.75rem, 700 );

            @include text( $up );

            color: white;

            @include fill( white, 0.965 );

        }

    }
