// stylesheet :: site footer styles

    .site-footer {

        margin: 0;

        @include fill( $dark, 0.000 );

        // common
        .footer-row {

            // link list
            .link-list {

                margin: 0;

                list-style: none;

                // link
                .menu-item {

                    transition: all 220ms linear 0ms;

                    // hover state
                    &:hover {

                        cursor: pointer;

                    }

                }

            }

        }

        // secondary page
        .secondary &,
        .secondary.main &,
        .secondary-default & {

            position: relative;

        }

        // visible
        &.visible {

            z-index: 10;

        }

        // top
        &__top {

            padding: 2rem;

            @include bpoint(tablet) {

                padding: 4rem 5rem;

            }

        }

        .footer__columns {

            display: -ms-grid;
            display: grid;
            grid-gap: 2rem;
            -ms-grid-rows: auto 2rem auto 2rem auto 2rem auto;
            grid-template-rows: repeat(4, auto);
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            width: 100%;
            max-width: 25em;
            margin: 0 auto;

            @include bpoint(tablet) {
                -ms-grid-rows: auto 2rem auto;
                grid-template-rows: repeat(2, auto);
                -ms-grid-columns: 1fr 2rem 1fr;
                grid-template-columns: repeat(2, 1fr);
                max-width: none;
            }

            @include bpoint(desktop) {
                -ms-grid-rows: auto;
                grid-template-rows: auto;
                -ms-grid-columns: 1fr 2rem 1fr 2rem 1fr 2rem 1fr;
                grid-template-columns: repeat(4, 1fr);
            }

        }

        .footer__column {

            &--quick-links {
                -ms-grid-row: 1;
                grid-row: 1;
                -ms-grid-column: 1;
                grid-column: 1;
            }

            &--resources {
                -ms-grid-row: 3;
                grid-row: 2;
                -ms-grid-column: 1;
                grid-column: 1;

                @include bpoint(tablet) {
                    -ms-grid-row: 1;
                    grid-row: 1;
                    -ms-grid-column: 3;
                    grid-column: 2;
                }
            }

            &--departments {
                -ms-grid-row: 5;
                grid-row: 3;
                -ms-grid-column: 1;
                grid-column: 1;

                @include bpoint(tablet) {
                    -ms-grid-row: 3;
                    grid-row: 2;
                    -ms-grid-column: 1;
                    grid-column: 1;
                }

                @include bpoint(desktop) {
                    -ms-grid-row: 1;
                    grid-row: 1;
                    -ms-grid-column: 5;
                    grid-column: 3;
                }
            }

            &--contact {
                -ms-grid-row: 7;
                grid-row: 4;
                -ms-grid-column: 1;
                grid-column: 1;

                @include bpoint(tablet) {
                    -ms-grid-row: 3;
                    grid-row: 2;
                    -ms-grid-column: 3;
                    grid-column: 2;
                }

                @include bpoint(desktop) {
                    -ms-grid-row: 1;
                    grid-row: 1;
                    -ms-grid-column: 7;
                    grid-column: 4;
                }
            }

            // content
            &.content {

                @include flex-v-t-h-s( false );

                // header
                .links-header {

                    @include flex-h-s-v-c( false );

                    padding: 0 0 0 0;

                }

            }

            // column headers
            .links-header {

                @include font( $klavislim, 1rem, 400 );

                @include typo( 1.2, 0.135em );

                @include text( $up );

                @include color( $gold, 0.000 );

            }

            // menu item
            .menu-item {

                // link
                a {

                    display: block;
                    padding: 0.625rem 0;

                    @include font( $industry, 0.625rem, 600 );

                    @include typo( 1.2, 0.075em );

                    @include text( $up );

                    text-decoration: none;

                    @include color( white, 0.385 );

                    transition: all 220ms linear 0ms;

                    &:visited {

                        @include color( white, 0.385 );

                    }

                    // hover state
                    &:hover,
                    &:focus,
                    &:active {

                        color: $gold;

                    }

                }

                // line break (?)
                .break {

                    @include hide;

                }

            }

            // contact info
            .contact-info {

                @include flex-v-t-h-s( false );

                flex-grow: 1;

                width: 100%;
                margin: 0 0 1rem 0;

                & > * {
                    max-width: 100%;
                }

                // labels
                .contact-label {

                    @include flex-h-s-v-c( false );

                    height: 1rem;
                    margin: 0 0 0.25rem 0;

                    @include font( $industry, 0.5625rem, 700 );

                    @include typo( 0.625rem, 0.115em );

                    @include text( $up );

                    @include color( white, 0.185 );

                }

                // text
                .contact-text {

                    @include flex-h-s-v-c( false );

                    margin: 0 0 0.75rem 0;

                    @include font( $industry, 0.6875rem, 600 );

                    text-decoration: none;

                    @include typo( 0.875rem, 0.065em );

                    @include color( white, 0.485 );

                    a {

                        color: inherit;

                        &:visited {

                            color: inherit;

                        }

                        &:hover,
                        &:focus,
                        &:active {

                            color: $gold;

                        }

                    }

                }

            }

        }

        // bottom row
        &__bottom {

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include fill( $nite, 0.445 );

            padding: 1.5rem 2rem;

            @include bpoint(tablet) {
                padding: 1.5rem 5rem;
            }

            // links
            .footer-links {

                margin: .5rem 1rem .5rem 0;

            }

            // links
            .link-list {

                display: flex;
                flex-wrap: wrap;

                &-item {

                    margin-bottom: 0.375rem;

                    padding-right: 0.5rem;

                    @include font( $industry, 0.5625rem, 600 );

                    @include bpoint(tablet) {

                        margin-bottom: .25rem;

                        padding-right: 0.75rem;

                        font-size: .625rem;

                    }

                }

                // link
                .link {

                    text-decoration: none;

                    @include typo( 1, 0.065em );

                    @include color( white, 0.245 );

                    transition: $all220;

                    cursor: pointer;

                    &:visited {
                        @include color( white, 0.245 );
                    }

                    // hover state
                    &:hover,
                    &:focus,
                    &:active {

                        color: $gold;

                        @include fill( white, 1.000 );

                    }

                }

            }

            // copyright text
            .copyright {

                margin: 0;

                @include font( $industry, 0.5625rem, 600 );

                @include typo( 1, 0.065em );

                @include color( white, 0.245 );

                @include bpoint(tablet) {

                    font-size: 0.625rem;

                }

                .symbol {

                    margin-right: .25rem;

                    font: {

                        size: 0.6875rem;
                        weight: 700;
                        style: normal;

                    }

                }

            }

            // required logo
            .brand-legacy {

                position: relative;

                width: 16rem;
                height: 2rem;
                margin: .5rem 0 .5rem auto;

                color: white;

                // hover
                &:hover {

                    svg {

                        path {

                            fill-opacity: 1.000;

                        }

                    }

                }

                // artwork
                svg {

                    path {

                        fill: white;
                        fill-opacity: 0.825;

                        transition: $all220;

                    }

                }

            }

        }

    }
