$background: #bc4c2d; // $roarange with .815 opacity over $app05

.places-archive {
	&__filters {
		margin: 3rem 8vw 1rem;
		padding: 2rem;
		padding: 0;

		&-wrap {
			@include bpoint(phone) {
				// display: flex;
			}
		}

		&-text {
			@include font( $industry, 0.6875rem, 700 );
			@include text( $up );
			@include typo( 1.5, 0.045em );
			margin: 0;
			color: $steel;
		}
	}

	&__grid {
		padding: 2rem 8vw;

		&-inner {
			// account for margin around individual grid items
			width: calc(100% + 2rem);
			margin: -1rem;

			@include bpoint(tablet) {
				display: flex;
				flex-wrap: wrap;
			}
		}

		&-item {
			$block: &;
			transform: translate3d( 0, 0, 0 );
			transition: all 240ms $outex 0ms;
			display: -ms-grid;
			display: grid;
			-ms-grid-rows: auto;
			-ms-grid-columns: 1fr;
			grid-template-rows: auto;
			grid-template-columns: 1fr;
			overflow: hidden;
			margin: 1rem;
			background: white no-repeat center center / cover;
			@include shadowbox( 1.5rem, 4rem, black, 0.615 );
			color: white;
			line-height: 1.2;
			text-decoration: none;

			@include bpoint(tablet) {
				width: calc(50% - 2rem);
			}

			@include bpoint(desktop) {
				width: calc((100% / 3) - 2rem - .1px); // remove .1px to fix IE not calculating percentages the same as real browsers
			}

			@include bpoint(widescreen) {
				width: calc(25% - 2rem);
			}

			& > * {
				-ms-grid-row: 1;
				-ms-grid-column: 1;
				grid-row: 1;
				grid-column: 1;
			}

			&:hover,
			&:focus {
				#{ $block }-bg {
					-webkit-filter:
						opacity( 0.565 )
						blur( 0px )
					;

					filter:
						opacity( 0.865 )
						blur( 0px )
					;

					transform: scale3d( 1.15, 1.15, 1.15 );
				}

				#{ $block }-overlay {
					&:before {
						opacity: 0.000;
					}

					&:after {
						opacity: 0.925;
					}
				}

				#{ $block }-title {
					transform: translate3d( 0, -1rem, 0 );
				}

				#{ $block }-link {
					transform: translate3d( 0, -1rem, 0 );
					display: block;
					visibility: visible;
					opacity: 1.000;
				}
			}

			&-bg {
				display: block;
				width: 100%;
				height: 100%;
				background: no-repeat center center / cover;

				-webkit-filter:
					opacity( 1.000 )
					grayscale( 0.000 )
				;

				filter:
					opacity( 1.000 )
					grayscale( 0.000 )
				;

				transform: scale3d( 1, 1, 1 );
				transition: all 360ms $outex 0ms;
			}

			&-overlay {
				display: block;
				position: relative;
				width: 100%;
				height: 100%;

				transition: all 360ms $outex 0ms;

				&:before,
				&:after {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transition: all 360ms $outex 0ms;
				}

				&:before {
					@include fill( $roarange, 0.345 );
					opacity: 0.000;
				}

				&:after {
					@include gradient(
						180deg,
						transparent, 1.000, 0%,
						$cvnavy, 0.000, 80%
					);
					opacity: 0.925;
				}
			}

			// prse icon
			&-prse {

				position: absolute;

				top: 1rem;
				right: 1rem;

				z-index: 10;

				@include flex-h-e-v-t( false );

				@include font( $industry, 0.6875rem, 700 );

				@include color( white );

				// after
				&:after {

					@include codicon( 1rem, 1rem, 0, 1rem, white, '\EB9E');

					position: absolute;

					top: -0.125rem;
					left: -1.25rem;

					@include hide;

				}

				// before
				&:before {

					@include codicon( 1rem, 1rem, 0, 1rem, white, '\E99A');

					position: absolute;

					top: -0.125rem;
					left: -1.25rem;

					// @include hide;

				}

			}

			&-text {
				transition: all 360ms cubic-bezier(0.19, 1, 0.22, 1) 3ms;
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: flex-end;
				min-height: 10rem;
				padding: 30% 2rem 2rem;
				color: white;
				text-align: right;
				text-transform: uppercase;

				@include bpoint(tablet) {
					min-height: 12.5rem;
				}

				@include bpoint(desktop) {
					min-height: 15rem;
				}
			}

			&-title {
				transform: translate3d( 0, 0, 0 );
				transition: all 360ms $ocirc 0ms;
				max-width: 100%;
				color: white;
				@include font( $klavislim, 1.25rem, 400 );
				@include typo( 1.125rem, 0.085em );
			}

			&-link {
				transform: translate3d( 0, 2rem, 0 );
				transition: all 360ms $ocirc 0ms;
				opacity: 0;
				position: absolute;
				right: 2rem;
				bottom: 1rem;
				max-width: 100%;
				color: $roarange;
				@include font( $industry, 0.6875rem, 700 );
				@include typo( 0.75rem, 0.045em );
			}
		}
	}
}

//
.places-prse {

	&__option {

		padding-top: .5rem;

		@include bpoint(phone) {

			margin-right: 2rem;

		}

	}

	&__toggle {
		position: relative;
		display: block;
		box-sizing: border-box;
		border: none;
		color: inherit;
		background: none;
		padding: .5em 0 .5em 3.5em;
		font-family: inherit;
		font-weight: inherit;
		line-height: 1;
		text-align: left;

		&:before,
		&:after {
			content: "";
			position: absolute;
			transition: all 360ms cubic-bezier(0.19, 1, 0.22, 1) 3ms;
		}

		&:before {
			left: .125em;
			top: .3125em;
			height: 1.25em;
			width: 2.75em;
			box-shadow: inset 0 0 .1875em .0625em rgba(black, .225);
			background: $neutral;
			border-radius: 1em;
		}

		&:after {
			left: 0;
			top: .1875em;
			box-shadow: 0 0 .375em .0625em rgba(black, .385);
			background: white;
			border-radius: 50%;
			width: 1.5em;
			height: 1.5em;
		}

		&[aria-pressed=true] {
			&:after {
				left: 1.5em;
			}

			&:before {
				background: $cvellow;
			}
		}
	}
}



.places-dept {
	&__options {
		display: flex;
		flex-wrap: wrap;
	}

	&__option {
		transition: all 360ms cubic-bezier(0.19, 1, 0.22, 1) 3ms;
		display: block;
		width: 100%;
		margin: .5rem 0 0 0;
		padding: .8125em 1.5em .6875em;
		border: .0625em solid $background;
		background: $sec_temp_off_white;
		color: $steel;
		color: inherit;
		font-size: .75em;
		font-weight: 600;
		letter-spacing: .04em;

		@include bpoint(tablet) {
			width: auto;
			margin: .5rem .5rem 0 0;
		}

		&:hover,
		&:focus {
			border-color: $background;
			background: $background;
			color: white;
		}

		&[aria-pressed=true] {
			border-color: rgba($cvnavy, 0.785);
			background: rgba($cvnavy, 0.785);
			color: white;
		}
	}
}
