// stylesheet :: campaign button

    // styles
    #campaign-button {

        transition: all 480ms $outex 0ms;

        display: inline-block;

        padding: 1.375em 1.375em;

        @include fill( white, 0.965 );

        border: .0125em solid transparent;

        @include color( white, 0.465 );

        @include font( $vitesse, 1rem, 700 );

        text-align: center;

        text-decoration: none;

        text-transform: uppercase;

        @include typo( 1.2, 0.025em );

        cursor: pointer;

        &:hover,
        &:focus,
        &:active {

            outline: none;

            border-color: $campaign;

            color: $campaign;

        }

    }
