// stylesheet :: campaign button

    // settings
    $campaign_button : 4rem;

    // styles
    #campaign-button {

        transition: all 480ms $outex 0ms;

        display: inline-block;

        padding: 2em 1.375em;

        @include fill( white, 0.965 );

        // border: none;
        border: .0125em solid transparent;

        @include color( white, 0.000 );

        @include font( $industry, 0.6875rem, 600 );

        text-align: center;

        text-decoration: none;

        @include text( $up );

        @include typo( 0.75rem, 0.085em );

        cursor: pointer;

        &:hover,
        &:focus,
        &:active {

            outline: none;

            border-color: $campaign;

            @include color( white, 0.000 );

            .text {

                color: $campaign;

            }

        }

        .text {

            transition: all 220ms linear 0ms;

            font: {

                family: $vitesse;
                size: 1rem;
                weight: 700;

            }

            line-height: 1;

            letter-spacing: 0.025em;

            color: transparentize( white, 0.465 );

        }

    }
