// stylesheet :: homepage billboard styles

    // settings
    $billboard_width  : calc( 100vw + 2rem );
    $billboard_height : calc( 100vh + 2rem );
    $billboard_fx : all 720ms $oquin 0ms;

    // styles
    #billboard-homepage {

        position: absolute;

        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        z-index: 200;

        @include flex-v-c-h-c( false );

        width: 100vw;
        height: 100vh;
        margin: 0 0 0 0;
        padding: 0;

        overflow: hidden;

        background: {

            color:

                adjust-color(

                    $app05,
                    $hue          : 0%,
                    $saturation : -20%,
                    $lightness  : -1%,
                    $alpha         : -0.000

                )

            ;

            image:

                linear-gradient(

                    168deg,
                    transparent 50%,
                    transparentize( $bg-base, 0.245 ) 100%

                ),

                linear-gradient(

                    189deg,
                    transparent 20%,
                    transparentize( $g140, 0.345 ) 100%

                ),

                linear-gradient(

                    45deg,
                    transparent 0%,
                    transparentize( $dark, 0.215 ) 100%

                ),

                linear-gradient(

                    90deg,
                    transparent 0%,
                    transparentize( $cvnavy, 0.215 ) 100%

                ),

                linear-gradient(

                    155deg,
                    transparentize( $gold, 0.995 ) 0%,
                    transparentize( $gold, 0.725 ) 100%

                )

            ;

        }

        -webkit-filter: blur( 0px );
                filter: blur( 0px );

        // focus state
        &:focus {

            // outline: none;

        }

        // image class
        &.image {

            // artwork
            &:before {

                background: {

                    // image: url(../img/billboards/billboard.17.jpg);

                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

                // opacity: 0.500;

            }

        }

        // pattern class
        &.pattern {

            // artwork
            &:before {

                background: {

                    // image: url(../img/patterns/pattern.triangles.svg);

                    repeat: repeat;
                    size: cover;
                    position: center center;

                }

                -webkit-filter: blur( 0px ) opacity( 0.085 );
                        filter: blur( 0px ) opacity( 0.085 );

            }

        }

        // menu open class
        &.site-menu-open {

            -webkit-filter: blur( 8px );
                    filter: blur( 8px );

            transition: all 0ms linear 0ms;

            // artwork -> blur
            &:before {

                -webkit-filter: blur( 8px );
                        filter: blur( 8px );

                transition: all 0ms linear 0ms;

            }

        }

        // layers
        &:before {

            content: '';

            @include fullscreen( absolute, 1, false, hidden );

            top: -1rem;
            right: -1rem;
            bottom: -1rem;
            left: -1rem;

            width: calc( 100% + 2rem );
            height: calc( 100% + 2rem );

            // -webkit-filter: blur( 0px );
                    // filter: blur( 0px );

            transition: all 0ms linear 0ms;

        }

        // text
        .text {

            @include font( $industry, 0.6875rem, 600 );

            letter-spacing: 0.085em;

            @include text( $up );

            .gold {

                font: {

                    style: normal;
                    // weight: 700;

                }

                color: $gold;

            }

            .dot {

                @include color( white, 0.385 );

            }

        }

        // fx
        #billboard-fx {

            position: absolute;

            top: -1rem;
            right: -1rem;
            bottom: -1rem;
            left: -1rem;

            z-index: 10;

            width: calc( 100vw + 2rem );
            height: calc( 100vh + 2rem );

            // menu open state
            .site-menu-open & {

                // base layer
                .base {

                    opacity: 0.000;

                }

            }

            // layers
            .layer {

                position: absolute;

                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                width: 100%;
                height: 100%;

                background: {

                    // image: url(../img/billboards/billboard.00.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

                transition: all 0ms linear 0ms;

                // base
                &.base {

                    z-index: 20;

                    padding: 6rem 0 0 0;

    				background: {

    					clip: content-box;

    				}

                    -webkit-filter: blur( 0px );
                            filter: blur( 0px );

                }

                // blur
                &.blur {

                    z-index: 10;

                    -webkit-filter: blur( 8px );
                            filter: blur( 8px );

                }

                // vertical
                &.vertical {

                    z-index: 30;

                    background: {

                        image:

                            linear-gradient(

                                0deg,
                                transparentize( $bg-base, 0.385 ) 0%,
                                transparent 40%

                            )

                        ;

                    }

                }

                // horizontal
                &.horizontal {

                    z-index: 40;

                    background: {

                        image:

                            linear-gradient(

                                30deg,
                                transparentize( $midnite, 0.325 ) 0%,
                                transparent 70%

                            ),

                            linear-gradient(

                                45deg,
                                transparentize( $bg-base, 0.385 ) 0%,
                                transparent 70%

                            )

                        ;

                    }

                }

            }

        }

        // tagline
        #billboard-tagline {

            position: absolute;

            bottom: 2rem;
            left: 2rem;

            z-index: 200;

            @include flex-h-s-v-c( false );

            width: 13.25rem;
            height: 0.875rem;

            @include font( $klavislim, 1rem, 400 );

            line-height: 0.5625rem;

            letter-spacing: 0.275em;

            @include text( $up );

            @include color( white, 0.000 );

            @include hide;

            // hover state
            &:hover {

                cursor: pointer;

            }

        }

    }

    // build
    #billboard-build {



    }

    // dots
    #billboard-scroll {

        position: absolute;

        right: 50%;
        bottom: 2rem;
        left: 50%;

        z-index: 200;

        width: 0.125rem;
        height: 4.5rem;
        margin: 0;
        padding: 0;

        // dot
        .dot {

            display: block;

            width: 0.125rem;
            height: 0.0625rem;
            margin: 0.5rem 0 0 0;
            padding: 0;

            @include fill( white, 0.000 );

        }

        #dot1 {

            @include fill( white, 0.800 );

        }

        #dot2 {

            @include fill( white, 0.700 );

        }

        #dot3 {

            @include fill( white, 0.600 );

        }

        #dot4 {

            @include fill( white, 0.500 );

        }

        #dot5 {

            @include fill( white, 0.400 );

        }

        #dot6 {

            @include fill( white, 0.300 );

        }

        #dot7 {

            @include fill( white, 0.200 );

        }

        #dot8 {

            @include fill( white, 0.100 );

        }

    }
