// stylesheet :: billboard.slides

	// settings
	$slide_view_w : 100vw;
	$slide_view_h : 100vh;

	// slide URLs
	$academics_slide : '../img/billboards/billboard.07.jpg';

	// color mods
	$blue-mod :

		adjust-color(

			$blue,
			$hue          : 0%,
			$saturation : -2%,
			$lightness  : -10%,
			$alpha         : -0.000

		)

	;

	// styles
	.billboard-slides {

		@include fullscreen( absolute, 100, true, visible );

		@include flex-h-s-v-c( false );

		width: auto;
		height: $slide_view_h;

		opacity: 1.000;

		transition: all 240ms linear 160ms;

		// menu open class
		&.site-menu-open {

			// custom slide class
			.ui-slide-article {

				// artwork
				.slide-artwork {

					-webkit-filter: blur( 8px );
								filter: blur( 8px );

					transition: filter 20ms linear 0ms;

				}

			}

		}

		// slides list
		.slick-list {

			position: relative;

			z-index: 20;

			width: $slide_view_w;
			height: $slide_view_h;

		}

		// slide class
		.slick-slide {

			position: relative;

			z-index: 0;

			height: $slide_view_h;

			// active
			&.slick-active {

				z-index: 1;

			}

		}

		// slide
		.ui-slide-article {

			position: relative;

			@include flex-v-c-h-c( false );

			width: $slide_view_w;
			height: $slide_view_h;

			// container
			.slide-container {

				position: absolute;

				top: -1rem;
				right: -1rem;
				bottom: -1rem;
				left: -1rem;

				z-index: 10;

				@include flex-v-b-h-s( false );

				width: calc( 100vw + 2rem );
				height: calc( 100vh + 2rem );
				margin: 0;
				padding: 1rem;

			}

			// artwork
			.slide-artwork {

				@include fullscreen( absolute, 0, false, visible );

				-webkit-filter: blur( 0px );
						filter: blur( 0px );

				transition: filter 40ms linear 120ms;

				// dark
				.dark {

					z-index: 20;

					@include gradient( 52deg, $nite, 0.025, 0%, $dark, 1.000, 70% );

				}

				// lite
				.lite {

					z-index: 10;

				}

				// artwork
				.slide-billboard {

					position: absolute;

					top: 0;
					right: 0;
					bottom: 0;
					left: 0;

					z-index: 1;

					width: 100%;
					height: 100%;
					margin: 0;
					padding: 0;

					background: {

						repeat: no-repeat;
						size: cover;
						position: center center;

					}

				}

				// gradients
				.slide-color {

					position: absolute;

					top: 0;
					right: 0;
					bottom: 0;
					left: 0;

					width: 100%;
					height: 100%;

				}

			}

			// slide content
			.slide-content-container {

				position: relative;

				z-index: 100;

				@include flex-v-b-h-s( false );

				width: 100vw;
				height: 100vh;
				padding: 2.5rem 2.5rem 2.5rem 2.5rem;

				@include fill( white, 1.000 );

				// mobile
				@include breakpoint ( small only ) {

					width: 100%;
					height: 100%;
					padding: 0 2rem 2rem 2rem;

				}

			}

			// slide content
			.slide-content {
				max-width: 100%;

				@include gradient(

					180deg,
					$g135, 1.000, 0%,
					red, 1.000, 100%

				);

			}

			// common
			.line,
			.text,
			.button-link {

				position: relative;

				z-index: 20;

			}

			// line.common
			.line {

				@include flex-h-s-v-c( false );

				@include text( $up );

			}

			// text.subheadline
			.subheadline {

				margin: 0 0 1.5rem 0;
				padding: 0 0 0 0;

				@include font( $klavislim, 1.75rem, 400 );

				@include typo( 1rem, 0.245rem );

				@include color( $gold, 0.000 );

				// mobile
				@include breakpoint ( medium down ) {

					margin: 0 0 1rem 0;

				}

				// mobile
				@include breakpoint ( small only ) {

					margin: 0 0 1rem 0;

					@include font( $klavislim, 1rem, 400 );

				}

			}

			// text.headline
			.headline {

				position: relative;

				@include flex-h-s-v-b( false );

				margin: 0 0 0.75rem 0;
				padding: 0 0 0 0;

				@include font( $klavislim, 4rem, 400 );

				@include typo( 3rem, 0.065em );

				@include color( white, 0.000 );

				transition: all 480ms $oquin 120ms;

				// mobile
				@include breakpoint ( medium down ) {

					@include typo( 2rem, 0.065em );

				}

				// mobile
				@include breakpoint ( small only ) {

					@include font( $klavislim, 2rem, 400 );

				}

			}

			// text.description
			.description {

				margin: 0.75rem 0 0 0;

				@include font( $industry, 0.75rem, 600 );

				@include text( none );

				@include typo( 1.125rem, 0.035em );

				@include color( white, 0.125 );

				// mobile
				@include breakpoint ( small only ) {

					// line breaks
					br {

						@include hide;

					}

				}

			}

			// button
			.button-link {

				position: relative;

				@include flex-h-c-v-c( true );

				height: 4rem;
				margin: 1.5rem 0 0 0;
				padding: 0.0625rem 1.5rem 0 1.5rem;

				@include font( $klavislim, 1rem, 400 );

				@include text( $up );

				@include typo( 0.6875rem, 0.045em );

				@include color( white, 0.000 );

				@include fill( white, 0.965 );

				@include shadowbox( 1rem, 3rem, black, 0.165 );

				transition: all 220ms linear 0ms;

				text-decoration: none;

				// hover state
				&:hover,
				&:focus,
				&:active {

					@include fill( white, 0.865 );

					// corners
					.corners {

						// common
						&.right,
						&.left {

							// lines
							&:before,
							&:after {

								transition: all 120ms $ocirc 0ms;

							}

						}

						// left
						&.left {

							// top
							&:before {

								width: 100%;
								height: 100%;

								transition-delay: 0ms;

							}

							// bottom
							&:after {

								width: 100%;
								height: 100%;

								transition-delay: 30ms;

							}

						}

						// right
						&.right {

							// top
							&:before {

								width: 100%;
								height: 100%;

								transition-delay: 0ms;

							}

							// bottom
							&:after {

								width: 100%;
								height: 100%;

								transition-delay: 30ms;

							}

						}

					}

				}

				// corners
				.corners {

					position: absolute;

					top: 0;
					bottom: 0;

					z-index: 0;

					width: 50%;
					height: 4rem;

					// left
					&.left {

						left: 0;

						// common
						&:before,
						&:after {

							left: 0;

							border-right: none;

						}

						// top
						&:before {

							top: 0;

							width: 0.5rem;

							border-bottom: none;

							transition-delay: 0ms;

						}

						// bottom
						&:after {

							bottom: 0;

							width: 0.5rem;

							border-top: none;

							transition-delay: 30ms;

						}

					}

					// right
					&.right {

						right: 0;

						// common
						&:before,
						&:after {

							right: 0;

							border-left: none;

						}

						// top
						&:before {

							top: 0;

							width: 0.5rem;

							border-bottom: none;

							transition-delay: 0ms;

						}

						// bottom
						&:after {

							bottom: 0;

							width: 0.5rem;

							border-top: none;

							transition-delay: 30ms;

						}

					}

					// lines
					&:before,
					&:after {

						content: '';

						position: absolute;

						width: 0.5rem;
						height: 0.5rem;

						border: 1px solid $gold;

						transition: all 240ms $ocirc 0ms;

					}

				}

			}

		}

	}
