// stylesheet :: special unit contact styles

    // settings
    $special : 1rem;

    // styles
    .contact-information {

        position: relative;

        min-height: 50vh;
        padding: 0 0 0 0;

        @include color( white, 0.165 );

        @include fill( $nite, 0.000 );

        // mobile
        @include breakpoint ( small only ) {

            min-height: 100vh;
            padding: 0 0 0 0;

        }

        // slide
        .ui-slide {

            // position: absolute;

            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            z-index: 10;

            @include flex-h-e-v-t( false );

            display: flex !important;

            min-height: 50vh;
            margin: 0 0 0 0;

            // mobile
            @include breakpoint ( small only ) {

                @include flex-v-b-h-st( false );

                min-height: 100vh;

            }

            // image
            .image-container {

                position: absolute;

                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                z-index: 10;

                background: {

                    image: url(../img/billboards/billboard.33.jpg);
                    repeat: no-repeat;
                    size: cover;
                    position: center center;

                }

                // after
                &:after {

                    content: '';

                    position: absolute;

                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;

                    z-index: 10;

                    @include fill( $dark, 0.365 );

                }

            }

            // content
            .content-wrapper {

                position: relative;

                z-index: 20;

                @include flex-v-b-h-s( false );

                flex-basis: 50%;

                min-height: 50vh;
                padding: 5rem 5rem 5rem 5rem;

                @include fill( $nite, 0.115 );

                @include gradient(

                    0deg,
                    $g135, 0.175, 0%,
                    transparent, 1.000, 100%

                );

                // mobile
                @include breakpoint ( small only ) {

                    @include flex-v-b-h-st( false );

                    flex-basis: 100%;

                    height: auto;
                    min-height: 0;
                    padding: 3rem 3rem 3rem 3rem;

                    @include fill( $cvnavy, 1.000 );

                    @include gradient(

                        0deg,
                        $g135, 0.175, 50%,
                        transparent, 1.000, 80%

                    );

                }

            }

            // link
            .email {

                @include color( white, 0.000 );

            }

        }

        // title
        h2 {

            @include font( $klavislim, auto, 400 );

            @include color( $gold, 0.000 );

        }

        // text
        p {

            margin: 0 0 2rem 0;
            padding: 0 0 0 0;

            @include font( $industry, 0.875rem, 600 );

            // text-align: center;

            @include typo( 1.5rem, 0.025em );

            // last child
            &:last-child {

                margin: 0 0 0 0;

            }

        }

        // social media buttons
        .social-media-links {

            @include flex-h-s-v-st( false );

            // link
            .social-link {

                @include flex-v-c-h-c( true );

                width: 2rem;
                height: 2rem;
                margin: 0 0.5rem 0 0;
                padding: 0.5rem 0.5rem 0.5rem 0.5rem;

                @include fill( white, 0.925 );

                background: {

                    repeat: no-repeat;
                    size: 1rem 1rem;
                    position: center center;

                }

                transition: all 220ms linear 0ms;

                // hover state
                &:hover {

                    transition: all 220ms linear 0ms;

                }

                // facebook
                &.facebook {

                    background: {

                        image: url(../img/icons/social/facebook.svg);

                    }

                    &:hover,
                    &:focus,
                    &:active {

                        @include fill( $facebook, 0.115 );

                    }

                }

                // instagram
                &.instagram {

                    position: relative;

                    background: {

                        image: url(../img/icons/social/instagram_new.svg);

                    }

                    // before
                    &:before {

                        content: '';

                        position: absolute;

                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;

                        z-index: -1;

                        background: {

                            image: url(../img/icons/social/instagram.gradient.png);
                            repeat: no-repeat;
                            size: 2rem 2rem;

                        }

                        opacity: 0.000;

                        transition: all 220ms linear 0ms;

                    }

                    &:hover,
                    &:focus,
                    &:active {

                        background: {

                            image:

                                url(../img/icons/social/instagram_new.svg),
                                url(../img/icons/social/instagram.gradient.png)

                            ;

                            size: 1rem 1rem, 2rem 2rem;

                        }

                        // before
                        &:before {

                            opacity: 1.000;

                            transition: all 220ms linear 0ms;

                        }

                    }

                }

                // twitter
                &.twitter {

                    background: {

                        image: url(../img/icons/social/twitter.svg);

                    }

                    &:hover,
                    &:focus,
                    &:active {

                        @include fill( $twitter, 0.085 );

                    }

                }

                // youtube
                &.youtube {

                    background: {

                        image: url(../img/icons/social/youtube.svg);

                    }

                    &:hover,
                    &:focus,
                    &:active {

                        @include fill( $youtube, 0.085 );

                    }

                }

                // linkedin
                &.linkedin {

                    background: {

                        image: url(../img/icons/social/linkedin.svg);

                    }

                    &:hover,
                    &:focus,
                    &:active {

                        @include fill( $linkedin, 0.105 );

                    }

                }

                // label
                .link-label {

                    position: absolute;

                    visibility: hidden;

                }

            }

        }

    }

    // rebuild
    .contact-information {

        padding: 3rem 5rem 3rem 5rem;

        @include fill( $dark, 0.265 );

    }
