// stylesheet :: font variables

    // stratum
    $stratum   : 'Stratum';

    // industry
    $industry  : 'Industry';

    // klavika
    $klavika   : 'Klavika', 'Clio';

    // klavika ( condensed )
    $klavislim : 'Klavika Condensed', 'Clio Condensed';

    // roboto
    $mono-font : 'RobotoMono';

    // decima
    $decima : 'Decima Mono';

    // centima
    $cent-font : 'Centima Mono';

    // codicons
    $codicons  : 'codicons';

    // proxima
    $proxima   : 'ProximaNova';

    // vitesse
    $vitesse   : 'Vitesse';
